{% set conference_locale = (app.request.requestUri == '/en' ? 'en' : 'ru') %}
{% set conference_translations = {
    'ru': {
        'menu': {
            speakers: "ЭКСПЕРТЫ",
            schedule: "ПРОГРАММА",
            tickets: "БИЛЕТЫ",
            contacts: "КОНТАКТЫ",
            partners: "ПАРТНЕРЫ",
            VogueUAConference: "#VogueUAConference",
            VogueUAConference2016: "КОНФЕРЕНЦИЯ 2016",
        },
        'top': {
            date: "26 апреля 2017",
            buy_btn: "КУПИТЬ БИЛЕТЫ",
            buy_link: "https://www.concert.ua/eventpage/vogue-conference",
            register: "РЕГИСТРАЦИЯ СМИ",
            categories_details: "Подробнее о категориях билетов"
        },
        'about': {
            title: "О проекте",
            text: [
                'Куда движется мир моды и кто задает тренды?<br> Как современный fashion-бизнес адаптируется в условиях digital? Как дизайнерам завоевать новые рынки и создать правильную бизнес-стратегию? Узнайте на конференции Vogue UA.',
                'Уникальный опыт экспертов из Нью-Йорка, Лондона и Милана. Практические советы из первых уст CFDA, Google и Polimoda. Лучшие кейсы от консультантов Hermès, Nike, Swarovski, Rebecca Minkoff, Banana Republic и других успешных компаний.',
                'Владельцам модного бизнеса расскажут о том, какие тенденции в скором времени станут актуальны для Украины. Ретейлерам и производителям – о ведении бизнеса на восточных рынках. Маркетологам предложат самые эффективные инструменты продвижения.'
            ]
        },
        'price': [
            {date: "Март 2017", price_list: [
            {type: "Silver ", price: "4 000 грн"},
            {type: "Gold ", price: "7 000 грн"},
            {type: "Platinum", price: "9 000 грн"}]},
            {date: "Апрель 2017", price_list: [
            {type: "Silver ", price: "4 500 грн"},
            {type: "Gold ", price: "7 500 грн"},
            {type: "Platinum", price: "10 000 грн"}]}
        ],
        'schedule' : [
            {time: "10:00-11:00", name: "Регистрация", description: "Welcome coffee",  text: ""},

            {time: "11:00-11:20", name: "модератор – Андрей Федорив", description: "Официальное открытие", text: ""},

            {time: "11:20-11:45", name: "Стив Троу", description: "Современный мир роскоши", text: ""},

            {time: "11:45-12:10", name: "Линда Лоппа (по скайпу)", description: "Время против вечности: создать бренд, который войдет в историю", text: ""},

            {time: "12:10-12:35", name: "Маттео Барди", description: "B2B без границ", text: ""},

            {time: "12:35-13:00", name: "Алекс Браунлесс", description: "Запуск бренда онлайн", text: ""},

            {time: "13:00-13:25", name: "Нина Левчук", description: "Ask Google: трансформация бизнеса в digital и mobile", text: ""},

            {time: "13:25-14:15", description: "Обед", text: ""},

            {time: "14:15-14:40", name: "Данило Вентури", description: "Брендинг подсознания", text: ""},

            {time: "14:40-15:05", name: "Сара Козловски", description: "Синергия моды, бизнеса и образования: устойчивое развитие", text: ""},

            {time: "15:10-15:50", name: "Лиззи Боуринг", description: "A/W 2017-18: аналитика и прогнозы трендов", text: ""},

            {time: "15:50-16:50", name: "Стив Троу, Маттео Барди, Нина Левчук, Алекс Браунлесс, Лиззи Боуринг, Сараз Козловски, Данило Вентури", description: "Talk Show
", text: ""},

            {time: "16:50-17:20", description: "Moët & Chandon Break", text: ""}
        ],
        'map': {
            name: "место проведения",
            title: "Fairmont Grand Hotel Kyiv",
            address: "ул. Набережно-Крещатицкая 1",
            tel_info: {
                title: "Телефон для справок",
                number: "(044) 205-40-71"
            },
            tel_buy: {
                title: "Приобретение билетов",
                number: "(044) 222-00-22"
            },
            show: "Посмотреть на карте"
        },
        'speakers': [
            {
                imgnum: 9,
                name: "Лиззи Боуринг",
                short: "Директор департамента модных показов WGSN, Великобритания",
                full: [
                "WGSN – мировой лидер по прогнозированию тенденций в сфере моды и промышленного дизайна; Лиззи Боуринг курирует обзоры подиумов и анализ трендов в сегменте женской одежды. Являясь опытным творческим лидером в области глобального дизайна и розничной торговли, Лиззи руководила отделами трендов и дизайна в Nordstrom, Sears, Spiegel и Coles Myer Retail. Отвечала за разработку коммерческого предложения в сфере женской одежды – от анализа тенденций до выбора цвета конечного продукта."
                ]
            },
            {
                imgnum: 2,
                name: "Маттео Барди",
                short: "Соучредитель агентства Mattori. Fashion-скаут и эксперт по стилю, Италия",
                full: [
                    "Маттео Барди, консультирует игроков международной ретейл-индустрии. Его семинары пользуются популярностью во всем мире от США до Сингапура (за последние годы Маттео консультировал бренды в Нью-Йорке, Мехико,Сеуле, Бейруте, Пекине, Шанхае, Мадриде и Милане). Основанная им Studio Mattori предлагает новую концепцию продаж, объединяющую итальянские бренды с лучшими ретейлерами Китая. Курирует The  Hive Showroom, специализирующийся на стратегическом маркетинге и развитии брендов в сегменте luxury. Профессор курса Fashion, Styling and Textile в Новой академии изящных искусств (Милан).",
                    "Среди клиентов – Camera Nazionale della Moda Italiana, Массачусетский технологический университет (Бостон), Hugo Boss, Diesel Group и China Fashion Association.",
                ]
            },
            {
                imgnum: 3,
                name: "Нина Левчук",
                short: "Менеджер Google Marketing Solutions в странах Центральной и Восточной Европы, Ирландия",
                full: [
                    "Идеолог и организатор первой в Украине Digital Академии Google для женщин. Нина имеет более 7 лет профессионального опыта в маркетинге, цифровых технологиях и продажах. Руководит отделом по развитию клиентов в Google, управляет командами в странах Балтии, Украине, Болгарии и других. Специализируется на цифровых стратегиях по развитию бизнеса при помощи инструментов Google Adwords и платформы YouTube. Среди клиентов ее команды – MatchesFashion.com, Coty, Swarovski и многие другие.",
                ]
            },
            {
                imgnum: 4,
                name: "Стив Троу",
                short: "Финансовый и административный директор Hermès, Италия",
                full: [
                    "Более 15 лет работает в индустрии моды и роскоши. Ответственный за HR и бизнес процессы в HCP Italy (Hermès Group), Стив разбирается во всех тонкостях отбора специалистов в больших fashion-корпорациях, специализируясь на теме luxury-ретейла, оптовых продаж и производства. Прошел весь путь карьерной эволюции в модных Домах Италии и Великобритании: от внутреннего аудитора и финансового контролера до финансового директора. Работал в Gucci, Sergio Rossi, а сейчас в Hermès.",
                ]
            },
            {
                imgnum: 5,
                name: "Сара Козловски",
                short: "Директор отдела Образования и профессионального развития в Совете модельеров Америки (CFDA), США",
                full: [
                    "Получила степень dMBA в Калифорнийском колледже искусств. Более 11 лет занимала руководящие позиции в академической среде, из них 3 года – пост директора по внешним партнерствам в престижной Школе дизайна Парсонс. Сегодня Сара –  fashion- и дизайн-стратег ассоциации CFDA, совет директоров которой возглавляют Дайан фон Фюрстенберг, Майкл Корс и Вера Вонг. Сара Козловски курирует образовательные программы совета и инициативы по устойчивому развитию американской индустрии моды. Организатор креативных коллабораций для Style.com, Coach, Uniqlo, Gap Inc. и Louis Vuitton.",
                ]
            },
            {
                imgnum: 6,
                name: "Данило Вентури",
                short: "Директор Polimoda, Италия",
                full: [
                "Консультант и директор Международного института модного дизайна и бизнеса Polimoda. Данило Вентури – специалист по fashion-дизайну и стратегическому брендингу, лектор. Имеет большой опыт работы в e-commerce секторе, консультировал итальянский luxury-бренд La Perla, основал один из первых концепт-сторов в Болонье. Занимается исследованиями в области этики и эстетики, сторонник концептуального подхода к моде. Автор книг Luxury Hackers и Momenting the Memento.",
                "Высшая школа, которой руководит Данило, была основана в 1986 году во Флоренции модельером Эмилио Пуччи и почетным вице-президентом Технологического института моды Ширли Гудман. Polimoda создала концепцию «смещения моды» (fashion displacement), которая на первый план ставит содержание и реальность, протестуя против культуры потребления и гламура."
                ]
            },
            {
                imgnum: 7,
                name: "Линда Лоппа",
                short: "Советник по стратегии и видению, Polimoda, Бельгия",
                full: [
                "Главный fashion-наставник европейских модников Линда Лоппа воспитала звездное поколение бельгийских дизайнеров, творческий тандем братьев Гвасалия – и занимается развитием fashion-образования в Италии. Входит в число 500 самых влиятельных людей в мире моды по версии BoF. За 25 лет работы деканом факультета моды Королевской академии изящных искусств в Антверпене Линда открыла «антверпенскую шестерку», Рафа Симонса и Мартина Марджелу. Сделала из академии настоящую кузницу творческих кадров в моде. В 1996 году основала Flanders Fashion Institute и восемь лет руководила MoMu – главным музеем моды в стране. С 1991 по 1997 год была менеджером отдела дистрибьюции в Dries Van Noten. В январе 2016 года основала в Париже компанию LINDA LOPPA FACTORY. В настоящее время также является членом Консультативного совета предстоящей выставки Items: Is Fashion Modern? в нью-йоркском музее MоMA."
                ]
            },
            {
                imgnum: 1,
                name: "Алекс Браунлесс",
                short: "Соучредитель и Президент Arts Thread International, Великобритания",
                full: [
                "Алекс является одним из основателей образовательной digital площадки ARTS THREAD, которая помогает студентам творческих специальностей найти работу во всем мире. За последние 8 лет более тысячи молодых дизайнеров смогли работать на международном рынке и создать собственные бренды благодаря поддержке ARTS THREAD. Эта международная платформа поддерживается глобальными корпорациями в том числе Nike, Levi’s и Urban Outfitters и открывает возможности для глобального нетворкинга между профессионалами креативной индустрии.",
                "Свою карьеру в качестве дизайнера текстиля Алекс начинал в Banana Republic, Gap и M&S. Позже руководил успешной streetwear-маркой NASA и консультировал производителей тканей в Китае, Индии, Турции, на Шри-Ланке и в Пуэрто-Рико. Возглавлял международный отдел моды в крупнейшем консалтинге по подбору персонала для креативных индустрий Aquent.",
                ]
            },
            {
                imgnum: 8,
                name: "Андрей Федорив (модератор)",
                short: "Основатель и владелец агентства FEDORIV",
                full: [
                    "Маркетолог №1 в Украине, член наблюдательного совета Всеукраинской рекламной коалиции, основатель агентства FEDORIV. С 1996 года руководил разработкой и запуском нескольких сотен брендов. Преподаватель маркетинга и инноваций с 10-летним опытом, автор трех курсов. В 2014 году открыл FEDORIV Hub – уникальную площадку, где встречаются таланты и бизнес. Неоднократно был признан лучшим спикером на профильных международных конференциях. Среди клиентов агентства FEDORIV – Helen Marlen, modnaKasta, SOVA, Новая Почта, Ощадбанк, Olx, Egersund, Winetime и другие."
                ]
            }
        ],
        'details' : "Подробнее",
        'articles': [
            {
                image: '1.png',
                title: "Украинский Vogue проведет вторую Fashion & Business конференцию",
                link: "https://vogue.ua/article/fashion/brend/ukrainskiy-vogue-provedet-fashion-business-konferenciyu.html",
            },
            {
                image: '12.jpeg',
                title: "Что нужно знать о Линде Лоппе, главном fashion-наставнике европейских модников",
                link: "https://vogue.ua/article/fashion/persona/horoshaya-devochka-linda.html",
            },
            {
                image: '13.png',
                title: "Первые лица Polimoda, CFDA и Google на конференции Vogue UA",
                link: "https://vogue.ua/article/fashion/brend/pervye-lica-hermes-cfda-i-google-na-konferencii-vogue-ua.html",
            },
            {
                image: '14.png',
                title: "Самые известные выпускники итальянской fashion-школы Polimoda",
                link: "https://vogue.ua/article/fashion/persona/samye-izvestnye-vypuskniki-italyanskoy-fashion-shkoly-polimoda.html",
            },
            {
                image: '15.png',
                title: "10 цитат fashion-гуру Данило Вентури",
                link: "https://vogue.ua/article/fashion/persona/10-citat-fashion-guru-danilo-venturi.html",
            },
            {
                image: '7.jpeg',
                title: "Кто предсказывает модные тренды?",
                link: "https://vogue.ua/article/fashion/brend/kto-predskazyvaet-modnye-trendy.html",
            },
            {
                image: '7.png',
                title: "На конференции Vogue UA выступит Лиззи Боуринг из WGSN",
                link: "https://vogue.ua/article/fashion/persona/no-konferencii-vogue-ua-vystupit-lizzi-bouring-iz-wgsn.html",
            },
            {
                image: '8.png',
                title: "10 лучших fashion-школ мира",
                link: "https://vogue.ua/article/fashion/persona/10-luchshih-fashion-shkol-mira.html",
            },
            {
                image: '2.png',
                title: "Почему мода и технологии не могут друг без друга?",
                link: "https://vogue.ua/article/culture/living/pochemu-moda-i-tehnologii-ne-mogut-drug-bez-druga.html",
            },
            {
                image: '3.png',
                title: "Сара Козловски из CFDA на конференции Vogue в Украине",
                link: "https://vogue.ua/article/fashion/persona/sara-kozlovski.html",
            },
            {
                image: '4.png',
                title: "Лиззи Боуринг о влиянии политики на моду и \"охоте\" за трендами",
                link: "https://vogue.ua/article/fashion/persona/lizi-bouring-o-vliyanii-politiki-na-modu-i-ohote-za-trendami.html",
            },
            {
                image: '5.png',
                title: "Как прошла вторая Vogue UA Conference: Fashion & Business",
                link: "https://vogue.ua/gallery/events/kak-proshla-vtoraya-vogue-ua-conference-fashion-business.html",
            },
            {
                image: '6.png',
                title: "Джазовый вечер Vogue UA \"Stars in Jazz\" ",
                link: "https://vogue.ua/gallery/events/ukrainskie-muzykanty-v-dzhaze-na-aftepati-vogue-ua.html",
            },
            {
                image: '9.png',
                title: "Другой взгляд: как прошла #VogueUAConference",
                link: "https://vogue.ua/article/formen/lifestyle/drugoy-vzglyad-kak-proshla-vogueuaconference.html",
            },
            {
                image: '10.png',
                title: "Вторая конференция Vogue UA о моде и бизнесе (видео)",
                link: "https://vogue.ua/voguetv/vtoraya-konferenciya-vogue-ua-o-mode-i-biznese.html",
            },{
                image: '11.png',
                title: "Украинские знаменитости на вечеринке \"Stars in Jazz\"",
                link: "https://vogue.ua/voguetv/ukrainskie-znamenitosti-na-vecherinke-stars-in-jazz.html",
            }
        ],
        'partners' : {
            title : 'партнеры',
            link1 : 'http://www.fairmont-ru.com/kyiv/',
            link2 : 'http://voguecafe.kiev.ua/ru/',
            link3 : 'https://www.audi.ua/ua',
            link4 : 'https://www.wgsn.com/ru/',
            link5 : 'http://kmbs.ua/',
            link6 : 'https://www.instagram.com/suurwater/?hl=en'
        }
    },
    'en': {
        'menu': {
            speakers: "SPEAKERS",
            schedule: "SCHEDULE",
            tickets: "TICKETS",
            contacts: "СONTACTS",
            partners: "PARTNERS",
            VogueUAConference: "#VogueUAConference",
            VogueUAConference2016: "PAST CONFERENCE 2016",
        },
        'top': {
            date: "26 April 2017",
            buy_btn: "BUY TICKET",
            buy_link: "https://www.concert.ua/en/eventpage/vogue-conference",
            register: "Join us as press",
            categories_details: "Tickets categories details"
        },
        'about': {
            title: "About",
            text: [
                'Where is the fashion world going and who sets the trends?<br> How does modern fashion business adapt to the digital challenge? How can designers create effective business strategy for the new markets? Get answers at the Vogue UA Conference.',
                'Unique knowledge and speakers from the main fashion capitals New York, London and Milan. Firsthand advice and expertise from CFDA, Google, WGSN and Polimoda. Best cases from the consultants of Hermès, Nike, Swarovski, Rebecca Minkoff, Banana Republic and other successful brands.',
                'The conference will be relevant for fashion business owners, retailers and designers, brand managers and marketing professionals as it providing invaluable insights about the industry.'
            ]
        },
        'price': [
            {date: "March 2017", price_list: [
            {type: "Silver ", price: "4 000 uah"},
            {type: "Gold ", price: "7 000 uah"},
            {type: "Platinum", price: "9 000 uah"}]},
            {date: "April 2017", price_list: [
            {type: "Silver ", price: "4 500 uah"},
            {type: "Gold ", price: "7 500 uah"},
            {type: "Platinum", price: "10 000 uah"}]}
        ],
        'schedule' : [
            {time: "10:00-11:00", name: "REGISTRATION", description: "Welcome coffee",  text: ""},

            {time: "11:00-11:20", name: "MODERATOR - ANDRIY FEDORIV", description: "Opening remarks", text: ""},

            {time: "11:20-11:45", name: "STEVE TROW", description: "The Сurrent State of Luxury", text: ""},

            {time: "11:45-12:10", name: "LINDA LOPPA (VIA SKYPE)", description: "Time Against Timeless", text: ""},

            {time: "12:10-12:35", name: "MATTEO BARDI", description: "B2B Without Borders: Doing Business Offline", text: ""},

            {time: "12:35-13:00", name: "ALEX BROWNLESS", description: "Launching Brand Online", text: ""},

            {time: "13:00-13:25", name: "NINA LEVCHUK", description: "Ask Google: How Digital & Mobile can Transfer Fashion Business", text: ""},

            {time: "13:25-14:15", description: "Lunch", text: ""},

            {time: "14:15-14:40", name: "DANILO VENTURI", description: "Branding the Subconscious", text: ""},

            {time: "14:40-15:05", name: "SARA KOZLOWSKI", description: "Synergy of Fashion, Business and Education", text: ""},

            {time: "15:10-15:50", name: "LIZZY BOWRING", description: "A/W 2017/18 Buyers Briefing: Latest Catwalk Analytics", text: ""},

            {time: "15:50-16:50", name: "Steve Trow, Matteo Bardi, Nina Levchuk, Lizzy Bowring, Sara Kozlowski, Danilo Venturi", description: "Talk Show
            ", text: ""},

            {time: "16:50-17:20", description: "Moët & Chandon Break", text: ""}
        ],
        'map': {
            name: "Venue",
            title: "Fairmont Grand Hotel Kyiv",
            address: "1, Naberezhno-Khreshchatytska St",
            tel_info: {
                title: "For inquiries",
                number: "+38 (044) 205-40-71"
            },
            tel_buy: {
                title: "Tickets purchase",
                number: "+38 (044) 222-00-22"
            },
            show: "View map"
        },
        'speakers': [
            {
                imgnum: 9,
                name: "Lizzy Bowring",
                short: "Director of Catwalks, WGSN (UK)",
                full: [
                "WGSN is a flagship trend forecasting service with global experts tracking near- and long-term trends across 14 fashion categories. Lizzy Bowring oversees WGSN’s comprehensive catwalk coverage and womenswear analysis. Being a seasoned creative leader in the global design and retail industry she has worked in trend and design director positions at Nordstrom, Sears, Spiegel and Coles Myer Retail. She was responsible for developing commercial product, specialising in women's apparel, trend, colour and product development."
                ]
            },
            {
                imgnum: 2,
                name: "Matteo Bardi",
                short: "Co-founder of Mattori Аgency. Fashion scout and style expert (Italy)",
                full: [
                    "From his own fashion label, to lectures in Universities (being a Professor for Fashion, Styling and Textile) and consulting, Matteo is a world-renowned fashion consultant (in recent years he has been working with brands in New York, Mexico City, Seoul, Beirut, Beijing, Shanghai, Madrid and Milan). His agency Studio Mattori developed a new concept of online and offline sales connecting italian brands with the best retailers in China. Matteo Bardi also curates The HIVE Showroom in Guangzhou, specializing in strategic marketing and branding for the luxury segment.",
                    "His clients include: Camera Nazionale della Moda Italiana, M.I.T., Hugo Boss, Diesel Group, China Fashion Association and many others.",
                ]
            },
            {
                imgnum: 3,
                name: "Nina Levchuk",
                short: "Manager Google Marketing Solutions, CEE (Ireland)",
                full: [
                    "Ideologist and founder of the first Google Women’s Digital Academy in Ukraine. Nina is a professional in tech industry with 7 + years experience in online media marketing, digital advertising and sales. She is leading Google Marketing Solutions for SMB clients at Google managing cross-functional teams in CE. She is an expert in digital marketing strategy working with Google Adwords and YouTube platform. Among the fashion-clients of her team – big names such as mathesfashion.com, Coty and Swarovski.",
                ]
            },
            {
                imgnum: 4,
                name: "Steve Trow",
                short: "Director of Finance & Administration – HCP Italy at Hermès (Italy)",
                full: [
                    "Steven Trow has been working in the fashion and luxury industry in Italy and the UK for over 15 years for companies such as Gucci, Sergio Rossi and now Hermès. Steve performs the function of CFO and HR Manager at HCP Italy (Hermès Group) and has a profound knowledge on the selection processes in large fashion multinationals. He has a wide range of experience of luxury retail, wholesale and production gained from various roles: Internal Auditor, Financial Controller, Group Financial Controller, Finance Director.",
                ]
            },
            {
                imgnum: 5,
                name: "Sara Kozlowski",
                short: "Director of Education + Professional Development at Council of Fashion Designers of America (USA)",
                full: [
                    "Sata Kozlowski holds an dMBA in Design Strategy from California College of the Arts. She has 11 years of experience in academic leadership including 3 years as Director of External Partnerships/ Professor of Fashion at the prestigious Parsons School of Design. Today Sara is a fashion design strategist at the CFDA association, whose board of directors is led by Diane von Furstenberg, Michael Kors and Vera Wang. From scholarship to sustainability Sarah Kozlowski applies a holistic approach to the strategic management of the CFDA’s educational initiatives. Organized academic collaborations with Style.com, Coach, Uniqlo, Gap Inc. and Louis Vuitton.",
                ]
            },
            {
                imgnum: 6,
                name: "Danilo Venturi",
                short: "Director at Polimoda (Italy)",
                full: [
                "Lecturer, Consultant and Director of Polimoda, International Institute of Fashion Design & Business. Specialised in Art Directing and Strategic Branding for fashion, with an interdisciplinary career featuring e-commerce and luxury lingerie brand La Perla. He was a founder of the first concept store formats. Obsessed with ethic and aesthetic research, proponent of a conceptual approach to fashion, a visionary manager, author of Luxury Hackers and Momenting the Memento.",
                "Polimoda was founded in 1986 by two trailblazers of the industry – Don Emilio Pucci and Shirley Goodman, the former Executive Vice President Emeritus at FIT in New York. The institute advocates the concept of fashion displacement that brings attention back to what really counts: content and simple reality as opposed to glamour and ethics of possession."
                ]
            },
            {
                imgnum: 7,
                name: "Linda Loppa",
                short: "Advisor Strategy & Vision for Polimoda (Belgium)",
                full: [
                "Linda Loppa brought up the star generation of Belgian designers, the creative tandem of the Gvasalia brothers and is now engaged in the development of fashion education in Italy. One of the 500 most influential people in the world of fashion according to BoF.",
                "For 25 years she worked as a Dean of the Fashion Faculty of the Royal Academy of Fine Arts in Antwerp, and discovering the \"Antwerp Six\", Raf Simons and Martin Margiela. In 1996 she contributed to the creation and development of the Flanders Fashion Institute, and for eight years led the MoMu, the main fashion museum in the country. From 1991 to 1997 she worked part-time as manager of the worldwide distribution department of Dries Van Noten.",
                "In January 2016, she founded her company LINDA LOPPA FACTORY based in Paris. She is also currently a Member of the Advisory Board of MoMa New York for the up-coming exhibition Items: Is Fashion Modern?"
                ]
            },
            {
                imgnum: 1,
                name: "Alex Brownless",
                short: "Co-Founder & President of Arts Thread International (UK)",
                full: [
                "Alex is a co-founder of Arts Thread, the world's leading new creative's digital platform, that connects students in the fashion and creative fields with potential employers. Over the last 8 years Arts Thread has helped thousands of new creatives launch their own brands and gain employment worldwide. Partners of the platform include Nike, Levi’s and Urban Outfitters and other well-known brands providing opportunities  for global networking among professionals in the creative and fashion spheres.",
                "Alex graduated with a BA Honours in Textile Design in the early 1990's and has a rather diverse career, designing for such companies as Banana Republic, Gap, M&S etc. He headed up the successful streetwear brand NASA, has consulted for fashion/textile manufacturers  in China, India, Sri Lanka , Turkey & Puerto Rico supplying many retailers & brands worldwide. He also headed up the international fashion division at the world's largest creative recruitment consultancy Aquent.",
                ]
            },
            {
                imgnum: 8,
                name: "Andriy Fedoriv (moderator)",
                short: "Founder of FEDORIV agency (Ukraine)",
                full: [
                "Marketer №1 in Ukraine - Member of the supervisory board of the All-Ukrainian Advertising Coalition, founder and owner at FEDORIV agency. He led the development and launch of several hundred brands since 1996. Teacher of marketing and innovation with 10 years experience, creator of three marketing courses. He was repeatedly voted the best speaker at specialized international conferences. Among clients of FEDORIV agency there are Helen Marlen, modnaKasta, SOVA, Olx, Egersund, Winetime and many others."
                ]
            }
        ],
        'details' : "Details",
        'articles': [
            {
                image: '1.png',
                title: "Ukrainian Vogue to host its second Fashion & Business Conference",
                link: "https://vogue.ua/article/fashion/brend/ukrainskiy-vogue-provedet-fashion-business-konferenciyu.html",
            },
            {
                image: '12.jpeg',
                title: "Meet Linda Loppa – the mentor of European fashionistas",
                link: "https://vogue.ua/article/fashion/persona/horoshaya-devochka-linda.html",
            },
            {
                image: '13.png',
                title: "Speakers from Polimoda, CFDA and Google at Vogue UA Conference",
                link: "https://vogue.ua/article/fashion/brend/pervye-lica-hermes-cfda-i-google-na-konferencii-vogue-ua.html",
            },
            {
                image: '14.png',
                title: "The most famous graduates of Polimoda Institute",
                link: "https://vogue.ua/article/fashion/persona/samye-izvestnye-vypuskniki-italyanskoy-fashion-shkoly-polimoda.html",
            },
            {
                image: '15.png',
                title: "10 quotes on fashion from Danilo Venturi",
                link: "https://vogue.ua/article/fashion/persona/10-citat-fashion-guru-danilo-venturi.html",
            },
            {
                image: '7.jpeg',
                title: "Who decides the fashion trends?",
                link: "https://vogue.ua/article/fashion/brend/kto-predskazyvaet-modnye-trendy.html",
            },
            {
                image: '7.png',
                title: "Lizzy Bowring of WGSN to speak at Vogue UA Conference",
                link: "https://vogue.ua/article/fashion/persona/no-konferencii-vogue-ua-vystupit-lizzi-bouring-iz-wgsn.html",
            },
            {
                image: '8.png',
                title: "The 10 Best Fashion Schools in the World",
                link: "https://vogue.ua/article/fashion/persona/10-luchshih-fashion-shkol-mira.html",
            },
            {
                image: '2.png',
                title: "Why fashion and technology go hand in hand",
                link: "https://vogue.ua/article/culture/living/pochemu-moda-i-tehnologii-ne-mogut-drug-bez-druga.html",
            },
            {
                image: '3.png',
                title: "Sara Kozlowski of CFDA to speak at Vogue conference in Ukraine",
                link: "https://vogue.ua/article/fashion/persona/sara-kozlovski.html",
            },
            {
                image: '4.png',
                title: " Lizzy Bowring on \"trends hunt\" and how politics influence fashion",
                link: "https://vogue.ua/article/fashion/persona/lizi-bouring-o-vliyanii-politiki-na-modu-i-ohote-za-trendami.html",
            },
            {
                image: '5.png',
                title: "Second Vogue UA Conference: Fashion & Business",
                link: "https://vogue.ua/gallery/events/kak-proshla-vtoraya-vogue-ua-conference-fashion-business.html",
            },
            {
                image: '6.png',
                title: "Vogue UA Conference \"Stars in Jazz\" Afterparty",
                link: "https://vogue.ua/gallery/events/ukrainskie-muzykanty-v-dzhaze-na-aftepati-vogue-ua.html",
            },
            {
                image: '9.png',
                title: "Alternative view: Vogue UA Conference 2017",
                link: "https://vogue.ua/article/formen/lifestyle/drugoy-vzglyad-kak-proshla-vogueuaconference.html",
            },
            {
                image: '10.png',
                title: "Vogua UA Fashion & Business Conference (video)",
                link: "https://vogue.ua/voguetv/vtoraya-konferenciya-vogue-ua-o-mode-i-biznese.html",
            },
            {
                image: '11.png',
                title: "Ukrainian celebrities at the \"Stars in Jazz\" afterparty",
                link: "https://vogue.ua/voguetv/ukrainskie-znamenitosti-na-vecherinke-stars-in-jazz.html",
            }
        ],
        'partners' : {
            title : 'partners',

            link1 : 'http://www.fairmont-ru.com/kyiv/',
            link2 : 'http://voguecafe.kiev.ua/ru/',
            link3 : 'https://www.audi.ua/ua',
            link4 : 'https://www.wgsn.com/ru/',
            link5 : 'http://kmbs.ua/',
            link6 : 'https://www.instagram.com/suurwater/?hl=en'
        }
    },
} %}
{% set conf_data = conference_translations[conference_locale] %}
{# layout.twig #}
<!DOCTYPE html>
<html {{ sonata_seo_html_attributes() }} class="empty">
<head {{ sonata_seo_head_attributes() }}>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=yes">
    <title>{{ page.page.title|default('Fashion Business Conference Украина') }}</title>
    <meta name="description" content="{{ page.page.metaDescription }}"/>
    <meta name="keywords" content="{{ page.page.metaKeyword }}"/>

    <meta property="og:type" content="website"/>
    <meta property="og:site_name" content="Vogue UA"/>
    <meta property="og:title" content="{{ page.page.title|default('Fashion Business Conference Украина') }}"/>
    <meta property="og:description" content="{{ page.page.metaDescription }}"/>
    <meta property="og:image" content="{{ asset('bundles/app/i/conference/conference_share.png') }}"/>
    <script async src="https://cdn.onthe.io/io.js/i60h92tAONqY"></script>

    {{ sonata_seo_link_canonical() }}
    {{ sonata_seo_links() }}

    {% stylesheets
    '@AppBundle/Resources/public/css/conference/conference.css'
    vars=["version"]
    filter='scssphp' output='static/css/compiled/conference_{version}.css' %}
    <link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}" />
    {% endstylesheets %}
    {% include "AppBundle::default/favicon.html.twig" %}

    {% if page is defined %}
    {% if page.javascript is not empty %}
        <script>
            {{ page.javascript|raw }}
        </script>
    {% endif %}

    {% if page.stylesheet is not empty %}
        <style>
            {{ page.stylesheet|raw }}
        </style>
    {% endif %}
    {% endif %}
</head>
<body class="theme--white empty conference2017">
{{ sonata_page_render_container('top') }}

<header id="anchor-menu">
    {#<div class="container">#}
        <a href="https://vogue.ua/" class="head-promo-logo -logo" target="_blank">
            {% include "AppBundle:Block:logo.svg.twig" %}
        </a>
        <a class="sponsor-block" href="https://www.audi.ua/ua" target="_blank"></a>
        <nav class="menu" id="menu">
            <a class="menu__item" href="#speakers" data-anchor="#">{{ conf_data['menu']['speakers'] }}</a>
            <a class="menu__item" href="#program" data-anchor="#">{{ conf_data['menu']['schedule'] }}</a>
            <a class="menu__item" href="#tickets" >{{ conf_data['menu']['tickets'] }}</a>
            <a class="menu__item" href="#contacts" >{{ conf_data['menu']['contacts'] }}</a>
            <a class="menu__item" href="#partners" >{{ conf_data['menu']['partners'] }}</a>
            <a class="menu__item link__item" href="http://conference.vogue.ua/2016" target="_blank">{{ conf_data['menu']['VogueUAConference2016'] }}</a>
        </nav>
    <div class="lang_switcher">
        {% set langs = [
            { title: 'en', href: '/en'},
            { title: 'ru', href: '/'},
        ] %}
        {% for lang_sw in langs %}
            <a href="{{ lang_sw.href }}" class="link__item {{ conference_locale == lang_sw.title ? 'active' : '' }}">{{ lang_sw.title }}</a>
        {% endfor %}
    </div>
        <a id="menu-sandwich" class="menu-sandwich" href="#">{% include "AppBundle:default/svg:menu.svg.twig" %}</a>

    {#</div>#}
</header>

<nav class="menu_responsive" id="menu_responsive">
    <a class="menu__item" href="#speakers" data-anchor="#">{{ conf_data['menu']['speakers'] }}</a>
    <a class="menu__item" href="#program" data-anchor="#">{{ conf_data['menu']['schedule'] }}</a>
    <a class="menu__item" href="#tickets" >{{ conf_data['menu']['tickets'] }}</a>
    <a class="menu__item" href="#contacts" >{{ conf_data['menu']['contacts'] }}</a>
    <a class="menu__item" href="#partners" >{{ conf_data['menu']['partners'] }}</a>
    <a class="menu__item link__item" href="http://conference.vogue.ua/2016" target="_blank">{{ conf_data['menu']['VogueUAConference2016'] }}</a>
</nav>

<main id="head">

    <div class="gradient_bg">

        <section class="top" id="top">
            <div class="container">
                <div class="top__logo">
                    {% include "AppBundle:Block:logo.svg.twig" %}
                </div>
                <h2 class="top__conference">CONFERENCE</h2>
                <h1 class="top__title"><span class="top__title__text">&nbsp;Fashion &amp; Business&nbsp;</span></h1>
                <div class="top__date">{{ conf_data['top']['date'] }}</div>
                <div class="centered-btn rel">
                    <a href="{{ conf_data['top']['buy_link'] }}" target="_blank" class="centered-btn__btn">{{ conf_data['top']['buy_btn'] }}</a>
                </div>
            </div>
        </section>

        <section class="about_">
            <div class="container">
                <h1 class="section-title">{{ conf_data['about']['title'] }}</h1>
                {% for text in conf_data['about']['text'] %}
                    <p>{{ text|raw }}</p>
                {% endfor %}
                <div class="sponsor-banner">
                    <a href="https://www.audi.ua/ua" target="_blank">
                        <img src="bundles/app/i/conference/banner.jpg" alt="">
                    </a>
                </div>
            </div>
        </section>

        {#<section class="with-wide-banner">#}
        {#<div class="container">#}
        {#<div class="with-banner_990-200">#}
        {#{{ sonata_page_render_container('banner') }}#}
        {#</div>#}
        {#</div>#}
        {#</section>#}
        <div class="container">
            <div class="divider"></div>
        </div>

        <section class="experts">
            <div class="container" id="speakers">
                <h1 class="section-title">{{ conf_data['menu']['speakers'] }}</h1>

                <div class="experts-list gallery">
                   {% for expert in conf_data['speakers'] %}
                        <div class="expert">
                            <div class="expert-centered">
                                <a href="{{ asset('bundles/app/i/conference/expert'~expert.imgnum~'_2017.png') }}"
                                   class=""
                                   data-caption="<p>{{ expert.full|join('</p><p>') }}</p>"
                                   data-description="{{ expert.short }}"
                                   data-name="{{ expert.name }}">
                                    <img class="expert__img" src="{{ asset('bundles/app/i/conference/expert'~expert.imgnum~'_2017.png') }}" alt="{{ expert.name }}">
                                    <h3 class="expert__name">{{ expert.name }}</h3>
                                    <div class="expert__description">{{ expert.short }}</div>
                                    <div class="expert__details">
                                        <span>{{ conf_data['details'] }}</span>
                                    </div>
                                </a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </section>

        <div class="container">
            <div class="divider"></div>
        </div>

        <section class="program">
            <div class="container" id="program">
                <h1 class="section-title">{{ conf_data['menu']['schedule'] }}</h1>
                <div class="schedule-list">
                    {% for item in conf_data['schedule'] %}

                        <div class="schedule__item">
                            <div class="schedule__item__time"><span class="schedule__item__time__position">{{ item.time }}</span></div>
                            <div class="schedule__item__description">
                                {% if item.name is defined %}
                                    <div class="schedule__item__description__name">{{ item.name }}</div>
                                    <div class="schedule__item__description__title">{{ item.description }}</div>
                                    <div class="schedule__item__description__text">{{ item.text }}</div>
                                {% else %}
                                    <div class="schedule__item__description__title schedule__item__description__title_without_name">{{ item.description }}</div>
                                    {% if item.text is defined %}
                                        <div class="schedule__item__description__text">
                                            {{ item.text }}
                                            {% if item.pdf_link is defined and item.pdf_title is defined %}
                                                <br/><a href="{{ item.pdf_link }}" class="schedule__item__description__pdf" target="_blank"><img src="/bundles/app/i/conference/pdf.svg"/>{{ item.pdf_title }}</a>
                                            {% endif %}
                                        </div>
                                    {% endif %}
                                {% endif %}


                            </div>
                        </div>

                    {% endfor %}
                </div>
            </div>
        </section>

        <section class="buy-ticket-wr">
            <div class="container" id="tickets">
                <div class="divider"></div>
                <h1 class="section-title">{{ conf_data['menu']['tickets'] }}</h1>
                <div class="price-list">
                    {% for key, item in conf_data['price'] %}
                        <div class="price {{ key >= 2 ? '-hide' : '' }}">
                            <h2 class="price__title">{{ item.date }}</h2>
                            {% for price_item in item.price_list %}
                                <div class="type-list">
                                    <div class="type-list__type">{{ price_item.type }}</div>
                                    <div class="type-list__price">{{ price_item.price }}</div>
                                </div>
                            {% endfor %}
                        </div>
                    {% endfor %}
                </div>
                <div class="ticket-link">
                    <a href="{{ asset('bundles/app/i/conference/tickets-categories-details_' ~ conference_locale ~ '.pdf') }}" target="_blank">
                        {{ conf_data['top']['categories_details']|upper }}
                    </a>
                </div>
                <div class="centered-btn">
                    <a href="{{ conf_data['top']['buy_link'] }}" target="_blank"  class="centered-btn__btn">{{ conf_data['top']['buy_btn'] }}</a>
                </div>
                <div class="ticket-link">
                    <a href="https://docs.google.com/forms/d/e/1FAIpQLSc6IiiGOez-LR8PKxm8k9NpoNCRybJimF031a9POkzPuKjyCw/viewform?c=0&w=1" target="_blank">
                        {{ conf_data['top']['register']|upper }}
                    </a>
                </div>
            </div>
        </section>

    </div>

    <section class="contacts-wr" id="contacts">
        <h1 class="section-title" >{{ conf_data['menu']['contacts'] }}</h1>
        <div class="contacts_responsive {{ conference_locale }}">
            <h3>{{ conf_data['map']['title'] }}</h3>
            <p>{{ conf_data['map']['address'] }}</p>
            <div>
                <p>
                    <span>{{ conf_data['map']['tel_info']['title'] }}:</span>
                    <span>{{ conf_data['map']['tel_info']['number'] }}</span>
                </p>
                <p>
                    <span>{{ conf_data['map']['tel_buy']['title'] }}:</span>
                    <span>{{ conf_data['map']['tel_buy']['number'] }}</span>
                </p>
            </div>
        </div>
        <div class="static-map-wr">
            <a class="centered-btn__btn" href="http://maps.google.com?q=50.460652,30.525586">{{ conf_data['map']['show'] }}</a>
            <div class="static-map {{ conference_locale }}"></div>
        </div>
        <div id="map" style="height: 100%;"></div>
        <script>
            function initMap() {
                var windowInfoContent = {
                    name: "{{ conf_data['map']['name'] }}",
                    title: "{{ conf_data['map']['title'] }}",
                    address: "{{ conf_data['map']['address'] }}",
                    tel_info: {
                        title: "{{ conf_data['map']['tel_info']['title'] }}",
                        number: "{{ conf_data['map']['tel_info']['number'] }}"
                    },
                    tel_buy: {
                        title: "{{ conf_data['map']['tel_buy']['title'] }}",
                        number: "{{ conf_data['map']['tel_buy']['number'] }}"
                    }
                };
                var hotel = {lat: 50.460652, lng: 30.525586};
                var styles = [
                    {
                        "featureType":"landscape",
                        "stylers":[
                            {"saturation":-100},
                            {"lightness":65},
                            {"visibility":"on"}
                        ]
                    },
                    {
                        "featureType":"poi",
                        "stylers":[
                            {"saturation":-100},
                            {"lightness":51},
                            {"visibility":"simplified"}
                        ]
                    },
                    {
                        "featureType":"road.highway",
                        "stylers":[
                            {"saturation":-100},
                            {"visibility":"simplified"}
                        ]
                    },
                    {
                        "featureType":"road.arterial",
                        "stylers":[
                            {"saturation":-100},
                            {"lightness":30},
                            {"visibility":"on"}
                        ]
                    },
                    {
                        "featureType":"road.local",
                        "stylers":[
                            {"saturation":-100},
                            {"lightness":40},
                            {"visibility":"on"}
                        ]
                    },
                    {
                        "featureType":"transit",
                        "stylers":[
                            {"saturation":-100},
                            {"visibility":"simplified"}
                        ]
                    },
                    {
                        "featureType":"administrative.province",
                        "stylers":[
                            {"visibility":"off"}
                        ]
                    },
                    {
                        "featureType":"water",
                        "elementType":"labels",
                        "stylers":[
                            {"visibility":"on"},
                            {"lightness":-25},
                            {"saturation":-100}
                        ]
                    },
                    {
                        "featureType":"water",
                        "elementType":"geometry",
                        "stylers":[
                            {"hue":"#ffff00"},
                            {"lightness":-25},
                            {"saturation":-97}
                        ]
                    }
                ];
                var map = new google.maps.Map(document.getElementById('map'), {
                    zoom: 18,
                    center: {lat: 50.461496, lng: 30.525586},
                    styles: styles,
                    scrollwheel: false
                });

                var contentString = '<div class="info-window">'+
                        '<h3 class="info-window__name">'+ windowInfoContent.name + '</h3>'+
                        '<div class="info-window__star"> {% for i in 1..5 %}{% include "AppBundle:default/svg:star.svg.twig" %} {% endfor %}</div>'+
                        '<h2 class="info-window__title">'+windowInfoContent.title+'</h2>'+
                        '<div class="info-window__address">'+windowInfoContent.address+'</div>'+
                        '<div class="info-window__tel">' +
                            '<div>' +
                                '<p>' + windowInfoContent.tel_info.title + '</p>' +
                                '<p>' + windowInfoContent.tel_info.number + '</p>' +
                            '</div>'+
                            '<div>' +
                                '<p>' + windowInfoContent.tel_buy.title + '</p>' +
                                '<p>' + windowInfoContent.tel_buy.number + '</p>' +
                            '</div>'+
                        '</div' +
                        '</div>';

                var infowindow = new google.maps.InfoWindow({
                    content: contentString
                });

                var marker = new google.maps.Marker({
                    position: hotel,
                    map: map,
                    title: '',
                    icon: '/bundles/app/i/conference/pin.svg'

                });
                infowindow.open( map, marker);
                marker.setVisible(false);
                marker.addListener('click', function() {
                    infowindow.open(map, marker);
                    marker.setVisible(false);
                });

                google.maps.event.addListener(infowindow,'closeclick',function(){
                    marker.setVisible(true);
                });
            }
        </script>
        <script async defer
                {#src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC-Iwp93hJaWgN9SfmQsq40oYsvQx84rbg&callback=initMap">#}
                src="https://maps.googleapis.com/maps/api/js?callback=initMap&language={{ conference_locale }}">
        </script>
    </section>

    <section class="partners" id="partners">
        <div class="container">
            <h1 class="section-title">{{ conf_data['partners']['title'] }}</h1>
            <div class="partners_list">
                <a href="{{ conf_data['partners']['link1'] }}" target="_blank" class="partner"></a>
                <a href="{{ conf_data['partners']['link2'] }}" target="_blank" class="partner"></a>
                <a href="{{ conf_data['partners']['link3'] }}" target="_blank" class="partner"></a>
                <a href="{{ conf_data['partners']['link4'] }}" target="_blank" class="partner"></a>
                <a href="{{ conf_data['partners']['link5'] }}" target="_blank" class="partner"></a>
                <a href="{{ conf_data['partners']['link6'] }}" target="_blank" class="partner"></a>
            </div>
            <div class="divider"></div>
        </div>
    </section>

    <section class="list_conferences" >
        <div class="container" id="VogueUAConference">
            <h1 class="section-title">{{ conf_data['menu']['VogueUAConference'] }}</h1>
            <div class="row">
                {% for article in conf_data['articles'] %}
                    <article class="article col-xs-12 col-sm-6 col-md-3 col-lg-3">
                        <a class="article__img" href="{{ article.link }}" target="_blank">
                            <img class="article__img__src" alt="{{ article.title }}" src="{{ asset('bundles/app/i/conference/list-conferences/'~article.image) }}"/>
                        </a>
                        <h3 class="article__title">
                            <a class="article__title__link" href="{{ article.link }}" target="_blank">{{ article.title }}</a>
                        </h3>
                    </article>
                {% endfor %}
            </div>
        </div>
    </section>
</main>

<footer>
    <div class="container">
        <div class="footer-soc">
            <a class="footer-soc__icon" href="https://www.facebook.com/VogueUkraine"
               target="_blank"></a>
            <a class="footer-soc__icon" href="http://vk.com/vogueukraine"
               target="_blank"></a>
            <a class="footer-soc__icon" href="https://www.instagram.com/vogue_ukraine/"
               target="_blank"></a>
            <a class="footer-soc__icon" href="https://www.pinterest.com/vogueukraine/"
               target="_blank"></a>
        </div>
    </div>
</footer>


{% block base_script %}
    <script src="{{ asset('bundles/app/js/conference/src/app.js') }}"></script>
    <script src="{{ asset('bundles/app/js/conference/src/baguetteBox.js') }}"></script>
    <script>
        baguetteBox.run('.experts-list');
    </script>
{% endblock %}
<script src="bundles/app/js/conference/src/jquery-3.1.1.min.js"></script>
<script src="bundles/app/js/conference/src/jquery.scrollto.js"></script>
<script src="bundles/app/js/conference/src/jquery.nav.js"></script>
<script>
    $(document).ready(function(){
        $("nav.menu a").click(function(evn){
            if (!$(this).hasClass('link__item')){
                evn.preventDefault();
                $('html,body').scrollTo($(this.hash).offset().top - 300, $(this.hash).offset().top - 120);
            }
        });
        var aChildren = $("nav.menu").children(); // find the a children of the list items
        var aArray = []; // create the empty aArray
        for (var i=0; i < aChildren.length; i++) {
            var aChild = aChildren[i];
            var ahref = $(aChild).attr('href');
            aArray.push(ahref);
        } // this for loop fills the aArray with attribute href values

        $(window).scroll(function(){
            var windowPos = $(window).scrollTop(); // get the offset of the window from the top of page
            var windowHeight = $(window).height(); // get the height of the window
            var docHeight = $(document).height();

            for (var i=0; i < aArray.length; i++) {
                var theID = aArray[i];
                var divPos = $(theID).offset().top - 400; // get the offset of the div from the top of page
                var divHeight = $(theID).height(); // get the height of the div in question
                if (windowPos >= divPos && windowPos < (divPos + divHeight)) {
                    $("a[href='" + theID + "']").addClass("-active");
                } else {
                    $("a[href='" + theID + "']").removeClass("-active");
                }
            }

            if(windowPos + windowHeight == docHeight) {
                if (!$("nav li:last-child a").hasClass("-active")) {
                    var navActiveCurrent = $(".nav-active").attr("href");
                    $("a[href='" + navActiveCurrent + "']").removeClass("-active");
                    $("nav li:last-child a").addClass("nav-active");
                }
            }
        });
    });
</script>
</body>
</html>