{# layout.twig #}
<!DOCTYPE html>
<html {{ sonata_seo_html_attributes() }} class="empty">
<head {{ sonata_seo_head_attributes() }}>
    {{ sonata_seo_title() }}
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=yes">
    <title>Vogue UA Conference</title>
    <meta name="keywords" content="портал для женщин, женский интернет журнал, женская мода, мода 2015, осень &ndash; зима, весна - лето, новости мира моды, фотографии с подиума, последние тенденции, новые коллекции, показы известных дизайнеров, коллекции сезона зима-весна, репортажи с показов мод, недели высокой моды, в милане, париже, лондоне, нью йорке, копенгагене, москве, от кутюр, haute couture, интервью и статьи, био" />
    <meta name="description" content="Первая в Украине конференция Vogue UA совместно с London College of Fashion. Международные эксперты в сфере fashion-ретейла, коммуникаций и дизайна" />
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="Vogue UA Conference" />
    <meta property="og:title" content="Vogue UA Conference" />
    <meta property="og:description" content="Vogue UA совместно с London College of Fashion, University of the Arts London, проводит первую в Украине конференцию на тему Fashion & Business при участии международных экспертов в сфере fashion-ритейла, коммуникаций и дизайна." />
    <meta property="og:image" content="{{ asset('bundles/app/i/conference/conference_share.jpg') }}" />
    <script async src="https://cdn.onthe.io/io.js/i60h92tAONqY"></script>

    {{ sonata_seo_link_canonical() }}
    {{ sonata_seo_links() }}
    {% stylesheets
    '@AppBundle/Resources/public/css/conference/conference.css'
    vars=["version"]
    filter='scssphp' output='static/css/compiled/conference_{version}.css' %}
    <link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}" />
    {% endstylesheets %}
    {%include "AppBundle::default/favicon.html.twig" %}

    {% if page is defined %}
        {% if page.javascript is not empty %}
            <script>
                {{ page.javascript|raw }}
            </script>
        {% endif %}

        {% if page.stylesheet is not empty %}
            <style>
                {{ page.stylesheet|raw }}
            </style>
        {% endif %}
    {% endif %}
</head>
<body class="theme--white empty">

    <header  id="anchor-menu">
        <div class="container">
            <a href="https://vogue.ua/" class="head-promo-logo -logo"  target="_blank" >
                {% include "AppBundle:Block:logo.svg.twig" %}
            </a>
            <a href="http://www.arts.ac.uk/" target="_blank" class="head-promo-logo -ual">
                {% include "AppBundle:default/svg:ual-logo.svg.twig" %}
            </a>

            <nav class="menu" id="menu">
                <a class="menu__item" href="#"  data-anchor="about">О проекте</a>
                <a class="menu__item" href="#"  data-anchor="speakers">Эксперты</a>
                <a class="menu__item" href="#" data-anchor="schedule">Программа</a>
                {#<a class="menu__item" href="#" data-anchor="tickets">Билеты</a>#}
                <a class="menu__item" href="#" data-anchor="contacts">Контакты</a>
                <a class="menu__item" href="#" data-anchor="partners">Партнеры</a>
                <a class="menu__item" href="#" data-anchor="VogueUAConference">#VogueUAConference</a>
            </nav>
            <a id="menu-sandwich" class="menu-sandwich" href="#">{% include "AppBundle:default/svg:menu.svg.twig" %}</a>
        </div>
    </header>

    <main id="head">
        <div class="container">
            <section class="top">
                <div class="top__logo">
                    {% include "AppBundle:Block:logo.svg.twig" %}
                </div>
                <h2 class="top__conference">CONFERENCE</h2>
                <h1 class="top__title"><span class="top__title__text">&nbsp;Fashion &amp; Business&nbsp;</span></h1>


                <div class="top__addr-wr">
                    <div class="top__date">13 мая 2016</div>
                    <div class="top__place">
                        <div class="top__place__place">
                            {% include "AppBundle:default/svg:pin.svg.twig" %}
                            Fairmont Grand Hotel Kyiv
                        </div>
                        <div class="top__place__address">ул. Набережно-Крещатицкая, 1</div>
                    </div>
                </div>

                {#<div class="centered-btn">#}
                    {#<a href="http://vogue.olerom.com/" class="centered-btn__btn">Купить Билет</a>#}
                    {#<a href="#" class="centered-btn__btn">Купить Билет</a>#}
                {#</div>#}
            </section>
        </div>

        <div class="container" id="about">
            <section class="about">
                <h1 class="section-title">О проекте</h1>
                <div class="about__text">
                    <p>Vogue UA совместно с London College of Fashion, University of the Arts London, проводит первую в
                        Украине конференцию на тему Fashion & Business при участии международных экспертов в сфере
                        fashion-ретейла, бизнес-стратегий, коммуникаций и дизайна.</p>

                    <p>Кто задает тренды и влияет на них? Как лучшие практики в области устойчивого развития формируют
                        конкурентное преимущество fashion-бизнеса? Каким образом digital-технологии и инновации в сфере
                        моды генерируют прибыль? Эпоха универмагов: кто станет следующим Harrods?</p>

                    <p>Эксперты из Великобритании поделятся практическими советами и уникальным опытом успехов и ошибок
                        брендов. Victoria Beckham, Maison Martin Margiela, Alberta Ferretti, Cutler and Gross,
                        Selfridges, Toni & Guy - и это лишь неполный список клиентов в их портфолио.</p>
                    <p><a href="https://docs.google.com/forms/d/1A9uf2HQpxEuMT5HAe1VUTnn6PAI-ZGGpsnWy3k6opr4/viewform">ФОРМА АККРЕДИТАЦИИ ДЛЯ СМИ</a></p>
                </div>
            </section>
        </div>

        <div class="container">
            <section class="experts" id="speakers">
                <h1 class="section-title">Эксперты</h1>

                <div class="experts-list gallery">
                    {%  set experts = [
                    {
                    img: "bundles/app/i/conference/expert5_small.jpg",
                    bigImg: "bundles/app/i/conference/expert5_full.jpg",
                    name: "Маша Цуканова",
                    shortDescription: "Маша Цуканова",
                    fullDescription:    "
                            <h3>Маша Цуканова</h3>
                            <p>Главный редактор Vogue UA и самый молодой главред Vogue в Европе. За первый же год существования вывела проект в лидеры украинского рынка. Более 5 лет возглавляла еженедельник \"КоммерсантЪ-Weekend\", единственный печатный luxury-гид по городской жизни в Киеве. Автор курса глянцевой журналистики. Популярный автор.</p>
                            ",
                    },
                    {
                        img: "bundles/app/i/conference/expert2_small.jpg",
                        bigImg: "bundles/app/i/conference/expert2_full.jpg",
                        name: "Эмили Хаггард",
                        shortDescription: "",
                        fullDescription: "
                        <h3>Эмили Хаггард</h3>
                        <p>Эксперт по стратегическому маркетингу и коммуникациям в области моды.</p>
                        <p>Преподаватель курса Fashion Public Relations and Communication в London College of Fashion.</p>
                        <p>Разрабатывала бренд-стратегии, креативные и digital-кампании в luxury-сегментах мужской одежды и аксессуаров.</p>
                        <p> Сотрудничала с Maison Martin Margiela, Alberta Ferretti, Victoria Beckham, Cutler and Gross для Elton John AIDS Foundation, курировала проекты на Лондонской неделе моды.</p>
                        "
                    },
                    {
                        img: "bundles/app/i/conference/expert3_small.jpg",
                        bigImg: "bundles/app/i/conference/expert3_full.jpg",
                        name: "Алекс Макинтош",
                        shortDescription: "",
                        fullDescription: "
                        <h3>Алекс Макинтош</h3>
                        <p>Управляющий директор Christopher Raeburn – бренда мужской одежды.</p>
                        <p>Уже много лет Алекс является членом организации Centre for Sustainable Fashion.</p>
                        <p>Был руководителем многих новых fashion-марок и разрабатывал программы для таких организаций, как Ethical Fashion Forum, The British Fashion Council и Enterprise UK.</p>
                        <p>В настоящее время консультирует Selfridges Group в разработке программы Better Buying и внедрению схемы Bright New Things.</p>"
                    },
                    {
                        img: "bundles/app/i/conference/expert4_small.jpg",
                        bigImg: "bundles/app/i/conference/expert4_full.jpg",
                        name: "Клэр Бакли",
                        shortDescription: "",
                        fullDescription: "
                        <h3>Клэр Бакли</h3>
                        <p>Креативный консультант, руководитель курса Fashion Styling and Production в London College of Fashion. Соавтор книги «Основы fashion-дизайна 08: стайлинг» (Basics Fashion Design 08: Styling) – единственного учебника в этой области. Клэр занимала пост fashion-редактора журналов Russh Magazine, The Guardian Weekend и Wallpaper.</p>
                        <p>Как внештатный стилист работала в сфере музыки, кино, моды и рекламы. Среди ее клиентов – Софи Эллис-Бекстор, Палома Фейт и Nike. Сотрудничает с Эдинбургским международным фестивалем и художницей Linder в галерее «Тейт Сент Айвз».</p>"
                    },
                    {
                    img: "bundles/app/i/conference/expert1_small.jpg",
                    bigImg: "bundles/app/i/conference/expert1_full.jpg",
                    name: "Тони Глэнвилл",
                    shortDescription: "",
                    fullDescription: "
                        <h3>Тони Глэнвилл</h3>
                        <p>Консультант и креативный директор London College of Fashion, University of the Arts London, fashion-редактор журнала Luxure.</p>
                        <p>Работал fashion-журналистом, делал прогнозы для брендов и консультировал компании – от бразильских до японских.</p>
                        <p>Среди нынешних клиентов – Bally Switzerland, Unilever, Toni & Guy, NOWFASHION, «Schön! Magazine» и многие другие.</p>
                        <p>Автор книг «Современный джентльмен. Руководство по стилю для успешных мужчин» (Top to Toe: a guide to men's grooming) и «Новые иконы fashion-иллюстрации» (New Icons of Fashion Illustration).</p>"
                    }
                    ] %}
                    {% for expert in experts %}

                        <div class="expert">
                            <div class="expert-centered">
                                <a href="{{ asset(expert.bigImg) }}" class="" data-caption="{{ expert.fullDescription }}">
                                <img class="expert__img" src="{{ asset(expert.img) }}" alt="">
                                </a>
                                <h3 class="expert__name">{{ expert.name }}</h3>
                                <div class="expert__description">{{ expert.shortDescription }}</div>
                            </div>
                        </div>


                    {% endfor %}
                </div>
            </section>
        </div>

        <section class="schedule-wr"  id="schedule">
            <div class="container">
                <h1 class="section-title">ПРОГРАММА</h1>
                {%  set schedule = [

                    {time: "08:30-10:00", description: "Регистрация участников"},

                    {time: "10:00", description: "Приветственное слово Маши Цукановой"},

                    {time: "10:00-10:30", name: "Тони Глэнвилл", description: "Все о трендах", text: "Настоящее и будущее мирового рынка моды. Прогнозы взлетов и падений. Обсуждение, обмен идеями услышанного и увиденного."},

                    {time: "10:30-11:00", name: "Алекс Макинтош", description: "Fashion в глобальных масштабах. Перезагрузка бизнеса", text: "Определение ценностей бренда. Выбор бизнес-модели. Диверсификация, или эффективное портфолио товаров. Реальные кейсы построения бренда, создания торговой марки, разработки имиджа, клиентской базы и развития бизнеса"},

                    {time: "11:00-11:30", name: "Клэр Бакли", description: "Разработка эстетики бренда", text: "Fashion-cторителлинг. Разработка стиля и креативной концепции. Стратегии брендовых коммуникаций. Искусство создавать историю о бренде, ее визуальное воплощение."},

                    {time: "11:30-12:30", name: "Тони Глэнвилл", description: "Бизнес в ретейле", text: "Жизненный цикл универмагов и ценность бутиков. Стратегии мировых лидеров: Selfridges, Dover Street Marker, Harvey Nichols London, Neiman Marcus, Bergdorf Goodman USA, Bon Marche Paris."},

                    {time: "12:30-13:00", description: "Q&A"},

                    {time: "13:00-13:30", description: "Фотосессия участников"},

                    {time: "13:30-14:30", description: "Обед"},

                    {time: "14:30-15:00", name: "Эмили Хаггард", description: "Онлайн vs. Ретейл", text: "Тенденция \"direct to consumer\": эффективен ли кратчайший путь? Все о fashion-стартапах. Плюсы и минусы прямых продаж."},

                    {time: "15:00-15:30", name: "Эмили Хаггард", description: "Бренд в сети: роль социальных медиа", text: "Моно-брэндинг. Что «покупает» пресса и социальные сети. Агенты влияния и бренд-амбассадоры: где искать и как взаимодействовать? «Вне зоны комфорта», или трансмедиа брэндинг (Snapchat, Buzzfeed, Whatsapp, кейс JW Anderson и Grindr)."},

                    {time: "15:30-16:00", name: "Алекс Макинтош", description: "Искусство продаж", text: "Оптовые продажи – вызовы и возможности на глобальном рынке.
Управление точками продаж и отношениями с клиентами. Практические шаги построения fashion бренда: продажи, финансы и бизнес. От малого к большему: создание инфраструктуры, которая способствует развитию бизнеса? "},

                    {time: "16:00-16:30", name: "Клэр Бакли", description: "Как создать успешную команду в fashion индустрии?", text: "Кто, как и почему становится частью команды? Кто может принести пользу, но не будет ключевым игроком?
Как работать с фрилансерами, и почему некоторые люди в команде нужны только на сезон?
Команда fashion бизнеса в ролях. Философия и значимость команды, вовлечение в общую идею."},

                    {time: "16:30-17:00", description: "Q&A"},
                    {time: "17:00-18:30", description: "Круглый стол «Расширение рынков сбыта как путь развития бренда»", text: "Модератор: учредитель и глава оргкомитета Ukrainian Fashion Week (UFW) Ирина Данилевская. Дискуссия посвящена законодательному аспекту развития украинского fashion-бизнеса за пределами Украины.
                    Участники: Лилия Пустовит - дизайнер, Елена Щербань – бренд менеджер POUSTOVIT, Александра Димитриевич - руководитель международного отдела UFW, Анна Октябрь – дизайнер, Лилия Литковская – дизайнер, Юлия Паскаль – дизайнер, представитель Министерства экономического развития и торговли Украины, Клэр Бакли, Эмили Хаггард.",
                pdf_link: "/bundles/app/i/conference/VogueUAConference_1.pdf", pdf_title: "Подробная информация о мероприятии"},
                    {time: "17:00-18:30", description: "Круглый стол «Стратегии розничной торговли: проблемы и перспективы украинского luxury-рынка»", text: "Модератор: управляющий партнер Fashion Hub UA Вадим Медведев. Круглый стол посвящен вопросу взаимодействия крупных ретейлеров с конечным потребителем сегмента люкс.
                    Участники: Евгений Мамай - управляющий директор Sanahunt Group, Дмитрий Евенко - управляющий партнёр Asthik, представители ЦУМ, Тони Глэнвилл, Алекс Макинтош", pdf_link: "/bundles/app/i/conference/VogueUAConference_2.pdf", pdf_title: "Подробная информация о мероприятии"},

                    {time: "18:30", description: "Afterparty"}

                ] %}
                <div class="schedule-list">
                {% for item in schedule %}

                      <div class="schedule__item">
                          <div class="schedule__item__time"><span class="schedule__item__time__position">{{ item.time }}</span></div>
                          <div class="schedule__item__description">
                              {% if item.name is defined %}
                                  <div class="schedule__item__description__name">{{ item.name }}</div>
                                  <div class="schedule__item__description__title">{{ item.description }}</div>
                                  <div class="schedule__item__description__text">{{ item.text }}</div>
                              {% else %}
                                  <div class="schedule__item__description__title schedule__item__description__title_without_name">{{ item.description }}</div>
                                  {% if item.text is defined %}
                                      <div class="schedule__item__description__text">
                                          {{ item.text }}
                                          {% if item.pdf_link is defined and item.pdf_title is defined %}
                                              <br/><a href="{{ item.pdf_link }}" class="schedule__item__description__pdf" target="_blank"><img src="/bundles/app/i/conference/pdf.svg"/>{{ item.pdf_title }}</a>
                                          {% endif %}
                                      </div>
                                  {% endif %}
                              {% endif %}


                          </div>
                      </div>

                {% endfor %}
                </div>
            </div>
        </section>

        {#<div class="container" id="tickets">#}
            {#<section class="buy-ticket-wr" >#}

                {#<h1 class="section-title">Купить билет</h1>#}
                {#{%  set price_list = [#}
                    {#{date: "До 15 апреля 2016", price_list: [{type: "Silver ", price: "3 500 грн"}, {type: "Gold ", price: "7 000 грн"}, {type: "Platinum", price: "9 000 грн"}]},#}
                    {#{date: "До 1 мая 2016", price_list: [{type: "Silver ", price: "4 000 грн"}, {type: "Gold ", price: "7 500 грн"}, {type: "Platinum", price: "10 000 грн"}]},#}
                    {#{date: "Май 2016", price_list: [{type: "Silver ", price: "—"}, {type: "Gold ", price: "—"}, {type: "Platinum", price: "—"}]}#}
                {#] %}#}

                {#<div class="price-list">#}
                    {#{% for key, item in price_list %}#}
                        {#<div class="price {{ key >= 2 ? '-hide' : '' }}">#}
                            {#<h2 class="price__title">{{ item.date }}</h2>#}
                            {#{% for price_item in item.price_list  %}#}
                                {#<div class="type-list">#}
                                    {#<div class="type-list__type">{{ price_item.type }}</div>#}
                                    {#<div class="type-list__price">{{ price_item.price }}</div>#}
                                {#</div>#}
                            {#{% endfor %}#}
                        {#</div>#}
                    {#{% endfor %}#}
                {#</div>#}


                {#<div class="centered-btn">#}
                    {#<a href="http://vogue.olerom.com/" class="centered-btn__btn">Купить Билет</a>#}
                    {#<a href="#" class="centered-btn__btn">Купить Билет</a>#}
                {#</div>#}

            {#</section>#}
        {#</div>#}

        <section class="contacts-wr" id="contacts">
            <h1 class="section-title">Контакты</h1>
            <div class="static-map-wr">
                <a class="centered-btn__btn" href="http://maps.google.com?q=50.460652,30.525586">Посмотреть на карте</a>
                <div class="static-map"></div>
            </div>
            <div id="map" style="height: 100%;"></div>
            <script>
                function initMap() {
                    var windowInfoContent = {title: "Fairmont Grand Hotel Kyiv", address: "ул. Набережно-Крещатицкая, 1", tel: "(044) 337-73-79"};
                    var hotel = {lat: 50.460652, lng: 30.525586};
                    var styles = [{"featureType":"landscape","stylers":[{"saturation":-100},{"lightness":65},{"visibility":"on"}]},{"featureType":"poi","stylers":[{"saturation":-100},{"lightness":51},{"visibility":"simplified"}]},{"featureType":"road.highway","stylers":[{"saturation":-100},{"visibility":"simplified"}]},{"featureType":"road.arterial","stylers":[{"saturation":-100},{"lightness":30},{"visibility":"on"}]},{"featureType":"road.local","stylers":[{"saturation":-100},{"lightness":40},{"visibility":"on"}]},{"featureType":"transit","stylers":[{"saturation":-100},{"visibility":"simplified"}]},{"featureType":"administrative.province","stylers":[{"visibility":"off"}]},{"featureType":"water","elementType":"labels","stylers":[{"visibility":"on"},{"lightness":-25},{"saturation":-100}]},{"featureType":"water","elementType":"geometry","stylers":[{"hue":"#ffff00"},{"lightness":-25},{"saturation":-97}]}];
                    var map = new google.maps.Map(document.getElementById('map'), {
                        zoom: 18,
                        center: {lat: 50.461252, lng: 30.525586},
                        styles: styles,
                        scrollwheel: false
                    });

                    var contentString = '<div class="info-window">'+
                                '<div class="info-window__star"> {% for i in 1..5 %}{% include "AppBundle:default/svg:star.svg.twig" %} {% endfor %}</div>'+
                                '<h1 class="info-window__title">'+windowInfoContent.title+'</h1>'+
                                '<div class="info-window__address">'+windowInfoContent.address+'</div>'+
                                '<div class="info-window__tel">'+windowInfoContent.tel+'</div>'+
                            '</div>';

                    var infowindow = new google.maps.InfoWindow({
                        content: contentString
                    });

                    var marker = new google.maps.Marker({
                        position: hotel,
                        map: map,
                        title: '',
                        icon: '/bundles/app/i/conference/pin.svg'

                    });
                    infowindow.open( map, marker);
                    marker.setVisible(false);
                    marker.addListener('click', function() {
                        infowindow.open(map, marker);
                        marker.setVisible(false);
                    });

                    google.maps.event.addListener(infowindow,'closeclick',function(){
                        marker.setVisible(true);
                    });
                }
            </script>
            <script async defer
                    {#src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC-Iwp93hJaWgN9SfmQsq40oYsvQx84rbg&callback=initMap">#}
                    src="https://maps.googleapis.com/maps/api/js?callback=initMap">
            </script>
        </section>

        <div class="container" id="partners">
            <section class="partners-wr">
                    <h1 class="section-title">Партнеры</h1>
                    {% set partners = [
                    {img: "bundles/app/i/conference/partners/fairmont.png", width: 203, height: 80, link: "http://www.fairmont.com/kyiv/" },
                    {img: "bundles/app/i/conference/partners/olerom.png", width: 214, height: 42, link: "http://olerom.com/" },
                    {img: "bundles/app/i/conference/partners/don_stream.png", width: 312, height: 90, link: "http://www.donstream.com.ua/" },
                    {img: "bundles/app/i/conference/partners/vogue_cafe.png", width: 116, height: 77, link: "https://www.facebook.com/VogueCafeKiev/" }
                    ] %}
                    <div class="partners-list">
                        {% for item in partners %}
                            <a class="partner" href="{{ item.link }}" target="_blank">
                                <img class="partner__logo" src="{{ asset(item.img) }}" width="{{ item.width }}" alt="">
                            </a>
                        {% endfor %}
                    </div>
            </section>
        </div>

        <div class="container" id="VogueUAConference">
            <section class="list_conferences">
                <h1 class="section-title">#VogueUAConference</h1>
                <div class="row">
                    {#1#}
                    <article class="article col-xs-6 col-sm-4 col-md-4 col-lg-2">
                        <a class="article__img" href="https://vogue.ua/article/fashion/brend/vogue-ua-provedet-konferenciyu-fashion-business.html" target="_blank">
                            <img class="article__img__src" alt="" src="{{ asset('bundles/app/i/conference/list-conferences/1.jpeg') }}"/>
                        </a>
                        <h3 class="article__title">
                            <a class="article__title__link" href="https://vogue.ua/article/fashion/brend/vogue-ua-provedet-konferenciyu-fashion-business.html" target="_blank">Vogue UA проведет конференцию Fashion & Business</a>
                        </h3>
                    </article>
                    {#2#}
                    <article class="article col-xs-6 col-sm-4 col-md-4 col-lg-2">
                        <a class="article__img" href="https://vogue.ua/article/fashion/brend/intervyu-s-emili-haggard.html" target="_blank">
                            <img class="article__img__src" alt="" src="{{ asset('bundles/app/i/conference/list-conferences/2.jpeg') }}"/>
                        </a>
                        <h3 class="article__title">
                            <a class="article__title__link" target="_blank" href="https://vogue.ua/article/fashion/brend/intervyu-s-emili-haggard.html">Конференция Fashion&Business: интервью с Эмили Хаггард </a>
                        </h3>
                    </article>
                    {#3#}
                    <article class="article col-xs-6 col-sm-4 col-md-4 col-lg-2">
                        <a class="article__img" href="https://vogue.ua/article/fashion/brend/konferenciya-kruglye-stoly.html" target="_blank">
                            <img class="article__img__src" alt="" src="{{ asset('bundles/app/i/conference/list-conferences/3.jpeg') }}"/>
                        </a>
                        <h3 class="article__title">
                            <a class="article__title__link" target="_blank" href="https://vogue.ua/article/fashion/brend/konferenciya-kruglye-stoly.html">VogueUAConference: имена участников круглых столов</a>
                        </h3>
                    </article>
                    {#4#}
                    <article class="article col-xs-6 col-sm-4 col-md-4 col-lg-2">
                        <a class="article__img" href="https://vogue.ua/gallery/events/pervaya-vogue-ua-conference.html" target="_blank">
                            <img class="article__img__src" alt="" src="{{ asset('bundles/app/i/conference/list-conferences/4.jpg') }}"/>
                        </a>
                        <h3 class="article__title">
                            <a class="article__title__link" target="_blank" href="https://vogue.ua/gallery/events/pervaya-vogue-ua-conference.html">Первая конференция Vogue UA Fashion & Business</a>
                        </h3>
                    </article>
                    {#5#}
                    <article class="article col-xs-6 col-sm-4 col-md-4 col-lg-2">
                        <a class="article__img" href="https://vogue.ua/article/fashion/brend/london-college-of-fashion-provedet-obrazovatelnyy-den-dlya-ukrainskih-studentov.html" target="_blank">
                            <img class="article__img__src" alt="" src="{{ asset('bundles/app/i/conference/list-conferences/5.jpeg') }}"/>
                        </a>
                        <h3 class="article__title">
                            <a class="article__title__link" href="https://vogue.ua/article/fashion/brend/london-college-of-fashion-provedet-obrazovatelnyy-den-dlya-ukrainskih-studentov.html" target="_blank">London College of Fashion проведет образовательный день для украинских студентов </a>
                        </h3>
                    </article>
                    {#6#}
                    <article class="article col-xs-6 col-sm-4 col-md-4 col-lg-2">
                        <a class="article__img" href="https://vogue.ua/gallery/events/aftepati-konferencii-vogue-ua-fashion-business.html" target="_blank">
                            <img class="article__img__src" alt="" src="{{ asset('bundles/app/i/conference/list-conferences/6.jpg') }}"/>
                        </a>
                        <h3 class="article__title">
                            <a class="article__title__link" target="_blank" href="https://vogue.ua/gallery/events/aftepati-konferencii-vogue-ua-fashion-business.html">Афтепати конференции Vogue UA Fashion & Business</a>
                        </h3>
                    </article>
                </div>
            </section>
        </div>

    </main>

    <footer>
        <div class="footer-soc">
            <a class="footer-soc__icon" href="https://www.facebook.com/VogueUkraine" target="_blank">{% include "AppBundle:default/svg/logo:fb.svg.twig" %}</a>
            <a class="footer-soc__icon" href="http://vk.com/vogueukraine" target="_blank">{% include "AppBundle:default/svg/logo:vk.svg.twig" %}</a>
            <a class="footer-soc__icon" href="https://www.instagram.com/vogue_ukraine/" target="_blank">{% include "AppBundle:default/svg/logo:instagram.svg.twig" %}</a>
            <a class="footer-soc__icon" href="https://www.pinterest.com/vogueukraine/" target="_blank">{% include "AppBundle:default/svg/logo:pinterest.svg.twig" %}</a>
        </div>
    </footer>

    {% block base_script %}
        <script src="{{ asset('bundles/app/js/conference/dist/app.js') }}"></script>
        <script src="{{ asset('bundles/app/js/conference/src/baguetteBox.js') }}"></script>
        <script>
            baguetteBox.run('.experts-list');
        </script>
    {% endblock %}

</body>
</html>

