{% if horoscope %}
    <div class="article_detail" style="padding: 0 15px;">
        {% if horoscope.image %}
            <img src="/{{ horoscope.image }}" alt="{{ horoscope.translate.title }}" style="margin:auto"/>
        {% endif %}
        <h1 class="article-detail__title" style="margin:auto"> {{ horoscope.translate.title }} </h1>

        <div class="article-detail__date"> {{ horoscope.translate.subTitle }} </div>
        <div class="article-detail__text">
            {{ horoscope.translate.content|raw }}
        </div>

    </div>
{% endif %}
