{% block page %}
    <div class="article-detail">

        {% set langRU = shortcode(blog.translate('ru').content, blog, false)|striptags|raw %}
        {% set langEN = shortcode(blog.translate('en').content, blog, false)|striptags|raw %}

        {% if langRU != langEN and langEN is not empty %}
            <div class="language">
                {% set route_params = app.request.get('_route_params') %}
                {% for language in ['ru', 'en'] %}
                    {% set activeBtn = false %}
                    {% set titleBtn = ('frontend.langs.'~language)|trans({}, 'AppBundle') %}

                    {% if language == lang %}
                        {% set activeBtn = true %}
                    {% elseif lang != 'en' %}
                        {% set route_params = route_params|merge({'lang':language}) %}
                    {% endif %}

                    {% if not activeBtn %}
                        <a class="language__item" href="{{ url(app.request.get('_route'), route_params) }}">{{ titleBtn }}</a>
                    {% else %}
                        <span class="language__current">{{ titleBtn }}</span>
                    {% endif %}
                {% endfor %}
            </div>
        {% endif %}

        <h1 class="article-detail__title">
            {{ blog.translate(lang).title }}
        </h1>

        <div class="article-detail__date">{{ blog.publishAt|format_date('dd MMMM Y') }}</div>

        <div class="article-detail__share">
            {# fixme: use social network's SDK #}
            {% set route_params = lang == 'en' ? app.request.get('_route_params')|merge({'lang':lang}) : app.request.get('_route_params') %}
            {% set current_url = url(app.request.get('_route'), route_params) %}
            <a href="http://www.facebook.com/sharer.php?u={{ current_url }}" rel="nofollow" class="article-detail__share__item"><i class="fa fa-facebook"></i></a>
            <a href="http://vkontakte.ru/share.php?url={{ current_url }}&title={{ blog.translate(lang).title }}" rel="nofollow" class="article-detail__share__item"><i class="fa fa-vk"></i></a>
            <a href="http://twitter.com/share?url={{ current_url }}&text={{ blog.translate(lang).title }}" rel="nofollow" class="article-detail__share__item"><i class="fa fa-twitter"></i></a>
        </div>

        {% if blog.image650 %}
            <div class="post__photo clearfix">
                <img src="/{{ blog.image650 }}" alt="{{ blog.translate(lang).title }}">
            </div>
        {% endif %}

        {# check if suzy post on english #}
        {% set content = blog.translate(lang).content %}

        <div class="article-detail__text">
            {{ shortcode(content, blog)|raw }}
        </div>

        {% include 'AppBundle:partials:tags.html.twig' with {'tags': blog.tags} %}

        <div class="clearfix"></div>
    </div>
{% endblock %}
