{% import 'AppBundle:Block:_events_macro.html.twig' as macro %}

{% if first_event is defined %}
    {% set events = events|slice(1) %}
{% endif %}

{% for key, item in events %}
    <article class="multipage-item article col-xs-12">
        <a href="{{ macro.event_url(item) }}" class="post__photo post__photo--big-title">
            {% if item.gallery %}
                <div class="post__photo__img-holder">
                    {% for image in item.gallery.galleryHasImage|slice(0, 4) %}
                        <div class="post__photo__img-bg" style="background-image: url('{{ image.image.path|imagine_filter('event_320x475_watermark') }}');"></div>
                    {% endfor %}
                </div>

                <div class="img-text--above">
                    {{ macro.event_title(item) }}
                </div>
            {% else %}
                <div class="dark_title">
                    {{ macro.event_title(item) }}
                </div>
            {% endif %}
        </a>

        {% if item.translate.content is defined %}
            <div class="post__photo__description">{{ item.translate.content|raw }}</div>
        {% endif %}

        {% if item.tags is defined %}
            {% include 'AppBundle:partials:tags.html.twig' with {'tags': item.tags} %}
        {% endif %}

    </article>
{% endfor %}
