{% import 'AppBundle:Block:_collections_macro.html.twig' as collection %}
{% if top_collections is defined and top_collections is not empty %}
    {% set topItemsCount = top_collections|length %}
    <div class="{% if slider_class is defined %}{{ slider_class }}{% else %}dark-block{% endif %} -slider -collections">
        <div class="container">
            <section>
                <div class="slider">
                    <div class="slider__img-holder">
                        <div class="slider__slide-block">

                            {% for top in top_collections %}
                                <div class="slider__item">
                                    <a href="{{ collection.collection_url(top) }}" class="post__photo post__photo--big-title">
                                        {% if top.gallery %}
                                            <div class="post__photo__img-holder">
                                                {% for image in top.gallery.galleryHasImage|slice(0, 4) %}
                                                    <div class="post__photo__img-bg" style="background-image: url('{{ image.image.path|imagine_filter('collection_320x475') }}');"></div>
                                                {% endfor %}
                                            </div>
                                            <div class="img-text--above">
                                                {% if top.season is not empty %}
                                                    <em class="text__photo__sub-title">{{ top.season.translate.title }}</em>
                                                {% endif %}
                                                {% if top.designer is not empty %}
                                                    <span class="text__photo__main-author">{{ top.designer.translate.name }}</span>
                                                {% endif %}
                                                {% if top.fashionweek is not empty %}
                                                    <span class="text__photo__main-title">{{ top.fashionweek.translate.title }}</span>
                                                {% endif %}
                                            </div>
                                        {% endif %}
                                    </a>
                                </div>
                            {% endfor %}
                        </div>

                        {% if topItemsCount > 1 %}
                            <span class="nav nav--left">
                                <svg width="50" height="50" viewBox="0 0 50 50" xmlns="http://www.w3.org/2000/svg"><g fill="#181818" fill-rule="evenodd"><path d="M1.075 25.01L14.51 11.575l1.415 1.415L2.49 26.425z"/><path d="M1.075 24.99L14.51 38.425l1.415-1.415L2.49 23.575z"/></g></svg>
                            </span>
                            <span class="nav nav--right">
                                <svg width="50" height="50" viewBox="0 0 50 50" xmlns="http://www.w3.org/2000/svg"><g fill="#181818" fill-rule="evenodd"><path d="M48.925 25.01L35.49 11.575l-1.415 1.415L47.51 26.425z"/><path d="M48.925 24.99L35.49 38.425l-1.415-1.415L47.51 23.575z"/></g></svg>
                            </span>
                        {% endif %}
                    </div>
                </div>
            </section>
        </div>
    </div>
{% endif %}