<footer>
    <div class="container">
        <div class="soc-footer-block">
            <img class="conenast-logo" src="{{ asset('bundles/app/i/cnd-logo.png') }}" alt="Condé Nast">
            {{ sonata_block_render({'type': 'sonata.block.service.social_buttons'}, {}) }}
        </div>

        <div class="row reverse">

            <nav class="footer-menu col-sm-12 col-md-6">
                <h4 class="footer-menu__title">{{ 'frontend.footer.vogue_worldwide'|trans([], 'AppBundle') }}</h4>
                {% set itemsOnRow = (vogue_worldwide|length / 4)|round %}
                <div class="row">
                    <div class="col-sm-12 col-md-3">
                        {% for v in vogue_worldwide %}
                            <a class="footer-menu__link" href="{{ v.url }}" rel="nofollow">{{ v.title }}</a>
                            {% if loop.index is divisibleby(itemsOnRow) %}
                                </div>
                                <div class="col-sm-12 col-md-3">
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </nav>

            <div class="copyright  col-sm-12 col-md-6">
                &copy; {{ "now"|date("Y") }} {{ 'frontend.footer.copyright'|trans([], 'AppBundle')|raw }}<br><br>
                &copy; {{ "now"|date("Y") }} {{ 'frontend.footer.copyright2'|trans([], 'AppBundle')|raw }}
            </div>
        </div>

    </div>
</footer>
{% if app.debug is defined and app.debug %}
    <script src="{{ asset('bundles/app/js/build/javascript.js') }}"></script>
{% else %}
    {% javascripts
    '@AppBundle/Resources/public/js/build/javascript.js'
    vars=["version"]
    filter='jsqueeze' output='static/js/compiled/javascript_{version}.js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endif %}