
<header class="container">
    <div class="timer_block">
        <div class="container">
            <div class="timer_text">VOGUE UA CONFERENCE</div>
            <div class="timer">
                <span class="timer_time" id="days_number"></span>
                <span class="timer_item" id="days_item"></span>
                <span class="timer_time" id="hours_number"></span>
                <span class="timer_item" id="hours_item"></span>
                <span class="timer_time" id="minutes_number"></span>
                <span class="timer_item" id="minutes_item"></span>
                <span class="timer_time" id="seconds_number"></span>
                <span class="timer_item" id="seconds_item"></span>
            </div>
            <a href="http://conference.vogue.ua/" target="_blank"></a>
        </div>
    </div>
    <div class="logo-wr">
        <a href="{{ path('index_multilang')}}" class="logo">
            {% include "AppBundle:Block:logo.svg.twig" %}
        </a>
        {#<a href="https://vogue.ua/article/fno" class="fash-logo"></a>#}

        {{ sonata_block_render({'type': 'sonata.block.service.social_buttons'}, {}) }}

        {% if (app.request.cookies.get('not_first_visit')) %}
            <div class="language_switcher">
                <a href="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')|merge({'_locale': 'ru'})) }}" {% if app.request.locale == 'ru' %}class="active"{% endif %}>RU</a>
                <a href="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')|merge({'_locale': 'uk'})) }}" {% if app.request.locale == 'uk' %}class="active"{% endif %}>UA</a>
            </div>
        {% else %}
            <div class="language_switcher">
                {% if app.request and app.request.getLocale() == 'ru' %}
                    <a href="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')|merge({'_locale': 'uk'})) }}" {% if app.request.locale == 'uk' %}class="active"{% endif %}>{% include "AppBundle:default/svg:flag_uk.svg.twig" %}</a>
                {% elseif app.request and app.request.getLocale() == 'uk' %}
                    <a href="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')|merge({'_locale': 'ru'})) }}" {% if app.request.locale == 'ru' %}class="active"{% endif %}>{% include "AppBundle:default/svg:flag_ru.svg.twig" %}</a>
                {% endif %}
            </div>
        {% endif %}
        {% if magazine is defined and magazine %}
            <div class="header-subscribe">
                {% set magazine_image = magazine.imageSmall ? magazine.imageSmall|imagine_filter('magazine_73x95') : null %}
                <div class="header-subscribe__poster" style="background-image: url('{{ magazine_image }}')"></div>
                <div class="header-subscribe__txt-wrap text-left">
                    <p class="header-subscribe__txt">
                        <i class="header-subscribe__txt--italic">{{ 'frontend.magazine.magazine'|trans([], 'AppBundle') }}</i>
                        VOGUE
                    </p>
                    <a class="header-subscribe__btn text-center" href="{{ path('subscribe') }}">{{ 'frontend.magazine.subscribe'|trans([], 'AppBundle') }}</a>
                </div>
            </div>
        {% endif %}
    </div>

    <div class="burger-menu-icon"><span></span><span></span><span></span></div>
    <a class="search-head-icon" href="{{ path('search') }}">
        {% include "AppBundle:default/svg:search.svg.twig"%}
    </a>
</header>
