{% import 'AppBundle:Block:_magazines_macro.html.twig' as magazines %}
{% import 'BannerBundle:Block:_banners_macro.html.twig' as banners %}

{% if magazine %}
    </div> {# close .container block  to show fill-width dark block#}
    <div class="current_magazine--wrapper">
        <div class="container">
            <p class="current_magazine--date">{{ magazine.releasedAt|format_date('Y') }}</p>
            <p class="current_magazine--month">{{ magazine.releasedAt|format_date('LLLL') }}</p>
            <section class="current_magazine--tabs">
                <div class="current_magazine--tabsIn active">
                    <div class="current_magazine--poster-big">
                        {% set image = magazine.image ? magazine.image|imagine_filter('magazine_344x') : null %}
                        {% if image %}<img src="{{ image }}"/>{% endif %}
                    </div>
                    <div class="current_magazine--description">
                        <p>
                            <span class="db">{{ 'frontend.magazine.main_editor'|trans({}, 'AppBundle') }}</span>
                            <span>{{ magazine.translate.mainEditor }}</span>
                        </p>
                        <p>
                            <span class="db">{{ 'frontend.magazine.on_poster'|trans({}, 'AppBundle') }}</span>
                            <span class="db">{{ 'frontend.magazine.model'|trans({}, 'AppBundle') }}</span>
                            <span>{{ magazine.translate.models }}</span>
                        </p>
                        <p>
                            <span class="db">{{ 'frontend.magazine.main_photograph'|trans({}, 'AppBundle') }}</span>
                            <span>{{ magazine.translate.mainPhotograph }}</span>
                        </p>
                        <p>
                            <span class="db">{{ 'frontend.magazine.dress'|trans({}, 'AppBundle') }}</span>
                            <span>{{ magazine.translate.dress }}</span>
                        </p>
                        <p>
                        {% if covers|length > 1 %}
                        <span class="db">Обложки</span>
                        <ul class="current_magazine--list">
                            {% for item in covers %}
                                {% if item.id != magazine.id %}
                                    <li>
                                        {% set image = item.image ? item.image|imagine_filter('magazine_x144') : null %}
                                        {% if image %}<a href="{{ magazines.magazine_url(item) }}"><img src="{{ image }}"/></a>{% endif %}
                                    </li>
                                {% endif %}
                            {% endfor %}

                        </ul>
                        {% endif %}
                        </p>
                    </div>
                </div>
            </section>
        </div>
    </div>


    <div class="container"> {# open .container block for sentered content #}
    {% if settings.show_articles and articles is not empty %}
        {% set articlesCount = articles|length %}
        <section class="{{ ['content-block', settings.cols_type]|join(' ') }}">
            {# block banner_990x200 #}
            {% if banner_wide is defined and banner_wide is not empty %}
                <article class="article col-xs-12 article--big with-banner_990-200">{{ banners.banner_content(banner_wide) }}</article>
            {% endif %}
            {# end block banner_990x200 #}

            <h2 class="content-block__title">{{ 'frontend.magazine.read_in_number'|trans({}, 'AppBundle') }}</h2>

            <div class="row" id="slug_{{ block.id }}_{{ random() }}">
                {% include 'AppBundle:Block:_articles_content.html.twig' %}
            </div>

            {# if set "show load more" -show btn with fake ajax #}
            {% if(settings.show_more_btn and articlesCount >= settings.items_count) %}
                <div class="more-btn-wr">
                    <span class="more-btn" data-url="{{ sonata_page_ajax_url(block) }}" data-page="2"
                          data-limit="{{ settings.items_count }}" data-big-image="0"
                          data-slug="{{ magazine.slug }}" id="more_{{ block.id }}_{{ random() }}">
                        {{ 'frontend.magazine.show_more_btn'|trans({}, 'AppBundle') }}
                    </span>
                </div>
            {% endif %}
        </section>
    {% endif %}
{% endif %}

