<div class="static-page">
    <div class="media-kit">
        {% if media_kit_magazine %}
            <a class="media-kit__link" href="/{{ media_kit_magazine.filename }}">
                <span class="media-kit__link__ico">
                    {% include "AppBundle:default/svg:pdf.svg.twig"%}
                </span>
                <span class="media-kit__link__title">
                    {{ 'frontend.advertisement.download_mediakit_magazine'|trans({}, 'AppBundle')|raw }}
                    <span class="media-kit__link__size">PDF {{ media_kit_magazine.size|file_size_humanize }}</span>
                </span>

            </a>
        {% endif %}

        {% if media_kit_site %}
            <a class="media-kit__link" href="/{{ media_kit_site.filename }}">
                <span class="media-kit__link__ico">
                    {% include "AppBundle:default/svg:pdf.svg.twig"%}
                </span>
                <span class="media-kit__link__title">
                    {{ 'frontend.advertisement.download_mediakit_site'|trans({}, 'AppBundle')|raw }}
                    <span class="media-kit__link__size">PDF {{ media_kit_site.size|file_size_humanize }}</span>
                </span>
            </a>
        {% endif %}
    </div>
</div>
