{% set article = [
{
    title: "Paris Fashion Week",
    author: "A. F. Vandervorst",
    date: "Весна-Лето 2016",
    images: [
        {src:"bundles/app/i/tmp/collections/1.jpg"},
        {src:"bundles/app/i/tmp/collections/2.jpg"},
        {src:"bundles/app/i/tmp/collections/3.jpg"},
        {src:"bundles/app/i/tmp/collections/4.jpg"},
        {src:"bundles/app/i/tmp/collections/5.jpg"}
    ]
},
{
    title: "London Fashion Week",
    author: "Karabas Barabas",
    date: "Весна-Лето 2016",
    images: [
        {src:"bundles/app/i/tmp/collections/4.jpg"},
        {src:"bundles/app/i/tmp/collections/1.jpg"},
        {src:"bundles/app/i/tmp/collections/2.jpg"},
        {src:"bundles/app/i/tmp/collections/3.jpg"},
        {src:"bundles/app/i/tmp/collections/5.jpg"}
    ]
},
{
    title: "Ukrain Fashion Week",
    author: "Katigoroshek",
    date: "Зима-Зима 2016",
    images: [
        {src:"bundles/app/i/tmp/collections/2.jpg"},
        {src:"bundles/app/i/tmp/collections/1.jpg"},
        {src:"bundles/app/i/tmp/collections/3.jpg"},
        {src:"bundles/app/i/tmp/collections/4.jpg"},
        {src:"bundles/app/i/tmp/collections/5.jpg"}
    ]
},
{
    title: "Gmerenka Fashion Style",
    author: "Ludka Ibragimovna Junior",
    date: "Магазин-Парк 2016",
    images: [
        {src:"bundles/app/i/tmp/collections/3.jpg"},
        {src:"bundles/app/i/tmp/collections/1.jpg"},
        {src:"bundles/app/i/tmp/collections/2.jpg"},
        {src:"bundles/app/i/tmp/collections/4.jpg"},
        {src:"bundles/app/i/tmp/collections/5.jpg"}
    ]
},
{
    title: "New York StyleGide",
    author: "Val de Val",
    date: "Весна-Лето 2016",
    images: [
        {src:"bundles/app/i/tmp/collections/5.jpg"},
        {src:"bundles/app/i/tmp/collections/1.jpg"},
        {src:"bundles/app/i/tmp/collections/2.jpg"},
        {src:"bundles/app/i/tmp/collections/3.jpg"},
        {src:"bundles/app/i/tmp/collections/4.jpg"}
    ]
},{
    title: "Ukrain Fashion Week",
    author: "Katigoroshek",
    date: "Зима-Зима 2016",
    images: [
        {src:"bundles/app/i/tmp/collections/2.jpg"},
        {src:"bundles/app/i/tmp/collections/1.jpg"},
        {src:"bundles/app/i/tmp/collections/3.jpg"},
        {src:"bundles/app/i/tmp/collections/4.jpg"},
        {src:"bundles/app/i/tmp/collections/5.jpg"}
    ]
},
{
    title: "Gmerenka Fashion Style",
    author: "Ludka Ibragimovna Junior",
    date: "Магазин-Парк 2016",
    images: [
        {src:"bundles/app/i/tmp/collections/3.jpg"},
        {src:"bundles/app/i/tmp/collections/1.jpg"},
        {src:"bundles/app/i/tmp/collections/2.jpg"},
        {src:"bundles/app/i/tmp/collections/4.jpg"},
        {src:"bundles/app/i/tmp/collections/5.jpg"}
    ]
},
{
    title: "New York StyleGide",
    author: "Val de Val",
    date: "Весна-Лето 2016",
    images: [
        {src:"bundles/app/i/tmp/collections/5.jpg"},
        {src:"bundles/app/i/tmp/collections/1.jpg"},
        {src:"bundles/app/i/tmp/collections/2.jpg"},
        {src:"bundles/app/i/tmp/collections/3.jpg"},
        {src:"bundles/app/i/tmp/collections/4.jpg"}
    ]
},

] %}
</div>
<div class="dark-block -collections ">
    <div class="container">
        <section class="">

                    <div class="slider">
                        <div class="slider__img-holder">
                            <div class="slider__slide-block">

                                {%  for first_article in article %}
                                    <div class="slider__item">
                                        <a href="#" class="post__photo post__photo--big-title" >
                                            {% if first_article.images %}
                                                <div class="post__photo__img-holder">
                                                    {% for image in first_article.images|slice(0, 4) %}
                                                        <div class="post__photo__img-bg" style=" background-image: url('{{ image.src }}');"></div>
                                                    {% endfor %}
                                                </div>
                                                <div class="img-text--above">
                                                    <em class="text__photo__sub-title">{{ first_article.date }}</em>
                                                    <span class="text__photo__main-author">{{ first_article.author }}</span>
                                                    <span class="text__photo__main-title">{{ first_article.title }}</span>
                                                </div>
                                            {% else %}
                                                <div class="img-text--above">
                                                    <em class="text__photo__sub-title">23 сентября 2015</em>
                                                    <span class="text__photo__main-title">Гости показа Gucci весна-лето 2016</span>
                                                    <span class="text__photo__main-title">Гости показа Gucci весна-лето 2016</span>
                                                </div>
                                            {% endif %}
                                        </a>
                                    </div>
                                {% endfor %}

                            </div>
                            <span class="nav nav--left">
                                {% include "AppBundle:default/svg:left_short.svg.twig"%}
                            </span>
                            <span class="nav nav--right">
                                {% include "AppBundle:default/svg:right_short.svg.twig"%}
                            </span>
                        </div>
                    </div>




        </section>
    </div>
</div>
<div class="container">
    <div class="content-block">
        <div class="row collections-filters">
            <div class="col-xs-12 col-sm-12 col-md-6 ">
                <div class="custom-selector-wr">
                    <div class="custom-selector">
                        Выберите сезон
                        <div class="custom-selector__ico">
                            {% include "AppBundle:default/svg:down.svg.twig"%}
                        </div>
                    </div>
                    <ul class="custom-selector-list">
                        {% for i in 0..30 %}
                            <li class="custom-selector-list__item"><a class="custom-selector-list__link" href="#">Some A.M Junior</a></li>
                        {% endfor %}
                    </ul>
                    <div class="custom-selector-list-cover"></div>
                    <div class="custom-selector-list-cover__close">
                        {% include "AppBundle:default/svg:close.svg.twig"%}
                    </div>
                </div>
            </div>




            <div class="col-xs-12 col-sm-12 col-md-6 ">
                <div class="custom-selector-wr">
                    <div class="custom-selector">
                        Выберите дизайнера
                        <div class="custom-selector__ico">
                            {% include "AppBundle:default/svg:down.svg.twig"%}
                        </div>
                    </div>
                    <ul class="custom-selector-list">
                        {% for i in 0..30 %}
                            <li class="custom-selector-list__item"><a class="custom-selector-list__link" href="#">Some A.M Junior</a></li>
                        {% endfor %}
                    </ul>
                    <div class="custom-selector-list-cover"></div>
                    <div class="custom-selector-list-cover__close">{% include "AppBundle:default/svg:close.svg.twig"%}</div>

                </div>
            </div>
        </div>

        <div class="collections-list">
            <h2 class="content-block__title">
                Последние показы
            </h2>
            <div class="row">
                <div class=" col-lg-8 col-xs-12">

                    <div class="row">
                        {% for item in article %}
                            <div class="col-xs-6 col-sm-4 col-md-3 ">
                                <a href="#" class="collections__item">
                                    <div class="collections__item__img-wr">
                                        <img class="collections__item__img" src="{{ asset( item.images[0].src ) }}" alt="">
                                        <h2 class="collections__item__title">{{ item.author }}</h2>
                                    </div>
                                </a>
                            </div>
                        {%  endfor %}
                    </div>
                    <div class="more-btn-wr">
                        <span class="more-btn" data-url="/_page/block/153/595" data-page="3" data-category="" id="more_595_1569533125">
                            {{ 'frontend.app.more'|trans([], 'AppBundle') }}
                        </span>
                    </div>

                </div>
                <div class=" col-lg-4 col-xs-12">
                    <div class="collections__banners">
                        <img src="http://i.holder.com.ua/h/6/6/1064_0.png" alt="">
                    </div>
                </div>
            </div>
        </div>

        <div class="collections-slider">
            <h2 class="content-block__title">
                <a class="content-block__title__link" href="#">Весна-Лето 2016</a>
            </h2>
            <div class="vogue-slick-wr">
                <div class="vogue-slick">
                    {% for item in article %}
                        <div>
                            <a href="#" class="collections__item">
                                <div class="collections__item__img-wr">
                                    <img class="collections__item__img" src="{{ asset( item.images[0].src ) }}" alt="">
                                    <h2 class="collections__item__title">{{ item.author }}</h2>
                                </div>
                            </a>
                        </div>
                    {%  endfor %}

                </div>
            </div>
        </div>

        <div class="collections__banners">
            <img class="collections__item__img" src="{{ asset( 'bundles/app/i/tmp/promo.jpg' ) }}" alt="">
        </div>

        <div class="collections-slider">
            <h2 class="content-block__title">
                <a class="content-block__title__link" href="#">Недели моды</a>
            </h2>
            <div class="vogue-slick-wr">
                <div class="vogue-slick">
                    {% for item in article %}
                        <div>
                            <a href="#" class="collections__item">
                                <div class="collections__item__img-wr">
                                    <img class="collections__item__img" src="{{ asset( item.images[0].src ) }}" alt="">
                                    <h2 class="collections__item__title">{{ item.author }}</h2>
                                </div>
                            </a>
                        </div>
                    {%  endfor %}

                </div>
            </div>
        </div>

        <div class="more-btn-wr">
            <span class="more-btn" data-url="/_page/block/153/595" data-page="3" data-category="" id="more_595_1569533125">ЖГИ ЕЩЕ! </span>
        </div>

    </div>