<div class="container">

    {# show search form #}
    <div class="search-inner-wr">
        {% include "AppBundle:Block:search_form.html.twig" %}
    </div>

    {% set current_tab_count = null %}
    {% set current_tab_type = null %}
    {% set current_tab_title = 'frontend.search.tabs.all'|trans([], 'AppBundle') %}
    {% set keywordQuery = app.request.query.get('keyword') %}

    {# show search tabs #}
    {% if tabs is not empty %}
        <div class="search-tab">
            <div class="article-detail__tag">

                {% for type, count in tabs %}
                    {% if type is empty %}
                        {% set url = path('search', {'keyword' : keywordQuery}) %}
                        {% set tab_title = current_tab_title %}
                    {% else %}
                        {% set url = path('search_type', {'type' : type, 'keyword' : keywordQuery}) %}
                        {% set tab_title = ('frontend.search.tabs.'~type)|trans([], 'AppBundle') %}
                    {% endif %}

                    {% if type == current_tab %}
                        {% set current_tab_type = type %}
                        {% set current_tab_title = tab_title %}
                        {% set current_tab_count = count %}
                    {% endif %}

                    {% if count %}
                        <a href="{{ url }}" class="article-detail__tag__item {% if type == current_tab %}-active{% endif %}">
                            {{ tab_title }}<span class="article-detail__tag__item__count">{{ count }}</span>
                        </a>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    {% endif %}

    {# build search content and fake ajax pager #}
    <section class="content-block content-block--inline {% if 'tv' in current_tab %}video-elements-small{% endif %}">
        {% if items is not empty %}
            <div class="row" id="type_{{ block.id }}_{{ random() }}">
                {% include 'AppBundle:Block:_search_content.html.twig' %}
            </div>

            {% if settings.items_count < current_tab_count %}
                <div class="more-btn-wr">
                    <span class="more-btn" data-limit="{{ settings.items_count }}" data-big-image="0"
                          data-url="{{ sonata_page_ajax_url(block) }}" data-page="2" data-type="{{ current_tab_type }}"
                          data-keyword="{{ keywordQuery|url_encode }}" id="more_{{ block.id }}_{{ random() }}">
                        {{ 'frontend.app.more'|trans([], 'AppBundle') }} {{ current_tab_title|default("") }}
                    </span>
                </div>
            {% endif %}
        {% else %}
            {% if keywordQuery == null %}
                <h4 class="search__empty-result">{{ 'frontend.search.enter_word_for_seach_title'|trans([], 'AppBundle') }}</h4>
            {% else %}
                <h4 class="search__empty-result">{{ 'frontend.search.not_found'|trans([], 'AppBundle') }}</h4>
            {% endif %}
        {% endif %}
    </section>
</div>