<div class="static-page">
    <h1 class="content-block__title">Команда</h1>
    <div class="row static-page__text">
        {% set group = -1 %}
        {% for member in team %}
            {% if group != member.group %}
                <div class="col-xs-6 crew_department -point crew-left">
                    &nbsp;{{ member.group and member.group.showTitle ? member.group.translate.name : '' }}&nbsp;
                </div>
                <div class="col-xs-6 crew_department crew-right">
                    &nbsp;{{ member.group and member.group.showTitle ? member.group.translate('en').name : '' }}
                </div>
                {% set group = member.group %}
            {% endif %}

            <div class="col-xs-6 crew-left">
                <span class="crew__position">{{ member.translate.position }}</span>
                <span class="crew__name">{{ member.translate.name }}</span>
            </div>
            <div class="col-xs-6 crew-right">
                <span class="crew__position">{{ member.translate('en').position }}</span>
                <span class="crew__name">{{ member.translate('en').name }}</span>
            </div>
        {% endfor %}
    </div>
</div>
