{% if app.request.get('search') %}
    <h1>Серии. Результаты поиска по запросу <span class="highlight">{{ app.request.get('search')|raw }}</span> ({{ series.count }})</h1>
{% else %}
    <h1>Серии ({{ series.count }})</h1>
{% endif %}

<hr class="line">

<form action="{{ path('series_list') }}" class="form">
    <div class="inputs">
        <input type="text" name="search" placeholder="Искать..">
        <button>Искать</button>
    </div>
</form>

<table class="table">
    {% for serie in series %}
        <tr>
            <td>
                <i aria-hidden="true" class="fa fa-book"></i> {{ serie.getBooks().count() }}
            </td>
            <td class="title">
                <a href="{{ path('series_books', { 'slug': serie.slug }) }}">{{ replace_highlight(serie.title, app.request.get('search'))|raw }}</a>
            </td>
        </tr>
    {% endfor %}
</table>

{% if series.maxPerPage is defined and series.count > series.maxPerPage %}
    {{ pagerfanta(series, { 'omitFirstPage': true}) }}
{% endif %}