<div class="page-content">
    {% if category %}
        <h1>{{ category.getTitleHead()|default(category.getTitle()) }}</h1>
    {% endif %}
    {% if spectopic %}
        <h1>{{ spectopic.getTitle() }}</h1>
    {% endif %}
    {{
        sonata_block_render(
                {'type': 'article.block.service.calendar'},
                {
                    'category': category,
                    'spectopic': spectopic,
                    'date': date
                }
        )
    }}
    <div class="br"></div>
    <p class="sub-title">{{ 'article.calendar.label_main'|trans(
        {'%date%': date|date('d.m.Y'), '%category%': spectopic ?: category|default('app.frontend.breadcrumb.news'|trans({}, 'AppBundle'))},
        'ArticleBundle'
    ) }}</p>

    {{
        sonata_block_render(
            { 'type': 'article.block.service.list' },
            {
                'items_count': 30,
                'category': category|default,
                'spectopic': spectopic|default,
                'tag': tag|default,
                'show_paginator': false,
                'date': date,
                'list_type': constant('ArticleBundle\\Block\\ArticleBaseBlockService::LARGE_LIST')
            }
        )
    }}
</div>