{% extends 'AppBundle::base.html.twig' %}

{% block favicon %}
    <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('fav/lifestyle/apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('fav/lifestyle/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('fav/lifestyle/favicon-16x16.png') }}">
    <link rel="icon" type="image/png" sizes="512x512" href="{{ asset('fav/lifestyle/android-chrome-512x512.png') }}">
    <link rel="icon" type="image/png" sizes="192x192" href="{{ asset('fav/lifestyle/android-chrome-192x192.png') }}">
    <link rel="manifest" href="{{ asset('fav/lifestyle/manifest.json') }}">
    <link rel="shortcut icon" href="{{ asset('fav/lifestyle/favicon.ico') }}">
    <link rel="mask-icon" href="{{ asset('fav/lifestyle/safari-pinned-tab.svg') }}" color="#5bbad5">
    <meta name="msapplication-config" content="{{ asset('fav/lifestyle/favicon/browserconfig.xml') }}">
    <meta name="msapplication-TileImage" content="{{ asset('fav/lifestyle/mstile-150x150.png') }}">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
{% endblock %}

{% block breadchumbs %}{% endblock %}

{% block head_javascripts %}
    {% if app.request.attributes.get('_route') == 'lifestyle_article_view' %}
        {% javascripts '@player' %}
            <script src="{{ asset_url }}" type="text/javascript"></script>
        {% endjavascripts %}
        {% javascripts '@player_libs' filter='?uglifyjs2' %}
            <script src="{{ asset_url }}" type="text/javascript" defer></script>
        {% endjavascripts %}
    {% endif %}
{% endblock %}

{% block stylesheets %}
    {% if app.debug is defined and app.debug %}
        <link rel="stylesheet" type="text/css" href="{{ asset('bundles/app/css/lifestyle.css') }}" />
    {% else %}
        {% stylesheets
            '@AppBundle/Resources/public/css/lifestyle.css'
            vars=["version"]
            filter='cssrewrite' filter='?uglifycss' output='css/lifestyle{version}.min.css' %}
            <link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}" />
        {% endstylesheets %}
    {% endif %}

    {% if page.stylesheet is defined and page.stylesheet is not empty %}
        <style type="text/css">
            {{ page.stylesheet|raw }}
        </style>
    {% endif %}
{% endblock %}

{% block header %}
    {{
        sonata_block_render(
            { 'type': 'app.block.service.header' },
            { 'template': 'AppBundle:Block/lifestyle:header.html.twig', 'spectopics': 'lifestyle' }
        )
    }}

    {% set lifestyle_projects_block = sonata_block_render({ 'type': 'app.block.service.lifestyle_projects' }) %}
    {% if lifestyle_projects_block %}
        <div class="container flesh-news-carousel">{{ lifestyle_projects_block|raw }}</div>
    {% endif %}

    {% if page is defined %}
        {% if page.name != 'global' %}
            {{ sonata_page_render_container('header', 'global') }}
        {% endif %}
        {{ sonata_page_render_container('header', page) }}
    {% endif %}

    {{
        sonata_block_render(
            { 'type': 'page.block.site_variable' },
            {
                'placement': 'banner-top'
            }
        )
    }}
{% endblock %}

{% block content_top %}
    {#<div class="{% block content_top_class %}{% endblock %}">#}
        {% if page is defined %}
            {% if page.name != 'global' %}
                {{ sonata_page_render_container('content_top', 'global') }}
            {% endif %}
            {{ sonata_page_render_container('content_top', page) }}
        {% endif %}
    {#</div>#}
{% endblock %}

{% block content_main %}
    {#<div class="content-wrapper">#}
        {#<div class="content">#}
            {% if content is defined and content|length > 0 %}
                {{ content|raw }}
            {% endif %}

            {% if page is defined %}
                {% if page.name != 'global' %}
                    {{ sonata_page_render_container('content_main', 'global') }}
                {% endif %}
                {{ sonata_page_render_container('content_main', page) }}
            {% endif %}
        {#</div>#}
    {#</div>#}
{% endblock %}

{% block content %}
    <section class="container {% block main_class %}content{% endblock %}">
        <div class="br"></div>
        {{ parent() }}
    </section>
{% endblock %}

{% block body_scripts %}
    {% if app.debug %}
        <script src="{{ asset('bundles/app/js/jquery-3.3.1.min.js') }}"></script>
        <script src="{{ asset('bundles/app/js/owl.carousel.min.js') }}"></script>
        <script src="{{ asset('bundles/app/js/lifestyle.js') }}"></script>
    {% else %}
        {% javascripts
            '@AppBundle/Resources/public/js/jquery-3.3.1.min.js'
            '@AppBundle/Resources/public/js/owl.carousel.min.js'
            '@AppBundle/Resources/public/js/lifestyle.js' vars=["version"]
            filter='?uglifyjs2' output='js/lifestyle{version}.min.js'
        %}
            <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
    {% endif %}
{% endblock %}

{% block content_bottom %}
    {% if page is defined %}
        {% if page.name != 'global' %}
            {{ sonata_page_render_container('content_bottom', 'global') }}
        {% endif %}
        {{ sonata_page_render_container('content_bottom', page) }}
    {% endif %}
{% endblock %}

{% block footer %}
    {% if app.request.attributes.get('_route') not in ['lifestyle_index', 'lifestyle_category'] %}
        <section class="bg-grey">
            <div class="container">
                {{
                    sonata_block_render(
                        { 'type': 'app.block.service.partners_informer' },
                        {
                            'items_count': 8,
                            'url': 'https://servicer.lentainform.com/656030'
                        }
                    )
                }}
            </div>
        </section>
    {% endif %}

	{{
        sonata_block_render(
            { 'type': 'page.block.site_variable' },
            {
                'placement': 'banner-richmedia'
            }
        )
	}}

    <footer class="{% block footer_class %}{% endblock %}">
        {% if page is defined %}
            {% if page.name != 'global' %}
                {{ sonata_page_render_container('footer', 'global') }}
            {% endif %}
            {{ sonata_page_render_container('footer', page) }}
        {% endif %}

        {{
        sonata_block_render(
            { 'type': 'app.block.service.footer' }
        )
        }}
    </footer>
{% endblock %}
