<table border="1">
<tr>
	<td><strong>Сотрудник</strong></td>
	<td><strong>Количество материалов (ВСЕГО)</strong></td>
	<td><strong>Общее число просмотров (ВСЕГО)</strong></td>

	<td><strong>Количество материалов (с авторами)</strong></td>
	<td><strong>Общее число просмотров (с авторами)</strong></td>

	<td><strong>Количество материалов (специально для сайта)</strong></td>
	<td><strong>Общее число просмотров (специально для сайта)</strong></td>

	<td><strong>Количество материалов (фото)</strong></td>
	<td><strong>Общее число просмотров (фото)</strong></td>

	<td><strong>Количество материалов (видео)</strong></td>
	<td><strong>Общее число просмотров (видео)</strong></td>

</tr>
{% for data in statistics  %}
	<tr>
		<td nowrap>{{ data.user }}</td>

		<td>{{ data.number }}</td>
		<td>{{ data.views }}</td>

		<td>{{ data.number_authors }}</td>
		<td>{{ data.views_authors }}</td>

		<td>{{ data.number_for_site }}</td>
		<td>{{ data.views_for_site }}</td>

		<td>{{ data.number_image }}</td>
		<td>{{ data.views_image }}</td>

		<td>{{ data.number_video }}</td>
		<td>{{ data.views_video }}</td>

	</tr>
{% endfor %}
</table>