<table border="1">
	<tr>
		<td><b>Дата публикации </b></td>
		<td><b>Название статьи</b></td>
		<td><b>Раздел</b></td>
		<td><b>Авторы материала</b></td>
		<td><b>Хиты</b></td>
	</tr>
	{% for article in articles  %}
		<tr>
			<td>{{ article[0].publishAt|date('d.m.Y H:i') }}</td>
			<td>{{ article[0].getTitle() }}</td>
			<td>{{ article[0].getCategory().getTitle() }}</td>
			<td>
				{% if article[0].authors is not empty %}
					{% set needCommaAuthor = null %}
					{% for author in article[0].authors %}
						{% if author.name %}
							{{ needCommaAuthor ? ", " : "" }}
							{{ author.name }}
							{% set needCommaAuthor = true %}
						{% endif %}
					{% endfor %}
				{% endif %}
			</td>
			<td>{{ article[0].views }}</td>
		</tr>
	{% endfor %}
</table>