<table border="1">
	<tr>
		<td><strong>Направление</strong></td>
		<td><strong>Количество статей</strong></td>
		<td><strong>Количество просмотров</strong></td>
	</tr>
	{% for categoryId, data in statistics  %}
		{% if categoryId > 0 %}
			<tr>
				<td nowrap>{{ data.category }}</td>
				<td>{{ data.number }}</td>
				<td>{{ data.views }}</td>
			</tr>
		{% endif %}
	{% endfor %}
	{% if statistics[0] is defined %}
		<tr>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td nowrap>Всего</td>
			<td>{{ statistics[0].number }}</td>
			<td>{{ statistics[0].views }}</td>
		</tr>
	{% endif %}
</table>