{% if articles|length %}
    {% spaceless %}
        <div class="slider slider-fullwidth slider-halfslide owl-carousel">
            {% for article in articles %}
                <div class="row">
                    <div class="col-sm-12 col-md-6">
                        <div class="slider-fullwidth-img-wrap">
                            <div class="slider-fullwidth-img">
                                <a href="{{ article_path(article) }}">
                                    <img src="{{  article.getImage() ? article.getImage().getPath()|get_actual_image('image_650x434', ['ls']) : default_article_image|imagine_filter('image_650x434') }}">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6 slider-fullwidth-blur">
                        <a href="{{ article_path(article) }}">
                            <div class="slider-fullwidth-descriptions">
                                <div>
                                    <div class="slider-fullwidth-descriptions-meta">
                                        <span>{{ article.publishAt|date_time_humanize() }}</span>
                                        {% if article.marker %}
                                            <span>{{ article.marker.title }}</span>
                                        {% else %}
                                            <span>{{ article.category.title }}</span>
                                        {% endif %}
                                        <div class="line-single"></div>
                                    </div>
                                    <h3>{{ article.title }}</h3>
                                </div>
                            </div>
                            <div class="slider-fullwidth-blur-item">
                                <img src="{{  article.getImage() ? article.getImage().getPath()|get_actual_image('image_650x434', ['ls']) : default_article_image|imagine_filter('image_650x434') }}">
                                <svg version="1.1" xmlns="http://www.w3.org/2000/svg">
                                    <filter id="blur">
                                        <feGaussianBlur stdDeviation="30" />
                                    </filter>
                                </svg>
                            </div>
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endspaceless %}
{% endif %}