{% import "ArticleBundle:Block/macros:item.html.twig" as item %}

{% set articles_count = articles|length %}
{% set fixed = extraData['fixed'] is not empty ? extraData['fixed'] : null %}
{% set spectopics = extraData['spectopics'] is not empty ? extraData['spectopics'] : [] %}

{% if articles_count %}
    <div class="row news-blocks block-with-ads-banner">
        <div class="col-lg-8 col-md-12">
            <div class="row">
                {% for article in articles[0:4] %}
                    <div class="col-md-6">
                        {{ item.item_lifestyle(article, 'news-block-3', 'image_310x207', 'lssm') }}
                    </div>
                {% endfor %}
            </div>
        </div>

        <div class="col-lg-4 col-md-12">
            {% include 'ArticleBundle:Block/lifestyle:banner_list.html.twig' %}
        </div>
    </div>

    {% if articles_count > 4 %}
        <div class="row news-blocks">
            {% for article in articles[4:2] %}
                <div class="col-md-6">
                    {{ item.item_lifestyle(article, 'news-block-2', 'image_650x434', 'ls') }}
                </div>
            {% endfor %}
        </div>
    {% endif %}

    {% if spectopics[0] is defined %}
        {{ item.special_lifestyle(spectopics[0]) }}
    {% endif %}

    {% if articles_count > 6 %}
        <div class="row news-blocks">
            {% for article in articles[6:6] %}
                <div class="col-md-4">
                    {{ item.item_lifestyle(article, 'news-block-3', 'image_310x207', 'lssm') }}
                </div>
            {% endfor %}
        </div>
    {% endif %}

    {% if spectopics[1] is defined %}
        {{ item.special_lifestyle(spectopics[1]) }}
    {% endif %}

    {% if articles_count > 11 %}
        <div class="row news-blocks">
            {% for article in articles[12:3] %}
                <div class="col-md-4">
                    {{ item.item_lifestyle(article, 'news-block-3', 'image_310x207', 'lssm') }}
                </div>
            {% endfor %}
        </div>
    {% endif %}

    {% if fixed[0] is defined %}
        {{ item.item_fixed_lifestyle(fixed[0], true) }}
    {% endif %}

    {% if articles_count > 14 %}
        <div class="row news-blocks">
            {% for article in articles[15:9] %}
                <div class="col-md-4">
                    {{ item.item_lifestyle(article, 'news-block-3', 'image_310x207', 'lssm') }}
                </div>
            {% endfor %}
        </div>
    {% endif %}

    {% if fixed[1] is defined %}
        {{ item.item_fixed_lifestyle(fixed[1]) }}
    {% endif %}

    {% if articles_count > 23 %}
        <div class="row news-blocks">
            {% for article in articles[24:6] %}
                <div class="col-md-4">
                    {{ item.item_lifestyle(article, 'news-block-3', 'image_310x207', 'lssm') }}
                </div>
            {% endfor %}
        </div>
    {% endif %}
{% endif %}

{% if settings['show_paginator'] and articles.getNbPages() > 1 %}
    {{ pagerfanta(articles) }}
{% endif %}
