{% block page %}
    {% if video is not empty %}
        <div class="dark-block">
            <div class="video-block">
                <div class="article-detail">
                    <div class="article-detail__date">{{ video.publishAt|format_date('dd MMMM yyyy') }}</div>
                    <h1 class="article-detail__title">
                        {{ video.translate.title }}
                    </h1>

                    <div class="article-detail__share">
                        {# fixme: use social network's SDK #}
                        {% set current_url = url(app.request.get('_route'), app.request.get('_route_params')) %}
                        <a href="http://www.facebook.com/sharer.php?u={{ current_url }}" class="article-detail__share__item"><i class="fa fa-facebook"></i></a>
                        <a href="http://vkontakte.ru/share.php?url={{ current_url }}&title={{ video.translate.title }}" class="article-detail__share__item"><i class="fa fa-vk"></i></a>
                        <a href="http://twitter.com/share?url={{ current_url }}&text={{ video.translate.title }}" class="article-detail__share__item"><i class="fa fa-twitter"></i></a>
                    </div>

                    <div class="videoWrapper">
                        {{ video.code|raw }}
                    </div>

                    <div class="article-detail__text">
                        {{ shortcode(video.translate.content, video)|raw }}
                    </div>

                    {% include 'AppBundle:partials:tags.html.twig' with {'tags': video.tags} %}
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}
