<header>
    <div class="container">
        <a href="{{ path('lifestyle_index') }}" class="logo {% if app.request.locale == 'uk' %}logo_ua{% endif %}"></a>
        <a href="{{ path('index') }}" class="goto_segodnya"><span></span> {{ 'app.frontend.lifestyle.to_homepage'|trans({}, 'AppBundle') }}</a>
        <div class="mobile-menu-btn"><span></span><span></span><span></span></div>
    </div>

    <div class="mobile-menu-wrapper">
        <div class="mobile-menu-container">
            <a href="{{ path('lifestyle_index') }}" class="logo-mobile {% if app.request.locale == 'uk' %}logo_ua{% endif %}"></a>
            <a href="{{ path('index') }}" class="goto_segodnya-mobile lined-top">{{ 'app.frontend.lifestyle.go_to_homepage'|trans({}, 'AppBundle') }}</a>

            {{ knp_menu_render('lifestyle', {'template': 'AppBundle:Menu:lifestyle_menu.html.twig'}) }}

            {% if spectopics is not empty %}
                <nav class="header-menu header-menu-second">
                    <div class="container">
                        <div class="line-single"></div>
                        <ul class="lined-top">
                            {% for spectopic in spectopics %}
                                <li>
                                    <a href="{{ path('lifestyle_spectopic', {'spectopic': spectopic.slug}) }}">{{ spectopic.title }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </nav>
            {% endif %}

            {{
                sonata_block_render(
                    { 'type': 'app.block.service.language_switcher' },
                    { 'template': 'AppBundle:Block/lifestyle:language_switcher.html.twig' }
                )
            }}
        </div>
    </div>
    <div class="mobile-menu-close">
        <div><span></span><span></span></div>
    </div>
</header>
<div class="mobile-menu-bg"></div>