{% if news %}
    <div class="block-title parners-news-title">
        <h3>{{ 'app.frontend.partners_informer'|trans({}, 'AppBundle') }}</h3>
    </div>
    <div class="row news-blocks parners-news">
        {% for item in news %}
            <div class="col-md-3">
                <div class="news-block news-block-4">
                    <div class="news-block-img-wrap">
                        <div class="news-block-img">
                            <a href="{{ item.url }}">
                                {% set img = '?t' in item.img ? item.img|split('?t')[0] : item.img  %}
                                <img src="{{ img|imagine_filter('informer_partner') }}"
                                     alt="{{ item.title|raw }}"
                                     srcset="{{ img|imagine_filter('informer_partner') }} 225w, {{ img|imagine_filter('original') }} 492w"
                                     sizes="(max-width: 991px) 492px, 225px"
                                >
                            </a>
                        </div>
                    </div>
                    <h5><a href="{{ item.url }}">{{ item.title|raw }}</a></h5>
                </div>
            </div>
        {% endfor %}
    </div>
{% endif %}