<div class="share-icons {% if small_device is defined and small_device %}share-icons--to-top-small-devices{% elseif in_article is defined and in_article%}share-icons--to-bottom-default{% else %}share-icons--to-top-default{% endif %}">
    <span class="share-icons__item share-icons__item--open"></span>
    <div class="share-icons__hidden">
        <a href="https://twitter.com/share?url={{ share_url }}&text={{ share_title }}" class="share-icons__item share-icons__item--twitter" rel="nofollow"></a>
        <a href="https://www.facebook.com/sharer.php?u={{ share_url }}" class="share-icons__item share-icons__item--facebook" rel="nofollow" ></a>
        <a href="https://pinterest.com/pin/create/button/?url={{ share_url }}&description={{ share_title }}" class="share-icons__item share-icons__item--pinterest" rel="nofollow" ></a>
        <a href="https://plus.google.com/share?url={{ share_url }}" class="share-icons__item share-icons__item--google" rel="nofollow" ></a>
        <a href="mailto:?subject={{ share_title }}&body={{ share_url }}" class="share-icons__item share-icons__item--mail" rel="nofollow" ></a>
    </div>
</div>