{% import 'AppBundle:Block:_videos_macro.html.twig' as video_macro %}

{% block video_content %}
    {% for key, video in videos %}
        <li class="video-slider__list-item">
            <a href="{{ src_from_iframe(video.code) }}?autoplay=1"
               class="video-slider__list-link is-active is-play-icon player"
               data-type="video"
               data-link="{{ video_macro.video_url(video) }}"
               data-video-id="video_{{ video.id }}"
               data-from="videos_{{ blockId }}"
            >
                {% set image = video.image ? video.image|imagine_filter('video_250x155') : false %}
                <img class="video-slider__img" src="{{ image }}" alt="{{ video.getTitle() }}">
                <span class="video-slider__info">
                    <i class="video-slider__play-icon"></i>
                    {#<span class="video-slider__time">5:48</span>#}
                </span>
            </a>
            <div class="video-slider__txt">
                <h4 class="video-slider__title">
                    {#<a href="{{ video_macro.video_url(video) }}" class="video-slider__link">{{ video.getTitle() }}</a>#}
                    <a href="{{ video_macro.video_url(video) }}"
                       class="video-slider__list-link is-active is-play-icon"
                       data-type="video"
                       data-video-id="video_{{ video.id }}"
                       data-from="videos_{{ blockId }}">
                        {{ video.getTitle() }}
                    </a>
                </h4>
                {% set category = video.getCategory() %}
                {% if category %}
                    <a class="video-slider__category-name" href="{{ video_macro.category_url(category) }}">{{ category.getTitle() }}</a>
                {% endif %}
            </div>
        </li>
    {% endfor %}
{% endblock %}