<?xml version="1.0" encoding="utf-8"?>
<rss xmlns:content="http://purl.org/rss/1.0/modules/content/" xmlns:media="http://search.yahoo.com/mrss/" version="2.0">
	<channel>
		<lastBuildDate>{{ "now"|date("r") }}</lastBuildDate>
		<title>{{ 'front.rss.title'|trans([], 'ArticleBundle') }}</title>
		<description>{{ 'front.rss.description'|trans([], 'ArticleBundle') }}</description>
		<link>{{ 'front.rss.link'|trans([], 'ArticleBundle') }}</link>
		{% for article in articles %}
			<item>
				<guid isPermaLink="false">{{ article.getId() }}</guid>
				<pubDate>{{ article.publishAt|date('r')}}</pubDate>
				<title>{{ article.title }}</title>
				<description>{{ article.getHeader()|striptags }}</description>
				<category>{{ article.getCategory.getTitle }}</category>
				<link>{{ absolute_url(article_path(article)) }}</link>
				{% if article.image %}
					<enclosure url="{{ absolute_url(article.image.getPath|get_actual_image('image_610x343', ['main_new', 'main'])) }}" type="image/jpeg"/>
				{% endif %}
				<content:encoded><![CDATA[ {{ article.getDescription()|shortcode(['external_links'])|html_entity_decode|raw }} ]]></content:encoded>
				{{ article.getDescription()|shortcode_only(['gallery'], 'rss_google')|raw }}
			</item>
		{% endfor %}
	</channel>
</rss>