{#<div class="cookies-container" id="cookies">#}
    {#<div class="cookies-box">#}
        {#<div class="cookies-close" onclick="setCookie()"></div>#}
        {#<div class="cookies-description">#}
            {#<span>#}
                {#{{ 'app.frontend.footer.info.cookie.using_site'|trans({}, 'AppBundle') }}#}
            {#</span>#}
            {#{% set doc_locale = app.request.locale == 'ru' ? 'ru' : 'ua' %}#}
            {#<a href="https://kanalukraina.tv/static/terms/terms_{{ doc_locale }}.pdf" target="_blank">#}
                {#{{ 'app.frontend.footer.info.cookie.politics'|trans({}, 'AppBundle') }}#}
            {#</a>#}
            {#<span>#}
                {#{{ 'app.frontend.footer.info.cookie.agree'|trans({}, 'AppBundle') }}#}
            {#</span>#}
        {#</div>#}
        {#<div class="cookies-button">#}
            {#<span onclick="setCookie()">#}
                {#{{ 'app.frontend.footer.info.buttons.agree'|trans({}, 'AppBundle') }}#}
            {#</span>#}
        {#</div>#}
    {#</div>#}
{#</div>#}