<div class="page-content">
    <!-- Title -->
    <h1>{{ 'app.frontend.feedback.title'|trans({}, 'AppBundle') }}</h1>
    <div class="feedback">
        <h3 class="sub-title">{{ 'app.frontend.feedback.dear_readers'|trans({}, 'AppBundle') }}</h3>
        <p>{{ 'app.frontend.feedback.text'|trans({}, 'AppBundle') }}</p>
        <p><i>{{ 'app.frontend.feedback.site_editing'|trans({}, 'AppBundle') }}</i></p>

        <form action="#" method="post" name="feedback" id="feedback">
            <div class="fieldset">
                <label>{{ 'app.frontend.feedback.name'|trans({}, 'AppBundle') }}</label>
                {{ form_widget(form.name) }}
                <div class="error">{{ 'app.frontend.feedback.validate.name'|trans({}, 'AppBundle') }}</div>
            </div>
            <div class="fieldset">
                <label>{{ 'app.frontend.feedback.email'|trans({}, 'AppBundle') }}</label>
                {{ form_widget(form.email) }}
                <div class="error">{{ 'app.frontend.feedback.validate.email'|trans({}, 'AppBundle') }}</div>
            </div>
            <div class="fieldset">
                <label>{{ 'app.frontend.feedback.message'|trans({}, 'AppBundle') }}</label>
                {{ form_widget(form.message) }}
                <div class="error">{{ 'app.frontend.feedback.validate.message'|trans({}, 'AppBundle') }}</div>
            </div>

            {% if form.recaptcha.vars.ewz_recaptcha_enabled == true %}
                <div class="fieldset">
                    {{
                        form_widget(form.recaptcha)
                    }}
                </div>
            {% endif %}

            <div class="fieldset">
                <label></label>
                {{ form_widget(form.submit, {
                    'attr': {'disabled': true},
                    'label': 'app.frontend.feedback.send'|trans({}, 'AppBundle')
                } ) }}
                <div class="error">{{ 'app.frontend.feedback.send_message'|trans({}, 'AppBundle') }}</div>
            </div>
        </form>
    </div>

    <script>
        var onReCaptchaSuccess = function(response) {
            feedbackForm.captchaCheck();
        },
        feedbackForm = function() {
            var form = document.getElementById('feedback'),
                btn = form.querySelector('button'),
                checkField = function (el) {
                    var fname = el.getAttribute('name'),
                        zn = el.value,
                        filter;
                    switch( fname ) {
                        case 'name':
                            filter = /^[A-Za-zА-Яа-я\s\.-]{2,}$/.test(zn);
                            break;
                        case 'message':
                            filter = zn.length>15?true:false;
                            break;
                        case 'email':
                            filter = /^([a-zA-Z0-9_\.\-])+\@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/.test(zn);
                            break;
                        default: filter = "";
                    }
                    if( !filter && fname !== '' ) {
                        el.closest('.fieldset').classList.add('has-msg');

                    } else {
                        el.closest('.fieldset').classList.remove('has-msg');
                    }
                    checkForm();
                },
                checkForm = function () {
                    var hasError = false;
                    form.querySelectorAll('input, textarea').forEach(function (el) {
                        if( !el.value || el.closest('.fieldset').classList.contains('has-msg') ) {
                            hasError = true;
                        }
                    });
                    btn.closest('.fieldset').classList.remove('has-msg');
                    btn.disabled = hasError;
                },
                successMessage = '<span style="color:#0085CF">{{ 'app.frontend.feedback.send_message'|trans({}, 'AppBundle') }}</span>',
                sendForm = function () {
                    xAjax({
                        url: '{{ path('feedback') }}',
                        type: 'post',
                        data: {
                            name: form.querySelector('input[name=name]').value,
                            mail: form.querySelector('input[name=email]').value,
                            msg: form.querySelector('textarea').value
                        },
                        dataFormat: 'text',
                        success: function(answer) {
                            var btnWrapper = btn.closest('.fieldset');
                            answer = JSON.parse(answer);
                            if(answer.success) {
                                form.querySelectorAll('input, textarea').forEach(function(el) {
                                    el.value = '';
                                    btn.disabled = true;
                                    btnWrapper.querySelector('.error').innerHTML = successMessage;
                                });
                            } else {
                                btnWrapper.querySelector('.error').innerHTML = answer;
                            }
                            btnWrapper.classList.add('has-msg');
                        }
                    });
            };
            return {
                init: function() {
                    form.addEventListener('submit', function(e) {
                        e.preventDefault();
                        grecaptcha.reset();
                        sendForm();
                    });
                    form.querySelectorAll('input, textarea').forEach(function(el) {
                        el.addEventListener('input', function() {
                            checkField(el);
                        });
                        el.addEventListener('blur', function() {
                            if( !el.value ) {
                                el.closest('.fieldset').classList.remove('has-msg');
                            }
                        });
                    });
                },
                captchaCheck: function() {
                    checkForm();
                }
            }
        }();
        feedbackForm.init();
    </script>
</div>