{% set allLetter = 'app.frontend.filter_all_letter'|trans([], 'AppBundle') %}
<input id="alphabet" readonly="readonly" value="{{ currentName is not empty ? currentName : currentLetter is not empty ? currentLetter : allLetter }}">
<div class="filter-alphabet">
    {% set tabs = '<div class="filter-alphabet-tabs">' %}

    {% for letter, value in letters %}
        {% if value.link is defined and value.link %}
            <a href="{{ value.link }}"{% else %}<span data-target="alphabet-tab-{{ loop.index }}"{% endif %} class="filter-alphabet-item {% if letter == current %}active{% endif %}">{{ letter }}{% if value.link is defined and value.link %}</a>{% else %}</span>
        {% endif %}

        {% if value.items is defined and value.items|length %}
            {% set tabs = tabs ~ '<div class="filter-alphabet-tab" id="alphabet-tab-'~loop.index~'">' %}
            {% for author in value.items %}
                {% set tabs = tabs ~ '<a href="'~author.link~'" class="filter-alphabet-tab-item">'~author.name~'</a>' %}
            {% endfor %}
            {% set tabs = tabs ~ '</div>' %}
        {% endif %}
    {% endfor %}

    {% if not (tabs == '<div class="filter-alphabet-tabs">') %}
        {% set tabs = tabs ~ '</div>' %}
        {{ tabs|raw }}
    {% endif %}
</div>
<script>
    var alphbetFilter = function() {
        var alphbet = document.querySelector('.filter-alphabet'),
            inpAlphabet = document.getElementById('alphabet'),
            alphbetSwitcher = document.querySelectorAll('span.filter-alphabet-item'),
            alphbetTabs = document.querySelectorAll('.filter-alphabet-tab'),
            currentTab = 0;

        function showActiveTab(id) {
            if(!currentTab) {
                currentTab = alphbetTabs[0];
            } else {
                currentTab.classList.remove('active');
                currentTab = document.getElementById(id)
            }
            currentTab.classList.add('active');
        }

        return {
            init: function() {
                inpAlphabet.addEventListener('click', function(e) {
                    e.preventDefault();
                    this.classList.toggle('active');
                    //alphbet.style.display = 'block';
                });
                document.addEventListener('click', function (event) {
                    if (!(alphbet.contains(event.target) || inpAlphabet.contains(event.target))) {
                        inpAlphabet.classList.remove('active');
                        //alphbet.style.display = 'none';
                    }
                });
                if(alphbetSwitcher) {
                    showActiveTab();
                    alphbetSwitcher.forEach(function(tab) {
                        tab.addEventListener('click', function(e) {
                            e.preventDefault();
                            document.querySelector('span.filter-alphabet-item.active').classList.remove('active');
                            this.classList.add('active');
                            showActiveTab(tab.dataset.target);
                        });
                    });
                }
            }
        }
    }();
    alphbetFilter.init();
</script>