{#{{#}
    {#sonata_block_render(#}
        {#{ 'type': 'page.block.site_variable' },#}
        {#{#}
            {#'placement': 'banner-top'#}
        {#}#}
    {#)#}
{#}}#}

<div class="container">

    <a class="h-logo" onclick="_gaq.push(['_trackEvent', 'header', 'click', 'logo'])" href="{{ path('index') }}">
        {% if app.request.locale == 'ru' %}
            <img src="{{ asset('bundles/app/img/logo_segodnya_ru.svg') }}" />
        {% else %}
            <img src="{{ asset('bundles/app/img/logo_segodnya_ua.svg') }}" />
        {% endif %}
    </a>

    <div class="h-social">
        {#{{#}
            {#sonata_block_render(#}
                {#{ 'type': 'share.block.service.social_buttons' },#}
                {#{ 'placement': 'header' }#}
            {#)#}
        {#}}#}
    </div>


    <a href="{{ path('index', [], true) }}/passport/register.html" class="h-login"><img src="{{ asset('bundles/app/img/signin.png') }}" /></a>

</div>

{#{{ knp_menu_render('main', {'template': 'AppBundle:Menu:main_menu.html.twig'}) }}#}