{% if partners_feed %}
    <div class="b-homepage-partners">
        <h3>{{ 'app.frontend.partners_news'|trans({}, 'AppBundle') }}</h3>
        {% set line = 0 %}
        {% set feed_domain = null %}
        {% set lang = app.request.locale %}
        {% set colors_title = ['blue', 'red', 'orange', 'green'] %}

        {% for pf in partners_feed %}
            {% set image = pf.poster|imagine_filter('image_300x200') %}
            {% set link = lang == 'uk' and pf.link_ua is defined ? pf.link_ua : pf.link_ru %}
            {% set title = lang == 'uk' and pf.title_ua is defined ? pf.title_ua : pf.title_ru %}

            {% set link_domain = link|split('/')[2]|split('.')|slice(-2)|join('.') %}
            {% if feed_domain != link_domain %}
                {% if not loop.first and not loop.last %}
                    </div>
                {% endif %}

                <div class="b-label b-label-{{ colors_title[line] }}">{{ link_domain|lower }}</div>
                {% set line = line + 1 %}

                <div class="b-homepage-partners-block">
                {% set feed_domain = link_domain %}
            {% endif %}

            <div class="block">
                <a href="{{ link }}" class="b-news">
                    <div class="b-news-img-wrap" style="background-image: url({{ image }});"></div>
                    <div class="b-news-meta">
                        <span>{{ date(pf.date)|date_time_humanize() }}</span>
                    </div>
                    <h4>{{ title }}</h4>
                </a>
            </div>

            {% if loop.last %}
                </div>
            {% endif %}
        {% endfor %}
    </div>
{% endif %}