{% block content %}
    {% spaceless %}
        <h1>{{ 'front.opinion'|trans([], 'ArticleBundle')}}</h1>
        <div class="rubric-page-control">
            {{ 'front.authors.filter_title'|trans([], 'ArticleBundle')}}:
            {{
            sonata_block_render(
                { 'type': 'app.block.service.filter_letter' },
                {
                    'letters': filterLetter,
                    'current': filterLetter|length ? filterLetter|keys|first : null,
                    'currentName': blogger is not empty ? blogger.name : null,
                }
            )
            }}
        </div>

        {% if show_top_block %}
            {% for article in articles[:2] %}
                {{
                sonata_block_render(
                    { 'type': 'article.block.service.opinion' },
                    {
                        'article': article,
                        'show_label': false,
                        'is_main': false,
                    }
                )
                }}
            {% endfor %}
        {% endif %}

        {% import "ArticleBundle:Block/macros:opinion_item.html.twig" as opinion %}

        {% set listArticles = show_top_block ? articles[2:] : articles %}
        {% for article in listArticles %}
            {{ opinion.item_inline(article) }}
        {% endfor %}

        <div class="br"></div>
        {% if settings.show_paginator and articles.maxPerPage is defined and articles.count > articles.maxPerPage %}
            {{ pagerfanta(articles) }}
        {% endif %}
    {% endspaceless %}
{% endblock %}