<footer>
    <div class="container">
        <nav class="menu menu--second">
            {% set menu_list = [
            {title: 'Подписка', link: '#'},
            {title: 'Контакты', link: '#'},
            {title: 'Команда', link: '#'},
            {title: 'РЕклама', link: '#'}
            ] %}

            <div id="menu__items-wr" class="menu__items-wr">
                {% for key, item in menu_list %}
                    <a class="menu__item {% if key == 1 %} -active {% endif %}" href="{{ item.link }}">{{ item.title }}</a>
                {% endfor %}
            </div>

        </nav>

        <div class="soc-footer-block">
            <img class="conenast-logo" src="{{ asset('bundles/app/i/cnd-logo.png') }}" alt="">
            <div class="icons">
                <a href="#" class="icons__item"><i class="fa fa-facebook-square"></i></a>
                <a href="#" class="icons__item"><i class="fa fa-vk"></i></a>
                <a href="#" class="icons__item"><i class="fa fa-instagram"></i></a>
            </div>
        </div>


        <div class="copyright">
            © 2015 «Condé Nast» as to materials published on www.vogue.com. All Rights Reserved. <br><br>

            © 2015 ООО «Издательский Дом УМХ» Торговая марка VOGUE является исключительной собственностью Condé Nast
                и используется ООО «Издательский Дом УМХ» в соответствии с лицензионным договором с Condé Nast.
                Какое-либо копирование, публикация, перепечатка и/или использование каким-либо другим способом - строго
                запрещено! Материалы с пометкой «Promotion» публикуются на правах рекламы.
        </div>

        <nav class="footer-menu">
            <h4 class="footer-menu__title">Vogue в мире</h4>
            {% set footer_menu_list = [
            {title: 'USA', link: '#'},
            {title: 'Korea', link: '#'},
            {title: 'Germany', link: '#'},
            {title: 'Russin', link: '#'},
            {title: 'France', link: '#'},
            {title: 'China', link: '#'},
            {title: 'Brazil', link: '#'}
            ] %}
            {% for item in footer_menu_list  %}
                <a class="footer-menu__link" href="{{ item.link }}">{{ item.title }}</a>
            {% endfor %}
        </nav>
    </div>
</footer>

<script data-main="{{ asset('bundles/app/js/config') }}" src="{{ asset('bundles/app/js/lib/require.js') }}"></script>
