{% block page %}
    <div class="article-detail">

        <h1 class="article-detail__title">
            {{ article.translate.title }}
        </h1>

        <div class="article-detail__date">{{ article.publishAt|format_date('dd MMMM yyyy') }}</div>

        <div class="article-detail__share">
            {# fixme: use social network's SDK #}
            {% set current_url = url(app.request.get('_route'), app.request.get('_route_params')) %}
            <a href="http://www.facebook.com/sharer.php?u={{ current_url }}" rel="nofollow" class="article-detail__share__item"><i class="fa fa-facebook"></i></a>
            <a href="http://vkontakte.ru/share.php?url={{ current_url }}&title={{ article.translate.title }}" rel="nofollow" class="article-detail__share__item"><i class="fa fa-vk"></i></a>
            <a href="http://twitter.com/share?url={{ current_url }}&text={{ article.translate.title }}" rel="nofollow" class="article-detail__share__item"><i class="fa fa-twitter"></i></a>
        </div>

        {% if article.image650 %}
            <div class="post__photo post__photo__cover clearfix">

                <div class="cover_container">
                    <img src="/{{ article.image650 }}" alt="{{ article.translate.title }}">
                    {% if article.imageCaption or article.source %}
                        <div class="img-copyright--above">
                            <span class="text__photo__about-title">{{ article.imageCaption }}</span>
                            <em class="text__photo__about-author">{{ article.source }}</em>
                        </div>
                    {% endif %}
                </div>

                {% if article.isFullWidth %}
                    <div class="post__photo__cover_about">
                        {{ article.getTopContent() }}
                    </div>

                    {# hardcoded banner #}
                    {{ sonata_block_render({'type': 'sonata.block.service.banner'}, {'bannerId': 375 }) }}
                {% endif %}

            </div>
        {% endif %}

        <div class="article-detail__text">
            {{ shortcode(article.translate.content, article)|raw }}
        </div>

        {% include 'AppBundle:partials:tags.html.twig' with {'tags': article.tags} %}

        <div class="clearfix"></div>
    </div>
{% endblock %}
