{# layout.twig #}
<!DOCTYPE html>
<html {{ sonata_seo_html_attributes() }}>
<head {{ sonata_seo_head_attributes() }}>
    {% if app.request.locale == 'ru' and app.request.attributes.get('_route_params')%}
        <link rel="alternate" hreflang="uk" href="{{ url(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')|merge({'_locale': 'uk'})) }}" />
    {% elseif app.request.locale == 'uk' %}
        <link rel="alternate" hreflang="ru" href="{{ url(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')|merge({'_locale': 'ru'})) }}" />
    {% endif %}
    {{ sonata_seo_title() }}
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=yes">
    {{ sonata_seo_metadatas() }}
    {{ sonata_seo_link_canonical() }}
    {{ sonata_seo_links() }}
    {% if app.debug is defined and app.debug %}
        <link rel="stylesheet" type="text/css" href="{{ asset('bundles/app/css/style.css') }}" />
    {% else %}
        {% stylesheets
        '@AppBundle/Resources/public/css/style.css'
        vars=["version"]
        filter='scssphp' output='static/css/compiled/style_{version}.css' %}
        <link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}" />
        {% endstylesheets %}
    {% endif %}
    {%include "AppBundle::default/favicon.html.twig" %}
    {% if page is defined %}
        {% if page.javascript is not empty %}
            <script>
                {{ page.javascript|raw }}
            </script>
        {% endif %}

        {% if page.stylesheet is not empty %}
            <style>
                {{ page.stylesheet|raw }}
            </style>
        {% endif %}
    {% endif %}
</head>
<body class="theme--white">
    <div class="wr">
        {{ sonata_page_render_container('header', page) }}

        <main>
            {% block page %}{% endblock %}
        </main>

        {{ sonata_page_render_container('footer', page) }}
    </div>
</body>
</html>

