{% macro item_small(article, loop) %}
{% import _self as item %}
{% spaceless %}
<a href="{{ article_path(article) }}" class="b-photonewsgrid-item">
    <div class="b-photonewsgrid-item-img-wrap">
        <div class="b-photonewsgrid-item-img">
            <img src="{{ article.image.path|get_actual_image('image_300x200', ['main']) }}">
        </div>
    </div>
    <h5>{{ item.item_title(article) }}</h5>
    <div class="b-photonewsgrid-item-meta">{{ article.publishAt|date_time_humanize() }}</div>
</a>
{% endspaceless %}
{% endmacro %}
{% macro item_middle(article, loop, show_title=false, item_class) %}
{% import _self as self_item %}
{% spaceless %}
<div class="block{% if loop.first %} block-first{% endif %}{% if article_has_type(article, constant('ArticleBundle\\Twig\\ArticleExtension::IS_VIDEO')) %} b-news-video{% endif %}">
    {% if item_class is empty %}
        {% if article_has_type(article, constant('ArticleBundle\\Twig\\ArticleExtension::IS_VIDEO')) %}
            <label class="b-label b-label-red">{{ 'app.frontend.video'|trans([], 'AppBundle') }}</label>
        {% elseif show_title %}
            <label class="b-label b-label-red">{{ article.category }}</label>
        {% endif %}
    {% endif %}
    <a href="{{ article_path(article) }}" class="b-news {{ item_class|default('') }}">
        <div class="b-news-img-wrap">
            <div class="b-news-img">
                <img src="{{  article.getImage() ? article.getImage().getPath()|get_actual_image('image_300x200', ['main']) : default_article_image|imagine_filter('image_300x200') }}">
            </div>
        </div>
        <h4>{{ self_item.item_title(article) }}</h4>
        <div class="b-news-meta">
            <span>{{ article.publishAt|date_time_humanize() }}</span>
            <span class="meta-views">{{ article.getViews() }}</span>
        </div>
        <p>{{ article.getHeader()|striptags }}</p>
    </a>
</div>
{% endspaceless %}
{% endmacro %}
{% macro item_text(article, loop) %}
{% import _self as item %}
{% spaceless %}
    <li class="b-lastnews-item {% if article_has_type(article, constant('ArticleBundle\\Twig\\ArticleExtension::IS_BOLD')) %}hotnews{% endif %}{% if article_has_type(article, constant('ArticleBundle\\Twig\\ArticleExtension::IS_RED')) %}hotnews super{% endif %}">
		<span class="b-lastnews-item-time">{{ article.publishAt|format_datetime('HH:mm')  }}</span>
        <a class="b-lastnews-item-link" href="{{ article_path(article) }}">
			{{ item.item_title(article) }}
                {% if article_has_type(article, constant('ArticleBundle\\Twig\\ArticleExtension::IS_IMAGE')) %}
                    <span class="news-item-type news-item-type-photo"></span>
                {% endif %}
                {% if article_has_type(article, constant('ArticleBundle\\Twig\\ArticleExtension::IS_VIDEO')) %}
                    <span class="news-item-type news-item-type-video"></span>
                {% endif %}
                {#{% if article.authors|length %}#}
                    {#<span class="news-item-type news-item-type-feed"></span>#}
                {#{% endif %}#}
                {% if article.marker is not empty %}
                    <span class="news-item-type news-item-type-label">{{ article.marker.getTitle() }}</span>
                {% endif %}
                {#{% if article.is_opinion is defined and article.is_opinion %}#}
                    {#<span class="text-icon dark-blue">{{ 'app.label.plash_opinion'|trans({}, 'AppBundle', app.request.locale) }}</span>#}
                {#{% endif %}#}
        </a>
    </li>
{% endspaceless %}
{% endmacro %}

{% macro item_title(article) %}
	{% spaceless %}
		{% if article is instanceof("\\ArticleBundle\\Entity\\Article") and article_has_type(article, constant('ArticleBundle\\Twig\\ArticleExtension::IS_PHOTO_FACT')) %}
			{{ 'front.photofact'|trans([], 'ArticleBundle') }}.
		{% endif %}
		{{ article.title }}
	{% endspaceless %}
{% endmacro %}

{% macro item_label(article, list = false) %}
    {% spaceless %}
        {% if article.getBlogger() %}
            {% if list %}
                <label class="label label-blue">{{ 'app.frontend.opinions'|trans([], 'AppBundle') }}</label>
            {% else %}
                <div class="article-title-tags"><a href="#" class="label label-blue">{{ 'app.frontend.opinions'|trans([], 'AppBundle') }}</a></div>
            {% endif %}
        {% elseif article.getMarker() %}
            <div class="article-title-tags"><a class="label label-blue">{{ article.getMarker().title }}</a></div>
        {% endif %}
    {% endspaceless %}
{% endmacro %}

{% macro item_description(article, mode = '') %}
	{% spaceless %}
		{% if article is instanceof("\\ArticleBundle\\Entity\\Article") and (article.isAdvHidden or article.isInnerAdvHidden or 'blockquote' in article.translate.description) %}
			{{ article.translate.description|shortcode(true, mode) }}
		{% else %}
			{% for paragraph in article.translate.description|shortcode(true, mode)|split('</p>') %}
				{{ paragraph|raw }}</p>

				{% if loop.index == ((loop.length - 1) / 2)|round(0, 'ceil') %}
                    <div class="article-banner">
						{{
                            sonata_block_render(
                                { 'type': 'page.block.site_variable' },
                                {
                                    'placement': 'banner-article-text-' ~ random('1', '2')
                                }
                            )
						}}
                    </div>
				{% endif %}
			{% endfor %}
		{% endif %}
	{% endspaceless %}
{% endmacro %}

{%- macro item_block_title(settings) %}
    {% if settings.block_title is defined and settings.colour is defined and settings.block_title and settings.colour %}
        {% set blockTitle = app.request.getLocale() == 'uk' and settings.block_title_ua is defined and settings.block_title_ua ? settings.block_title_ua : settings.block_title %}
        <label class="b-label b-label-{{ settings.colour }}">{{ blockTitle }}</label>
    {% endif %}
{% endmacro %}

{% macro item_lifestyle(article, block_class, img_filter, img_prefix) %}
    {% import _self as self_item %}
    {% spaceless %}
        {% set type_class = article.marker ? 'partner-news' : '' %}
        {% if article_has_type(article, constant('ArticleBundle\\Twig\\ArticleExtension::IS_IMAGE')) %}
            {% set type_class = 'gallery-news' %}
        {% endif %}
        {% if article_has_type(article, constant('ArticleBundle\\Twig\\ArticleExtension::IS_VIDEO')) %}
            {% set type_class = 'video-news' %}
        {% endif %}

        <div class="news-block {{ block_class|default('') }} {{ type_class }}">
            <div class="news-block-img-wrap">
                <div class="news-block-img">
                    <a href="{{ article_path(article) }}">
                        <img src="{{ article.getImage() ? article.getImage().getPath()|get_actual_image(img_filter, [img_prefix]) : default_article_image|imagine_filter(img_filter) }}">
                    </a>
                </div>
            </div>
            <div class="news-block-meta">
                <span>{{ article.publishAt|date_time_humanize() }}</span>
                {% if article.marker %}
                    <span>{{ article.marker.title }}</span>
                {% else %}
                    <span>{{ article.category.title }}</span>
                {% endif %}
                <div class="line-single"></div>
            </div>
            <h4><a href="{{ article_path(article) }}">{{ self_item.item_title(article) }}</a></h4>
        </div>
    {% endspaceless %}
{% endmacro %}

{% macro item_label_lifestyle(article) %}
	{% spaceless %}
		{% if article.getMarker() %}
			<div class="title-label"><div>{{ article.getMarker().title }}</div></div>
		{% endif %}
	{% endspaceless %}
{% endmacro %}

{% macro item_top_lifestyle(article, img_filter, img_filter_blur, img_prefix) %}
    {% import _self as self_item %}
    {% spaceless %}
        <div class="special-main-slide">
            <a href="{{ article_path(article) }}">
                <div class="row special-slide">
                    <div class="special-slide-img-wrap">
                        {% set slideImg = article.getImage() ? article.getImage().getPath()|get_actual_image(img_filter, [img_prefix]) : default_article_image|imagine_filter(img_filter) %}
                        {% set slideImgBlur = article.getImage() ? article.getImage().getPath()|get_actual_image(img_filter_blur, [img_prefix]) : default_article_image|imagine_filter(img_filter) %}
                        <div class="special-slide-img-blur"><img src="{{ slideImgBlur }}"></div>
                        <div class="special-slide-img-blur"><img src="{{ slideImgBlur }}"></div>
                        <div class="special-slide-img"><img src="{{ slideImg }}"></div>
                    </div>
                </div>
                <div class="special-slide-descriptions">
                    <div>
                        <div class="special-slide-meta">
                            <span>{{ article.publishAt|date_time_humanize() }}</span>
                            {% if article.marker %}
                                <span>{{ article.marker.title }}</span>
                            {% else %}
                                <span>{{ article.category.title }}</span>
                            {% endif %}
                            <div class="line-single"></div>
                        </div>
                        <h2>{{ self_item.item_title(article) }}</h2>
                    </div>
                </div>
            </a>
        </div>
    {% endspaceless %}
{% endmacro %}

{% macro item_fixed_lifestyle(article, is_revers, show_time) %}
    {% import _self as self_item %}
    {% spaceless %}
        <div class="row single-slide single-slide{% if is_revers %}-reverse{% endif %}">
            <div class="col-sm-12 col-md-8">
                <div class="single-slide-img-wrap">
                    <div class="single-slide-img">
                        <a href="{{ article_path(article) }}">
                            <img src="{{ article.getImage() ? article.getImage().getPath()|get_actual_image('image_650x434', ['ls']) : default_article_image|imagine_filter('image_650x434') }}">
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-4">
                <a href="{{ article_path(article) }}">
                    <div class="single-slide-descriptions">
                        <div>
                            <div class="single-slide-meta">
                                {% if show_time %}
                                    <span>{{ article.publishAt|date_time_humanize() }}</span>
                                {% else %}
                                    <span class="hidetime"></span>
                                {% endif %}
                                {% if article.marker %}
                                    <span>{{ article.marker.title }}</span>
                                {% else %}
                                    <span>{{ article.category.title }}</span>
                                {% endif %}
                                <div class="line-single"></div>
                            </div>
                            <h4>{{ self_item.item_title(article) }}</h4>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    {% endspaceless %}
{% endmacro %}

{% macro special_lifestyle(spectopic_data) %}
    {% import _self as self_item %}
    {% spaceless %}
        {% if spectopic_data['articles'].getNbResults() > 4 %}
            <div class="framebox framed-list">
                <div class="framebox-insideframe">
                    <h3 class="framebox-title">{{ spectopic_data['spectopic'].title }}</h3>
                    <div class="line-with-wave">
                        <div class="line-single"></div>
                        <div class="line-single"></div>
                    </div>
                    <ul>
                        {% set slice_count = spectopic_data['articles'].getNbResults() > 10 ? 5 : 3 %}
                        {% for article in spectopic_data['articles'][:slice_count] %}
                            <li><a href="{{ article_path(article) }}">{{ self_item.item_title(article)|raw }}</a></li>
                        {% endfor %}

                        <li class="framed-list-see_all">
                            <a href="{{ path('lifestyle_spectopic', {'spectopic': spectopic_data['spectopic'].slug}) }}">
                                {{ 'front.show_all_articles'|trans({}, 'ArticleBundle') }} <span></span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        {% endif %}
    {% endspaceless %}
{% endmacro %}

{% macro image_source_string(image) %}
	{% spaceless %}
		{% set imageSources = '' %}
		{% if image.getPhotographer()%}
			{% if imageSources %}{% set imageSources = imageSources ~ ', '%}{% endif %}
			{% set imageSources = imageSources ~ image.getPhotographer() %}
		{% endif %}
		{% if image.getSource()%}
			{% if imageSources %}{% set imageSources = imageSources ~ ', '%}{% endif %}
			{% set imageSources = imageSources ~ image.getSource() %}
		{% endif %}
		{% if image.getCopyrights()%}
			{% for copyright in image.getCopyrights() %}
				{% if imageSources %}{% set imageSources = imageSources ~ ', '%}{% endif %}
				{% set imageSources = imageSources ~ copyright.name %}
			{% endfor %}
		{% endif %}
        {% if imageSources %}Фото: {{ imageSources }}{% endif %}
	{% endspaceless %}
{% endmacro %}
