{% macro item_block(article, settings = null) %}
    {% spaceless %}
        <div class="block">
            {% if article.getBlogger() %}
                {% if settings and settings.show_label %}
                    <a href="{{ path('opinion_list', { 'page': null }) }}" class="b-label b-label-blue">{{ 'app.frontend.opinions'|trans([], 'AppBundle') }}</a>
                {% endif %}
                <a href="{{ path('opinion_view', { 'blogger': article.blogger.slug, 'slug': article.slug, 'id': article.id }) }}" class="b-opinion">
                    <div class="b-opinion-author">
                        <div class="b-opinion-author-photo"><img src="{{ article.blogger.photo|get_actual_image('image_300x200', ['main']) }}" /></div>
                        <div class="b-opinion-author-info">
                            <h5>{{ article.blogger.getName() }}</h5>
                            <p>{{ article.blogger.getPosition() }}</p>
                        </div>
                    </div>
                    <h4>{{ article.getTitle()|raw }}</h4>
                    <div class="b-opinion-meta">
                        <span>{{ article.publishAt|date_time_humanize() }}</span>
                        {% if settings.is_main is not defined or not settings.is_main %}
                            <span class="meta-views">{{ article.getViews() }}</span>
                        {% endif %}
                    </div>
                    {% set text = article.getHeader() ?: article.getDescription()|replace({'&nbsp;' : ''})|striptags|truncate(280, true) %}
                    <p>{{ text|striptags|raw }}</p>
                </a>
            {% endif %}
        </div>
    {% endspaceless %}
{% endmacro %}

{% macro item_inline(article) %}
    {% spaceless %}
        <div class="b-opinion-full">
            <div class="b-opinion-full-photo" style="background-image: url({{ article.blogger.photo|imagine_filter('blogger_100x100') }})"></div>
            <div class="b-opinion-full-info">
                <h5 class="b-opinion-full-author_name"><a href="{{ path('opinion_blogger_list', { 'blogger': article.blogger.slug }) }}">{{ article.blogger.getName() }}</a></h5>
                <p class="b-opinion-full-author_info">{{ article.blogger.getPosition() }}</p>
                <h4><a href="{{ path('opinion_view', { 'blogger': article.blogger.slug, 'slug': article.slug, 'id': article.id }) }}">{{ article.getTitle() }}</a></h4>
                <div class="b-opinion-full-meta">
                    <span>{{ article.publishAt|date_time_humanize() }}</span>
                    <span class="meta-views">{{ article.getViews() }}</span>
                </div>
            </div>
        </div>
    {% endspaceless %}
{% endmacro %}

{% macro item_middle(article) %}
{% import "ArticleBundle:Block/macros:item.html.twig" as item %}
    {% spaceless %}
        <div class="block">
            <a href="{{ path('opinion_view', { 'blogger': article.blogger.slug, 'slug': article.slug, 'id': article.id }) }}" class="b-news">
                <div class="b-news-img-wrap">
                    <div class="b-news-img">
                        <img src="{{ article.getImage() ? article.getImage().getPath()|get_actual_image('image_300x200', ['main']) : default_article_image|imagine_filter('image_300x200') }}">
                    </div>
                </div>
                <h4>{{ item.item_title(article)|raw }} {{ item.item_label(article, true) }}</h4>
                <div class="b-news-meta">
                    <span>{{ article.publishAt|date_time_humanize() }}</span>
                    {% if article.getViews() %}
                        <span class="meta-views">{{ article.getViews() }}</span>
                    {% endif %}
                </div>
                {% set text = article.getHeader() ?: article.getDescription()|replace({'&nbsp;' : ''})|striptags|truncate(280, true) %}
                <p>{{ text|striptags|raw }}</p>
            </a>
        </div>
    {% endspaceless %}
{% endmacro %}