{% import "ArticleBundle:Block/macros:item.html.twig" as macro %}

{% if article %}
    <div class="block">
        {% if settings is defined %}{{ macro.item_block_title(settings) }}{% endif %}
        <div class="b-news ">
            <div class="b-news-img-wrap">
                <div class="b-news-img">
                    <a href="{{ article_path(article) }}">
                        <img src="{{  article.getImage() ? article.getImage().getPath()|get_actual_image('image_300x200', ['main']) : default_article_image|imagine_filter('image_300x200')}}">
                    </a>
                </div>
            </div>
            <h4><a href="{{ article_path(article) }}">{{ macro.item_title(article) }}</a></h4>
            <p>{{ article.getHeader()|striptags }}</p>
            <div class="b-news-meta">
                <span>{{ article.publishAt|date_time_humanize() }}</span>
            </div>
        </div>
    </div>
{% endif %}