{% import "ArticleBundle:Block/macros:item.html.twig" as macro %}

{% if articles|length %}
    <div class="block">
        {% if settings is defined %}{{ macro.item_block_title(settings) }}{% endif %}

        {% spaceless %}
            {% if item == 'day_story' %}

                {% set title = app.request.getLocale() == 'uk' and settings.title_ua ? settings.title_ua : settings.title ?: null %}
                <div class="b-plot">
                    <h3>{{ title }}</h3>
                    <ul>
                        {% for key, article in articles %}
                            <li class="b-morereading-item">
                                <span class="b-morereading-item-time">{{ article.publishAt|date_time_humanize() }}</span>
                                <a class="b-morereading-item-link" href="{{ article_path(article) }}">
                                    {{ macro.item_title(article)|raw }}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>

            {% elseif item == 'analytics' %}

                <div class="b-analytics">
                    {% for article in articles %}
                        <a href="{{ article_path(article) }}">{{ article.getTitle()|raw }}</a>
                    {% endfor %}
                </div>
            {% elseif item == 'one_or_two_column' %}

                {% if settings.type_column is constant('ArticleBundle\\Block\\ArticlesOneOrTwoColumnBlockService::ONE_COLUMN') %}
                    <div class="b-photonewslist">
                        {% for article in articles %}
                            <a href="{{ article_path(article) }}" class="b-photonewslist-item">
                                <div class="b-photonewslist-item-img-wrap">
                                    <div class="b-photonewslist-item-img">
                                        <img src="{{ article.getImage() ? article.getImage().getPath()|get_actual_image('image_150x100', ['main']) : default_article_image|imagine_filter('image_150x100') }}" />
                                    </div>
                                </div>
                                <h5>{{ macro.item_title(article)|raw }}</h5>
                                <div class="b-photonewslist-item-meta">{{ article.publishAt|date_time_humanize() }}</div>
                            </a>
                        {% endfor %}
                    </div>
                {% elseif settings.type_column is constant('ArticleBundle\\Block\\ArticlesOneOrTwoColumnBlockService::TWO_COLUMN') %}
                    <div class="b-photonewsgrid">
                        {% for article in articles %}
                            <a href="{{ article_path(article) }}" class="b-photonewsgrid-item">
                                <div class="b-photonewsgrid-item-img-wrap">
                                    <div class="b-photonewsgrid-item-img">
                                        <img src="{{ article.getImage() ? article.getImage().getPath()|get_actual_image('image_150x100', ['main']) : default_article_image|imagine_filter('image_150x100') }}" />
                                    </div>
                                </div>
                                <h5>{{ macro.item_title(article)|raw }}</h5>
                                <div class="b-photonewsgrid-item-meta">{{ article.publishAt|date_time_humanize() }}</div>
                            </a>
                        {% endfor %}
                    </div>
                {% endif %}

            {% endif %}
        {% endspaceless %}
    </div>
{% endif %}