{% import "ArticleBundle:Block/macros:item.html.twig" as macro %}
{% if articles %}
    <div class="block">
        {% set sliderID = 'slider_'~random('abcdefghijklmnopqrstuvwxyz')~random(range(10, 90)) %}
        {% spaceless %}
            <div class="b-slider" id="{{ sliderID }}">
                {% if category %}
                    <h3><a href="{{ article_category_path(category) }}">{{ category.getTitle()|raw }}</a></h3>
                {% endif %}
                <div class="b-slider-items-wrap">
                    <div class="b-slider-items">
                        {% for article in articles %}
                            <div class="b-slider-item">
                                <div class="b-slider-item-img-wrap">
                                    <a href="{{ article_path(article) }}" class="b-slider-item-img">
                                        <img src="{{ article.getImage() ? article.getImage().getPath()|get_actual_image('image_300x200', ['main']) : default_article_image|imagine_filter('image_300x200') }}" alt="{{ article.getTitle()|raw }}" />
                                    </a>
                                </div>
                                <h4><a href="{{ article_path(article) }}">{{ macro.item_title(article) }}</a></h4>
                                <div class="b-slider-item-meta">{{ article.publishAt|date_time_humanize() }}</div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                {% if articles|length > 1 %}
                    <div class="b-slider-prev"></div>
                    <div class="b-slider-next"></div>
                {% endif %}
            </div>
            <script>
                var {{ sliderID }} = new blockSlider;
                {{ sliderID }}.init(document.getElementById("{{ sliderID }}"));
            </script>
        {% endspaceless %}
    </div>
{% endif %}