
{% import "ArticleBundle:Block/macros:item.html.twig" as item %}
{% if settings['show_title'] %}
    <div class="br"></div>
    <h2 class="sub-title">{{ settings['show_title'] }}</h2>
{% endif %}
{% for article in articles %}
    {{ item.item_middle(article, loop, settings['show_block_title'], settings.item_class) }}
{% endfor %}
{% if settings['show_paginator'] and articles.getNbPages() > 1 %}
    {{ pagerfanta(articles) }}
{% endif %}
{% if settings['see_more_text'] %}
    <a href="{{ settings['see_more_href'] }}" class="more-news-btn">{{ settings['see_more_text'] }}</a>
{% endif %}