{% import "ArticleBundle:Block/macros:item.html.twig" as macro %}
<div class="block">
    {% if settings is defined %}{{ macro.item_block_title(settings) }}{% endif %}
    <a href="{{ article_path(article) }}" class="b-news b-news-bigtitle">
        <div class="b-news-img-wrap">
            <div class="b-news-img">
                <img src="{{ article.getImage() ? article.getImage().getPath()|get_actual_image('image_300x200', ['main']) : default_article_image|imagine_filter('image_300x200') }}">
            </div>
        </div>
        <h2>{{ macro.item_title(article)|raw }}</h2>
        <div class="b-news-meta">
            <span>{{ article.publishAt|date_time_humanize() }}</span>
        </div>
        <p>{{ article.getHeader()|striptags|raw }}</p>
    </a>
</div>