{% if gallery %}
    <div class="block">
        <a href="{{ article_category_path(category) }}" class="b-label b-label-red">{{ category.getTitle() }}</a>
        <a href="{{ article_path(article) }}" class="b-gallery">
            <div class="b-gallery-img-wrap">
                <div class="b-gallery-img">
                    {% if gallery.images[0] is defined %}
                        <img src="{{ gallery.images[0].getImage().getPath()|get_actual_image('image_300x200', ['main']) }}" />
                    {% endif %}
                </div>
                <div class="b-gallery-text">
                    <span>{{ gallery.count }} {{ 'front.photo'|trans([], 'ArticleBundle') }}</span>
                    <h4>{{ article.getTitle()|raw }}</h4>
                </div>
            </div>
            {% for image in gallery.images[1:] %}
                <img src="{{ image.getImage().getPath()|get_actual_image('image_150x100', ['main']) }}"
                     class="b-gallery-img-{% if gallery.images|length <= 5 %}medium{% else %}small{% endif %}" />
            {% endfor %}
        </a>
    </div>
{% endif %}