{% import "ArticleBundle:Block/macros:item.html.twig" as item %}
{% if articles.currentPage == 1 %}
    {% if settings['show_title'] %}
    <div class="br"></div>
    <h2 class="sub-title">{{ 'tag.block.title.last'|trans({'%tag%': settings['tag']}, 'ShareBundle') }}</h2>
    {% endif %}
    {% for article in articles[:2] %}
        {{ item.item_middle(article, loop) }}
    {% endfor %}
{% endif %}
<div class="br"></div>
<h2 class="sub-title">{{ settings['show_title'] }}</h2>
{% for article in articles.currentPage == 1 ? articles[2:] : articles %}
    {{ item.item_middle(article, loop) }}
{% endfor %}
{% if settings['show_paginator'] and articles.getNbPages() > 1 %}
    {{ pagerfanta(articles) }}
{% endif %}
