{% if shortcode_data and shortcode_data.gallery is defined and shortcode_data.gallery.galleryHasImage is defined and shortcode_data.gallery.galleryHasImage.count() %}
	<amp-carousel id="carousel-with-carousel-preview-{{ shortcode_data.gallery.getId() }}" width="400" height="300" layout="responsive" type="slides">
		{% for galleryMedia in shortcode_data.gallery.galleryHasImage %}
			<amp-img src="{{ galleryMedia.image.getPath()|get_actual_image('gallery_big_640', ['main']) }}" width="400" height="300" layout="responsive" alt=""></amp-img>
		{% endfor %}
	</amp-carousel>
	<amp-carousel class="carousel-preview" width="auto" height="48" layout="fixed-height" type="carousel">
		{% for galleryMedia in shortcode_data.gallery.galleryHasImage %}
			<button on="tap:carousel-with-carousel-preview-{{ shortcode_data.gallery.getId() }}.goToSlide(index={{ loop.index0 }})">
				<amp-img src="{{ galleryMedia.image.getPath()|get_actual_image('gallery_small_113', ['tn']) }}" width="60" height="40" layout="responsive" alt=""></amp-img>
			</button>
		{% endfor %}
	</amp-carousel>
{% endif %}