{% if shortcode_data and shortcode_data.gallery is defined and shortcode_data.gallery.galleryHasImage is defined and shortcode_data.gallery.galleryHasImage.count() %}
	{% spaceless %}
		<div class="content-gallery">
			<div class="line-single"></div>
			<div class="content-gallery-images owl-carousel">
				{% for galleryMedia in shortcode_data.gallery.galleryHasImage %}
					<div class="content-gallery-item">
						<div class="content-gallery-item-image" style="background-image: url('{{ galleryMedia.image.getPath()|get_actual_image('gallery_big_640', ['main']) }}')"></div>
						<div class="content-gallery-item-desc">{{ galleryMedia.image.translate.description|default() }}</div>

						{% if shortcode_data.gallery.galleryHasPhotographers.count() %}
							<div class="content-gallery-item-source">
								{% for photographer in shortcode_data.gallery.galleryHasPhotographers %}
									{{ photographer.getPhotographer().getName() }}{% if not loop.last %}, {% endif %}
								{% endfor %}
							</div>
						{% elseif galleryMedia.image.getSource() != '' %}
							<div class="content-gallery-item-source">{{ galleryMedia.image.getSource() }}</div>
						{% elseif shortcode_data.gallery.getSource() != '' %}
							<div class="content-gallery-item-source">{{ shortcode_data.gallery.getSource() }}</div>
						{% endif %}
					</div>
				{% endfor %}
			</div>
			<div class="content-gallery-current_num">1/{{ shortcode_data.gallery.galleryHasImage|length }}</div>
			<div class="line-single"></div>
		</div>
	{% endspaceless %}
{% endif %}