{% if shortcode_data.image and shortcode_data.image.getPath() %}
	{% import "ArticleBundle:Block/macros:item.html.twig" as item %}

	<figure>
		<img src="{{ shortcode_data.image.getPath() }}" alt="{{ shortcode_data.image.getDescription() }}" title="{{ shortcode_data.image.getDescription() }}" width="100%" class="today_img today_img_orig">
		{% if shortcode_data.image.getDescription() != '' %}<div class="figure-alt">{{ shortcode_data.image.getDescription() }}</div>{% endif %}
		{% set imageSource = item.image_source_string(shortcode_data.image) %}
		{% if imageSource %}<figcaption>{{ imageSource }}</figcaption>{% endif %}
	</figure>
{% endif %}