<title>
	{% if rssInfo is defined and rssInfo.getRssTitle() != '' %}{{ rssInfo.getRssTitle() }}{% else %}{{ 'front.rss.title'|trans([], 'ArticleBundle') }}{% endif %}
</title>
<description>{{ 'front.rss.description'|trans([], 'ArticleBundle') }}</description>
<link>{{ 'front.rss.link'|trans([], 'ArticleBundle') }}</link>
<image>
<url>{{ absolute_url(asset('bundles/app/img/logo_new_rss.gif.png')) }}</url>
<title>
	{% if rssInfo is defined and rssInfo.getRssTitle() != '' %}{{ rssInfo.getRssTitle() }}{% else %}{{ 'front.rss.title'|trans([], 'ArticleBundle') }}{% endif %}
</title>
<link>{{ 'front.rss.link'|trans([], 'ArticleBundle') }}</link>
</image>