<rss version="2.0">
	<channel>
		{% include 'ArticleBundle:rss/blocks:rss_head.xml.twig' %}

		{% for article in articles %}
			<item>
				<title>{{ article.title }}</title>
				<link>{{ absolute_url(article_path(article)) }}</link>
				<description><![CDATA[ {% if article.image %}<img src="{{ absolute_url(article.image.getPath|get_actual_image('image_610x343', ['main_new', 'main'])) }}" alt="{{ article.image.getDescription() }}" border=0> {% endif %}{{ article.getHeader()|raw }}]]></description>
				<category>{{ article.getCategory.getTitle }}</category>
				<pubDate>{{ article.publishAt|date('r') }}</pubDate>

				<fulltext><![CDATA[{{ article.getDescription()|shortcode(['external_links'])|html_entity_decode|raw }}]]></fulltext>

				{% if rssInfo.getSlug() == 'newsmate_lifestyle' and article.image %}
					<img_big>{{ absolute_url(article.image.getPath|get_actual_image('image_650x434', ['ls'])) }}</img_big>
					<img_small>{{ absolute_url(article.image.getPath|get_actual_image('image_310x207', ['lssm'])) }}</img_small>

					<item_date>
						{% if date(article.publishAt) >= date('-1days') %}
							{{ article.publishAt|date_time_humanize() }}
						{% else %}
							{{ article.publishAt|date_humanize() }}
						{% endif %}
					</item_date>
				{% endif %}
			</item>
		{% endfor %}

	</channel>
</rss>
