<rss version="2.0">
	<channel>
		{% include 'ArticleBundle:rss/blocks:rss_head.xml.twig' %}

		{% for article in articles %}
			<item>
				<id>{{ article.getId() }}</id>
				<title>{{ article.title }}</title>
				<link>{{ absolute_url(article_path(article)) }}</link>
				<description><![CDATA[{{ article.getDescription()|shortcode(['external_links'])|html_entity_decode|striptags('<p><i><b><strong><img><ul><li><br><iframe>')|replace({'<p></p>': ''})|raw }}]]></description>
				<category>{{ article.getCategory.getTitle }}</category>
				<pubDate>{{ article.publishAt|date('r') }}</pubDate>
				{% if article.image %}
					<enclosure url="{{ absolute_url(article.image.getPath|get_actual_image('image_300x200', ['main'])) }}" type="image/jpeg"/>
				{% endif %}
			</item>
		{% endfor %}
	</channel>
</rss>
