{% import "ArticleBundle:Block/macros:item.html.twig" as item %}

<div class="row article-content block-with-ads-banner">
	<div class="col-lg-8 col-md-12">

		{{ item.item_label_lifestyle(article) }}

		<div class="content-title">
			<h1>{{ item.item_title(article) }}</h1>
			<div class="line-with-wave"><div class="line-single"></div><div class="line-single"></div></div>
		</div>

		{% set socialShareBtns = {
			'title': article.title,
			'url': absolute_url(article_path(article)),
			'position': 'leftside'
		} %}
		{% include 'AppBundle:Block/lifestyle:social_share.html.twig' with socialShareBtns %}

		{% if article.getHeader() is not empty %}
			<div class="content-subtitle"><h2>{{ article.getHeader()|raw }}</h2></div>
		{% endif %}

		<div class="content-meta">
			<span>
				{% if article.authors is not empty %}
					{% set needCommaAuthor = null %}
					{% for author in article.authors %}
						{% if author.name %}
							{{ needCommaAuthor ? ", " : "" }}
							{{ author.name }}
							{% set needCommaAuthor = true %}
						{% endif %}
					{% endfor %}
				{% else %}
					{{ 'front.lifestyle_author'|trans([], 'ArticleBundle') }}
				{% endif %}
			</span>
			<div class="line-single"></div>
			<span>
				{{ article.publishAt|date_time_humanize() }}
				<div class="article-views"><svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 57.945 57.945" style="enable-background:new 0 0 57.945 57.945;" xml:space="preserve"><path d="M57.655,27.873c-7.613-7.674-17.758-11.9-28.568-11.9c-0.026,0-0.051,0.002-0.077,0.002c-0.013,0-0.025-0.002-0.037-0.002 c-0.036,0-0.071,0.005-0.106,0.005C18.14,16.035,8.08,20.251,0.52,27.873l-0.23,0.232c-0.389,0.392-0.386,1.025,0.006,1.414 c0.195,0.193,0.45,0.29,0.704,0.29c0.257,0,0.515-0.099,0.71-0.296l0.23-0.232c5.245-5.287,11.758-8.841,18.856-10.402 c-2.939,2.385-4.823,6.022-4.823,10.094c0,7.168,5.832,13,13,13s13-5.832,13-13c0-4.116-1.928-7.784-4.922-10.167 c7.226,1.522,13.858,5.107,19.184,10.476c0.389,0.393,1.023,0.395,1.414,0.006C58.041,28.898,58.044,28.265,57.655,27.873z M29,36.972c-4.411,0-8-3.589-8-8s3.589-8,8-8c0.552,0,1,0.448,1,1s-0.448,1-1,1c-3.309,0-6,2.691-6,6s2.691,6,6,6s6-2.691,6-6 c0-0.552,0.448-1,1-1s1,0.448,1,1C37,33.384,33.411,36.972,29,36.972z"/><g></g></svg> 10347</div>
			</span>
		</div>

		{% if article is not instanceof("\\ArticleBundle\\Entity\\Article") or article.showImage %}
			{% set mainImage = article.getImage() %}
			{% if mainImage %}
				{% set mainImagePath = mainImage.getPath() %}
				{% set imageDescription = '' %}
				{% if article.getImage().getDescription() %}
					{% set imageDescription = article.getImage().getDescription() %}
				{% endif %}

				<figure>
					<img src="{{ mainImagePath|get_actual_image('image_650x434', ['ls', 'main_new']) }}" alt="{{ imageDescription }}" />
					{% if imageDescription %}<div class="figure-alt">{{ imageDescription }}</div>{% endif %}
					{% set imageSource = item.image_source_string(article.getImage()) %}
					{% if imageSource %}<figcaption>{{ imageSource }}</figcaption>{% endif %}
				</figure>
			{% endif %}
		{% endif %}

		{{ item.item_description(article, 'lifestyle')|lifestyle_text|raw }}

		<div class="banner-wrap banner-img" style="padding: 0px !important;">
			<div class="banner-item banner-item__desktop">
				<a href="https://www.segodnya.ua/kasko/index.html" onclick="_gaq.push(['_trackEvent', 'promo_under_articles_kasko', 'click'])" target="_blank" rel="nofollow">
					<img src="https://www.segodnya.ua/user/kasko/banner610.png">
				</a>
			</div>
			<div class="banner-item banner-item__tablet">
				<a href="https://www.segodnya.ua/kasko/index.html" onclick="_gaq.push(['_trackEvent', 'promo_under_articles_kasko', 'click'])" target="_blank" rel="nofollow">
					<img src="https://www.segodnya.ua/user/kasko/banner636.png">
				</a>
			</div>
			<div class="banner-item banner-item__mobile">
				<a href="https://www.segodnya.ua/kasko/index.html" onclick="_gaq.push(['_trackEvent', 'promo_under_articles_kasko', 'click'])" target="_blank" rel="nofollow">
					<img src="https://www.segodnya.ua/user/kasko/banner300.png">
				</a>
			</div>
		</div>

		{% if article.related is not empty %}
			<div class="content-more-links">
				<h5>{{ 'front.more_materials'|trans([], 'ArticleBundle') }}</h5>
				{% for relatedArticle in article.related %}
					<a href="{{ article_path(relatedArticle) }}" onclick="_gaq.push(['_trackEvent', 'LS_read_more', 'click']);"><span class="similar__link__text">{{ relatedArticle.getTitle() }}</span></a>
				{% endfor %}
			</div>
		{% endif %}

		{% set socialShareBtns = {
			'title': article.title,
			'url': absolute_url(article_path(article)),
			'position': 'bottom'
		} %}
		{% include 'AppBundle:Block/lifestyle:social_share.html.twig' with socialShareBtns %}

		{# Tags #}
		{% if article.tags is defined and article.tags is not empty %}
			<div class="content-tags">
				<span></span>
				{% for tag in article.tags %}
					<a href={{ path('lifestyle_tag', {'slug' : tag.slug}) }}>{{ tag.name }}</a>
				{% endfor %}
			</div>
		{% endif %}

		{% if article.copyrights is not empty %}
			<div class="content-source">
				{{ ('copyright.front.copyright'~(article.copyrights|length > 1? 's' : ''))|trans([], 'ShareBundle') }}:
				{% set needCommaCopyright = null %}
				{% for copyright in article.copyrights %}
					{% if copyright.name %}
						{{ needCommaCopyright ? ", " : "" }}
						{% if copyright.link and (copyright.link|slice(0, 4) == 'http' or copyright.link|slice(0, 2) == '//') %}
							<a {% if not copyright.nofollowDisabled %} rel="nofollow"{% endif %} href="{{ copyright.link }}" target="_blank">{{ copyright.name }}</a>
						{% else %}
							{{ copyright.name }}
						{% endif %}
						{% set needCommaCopyright = true %}
					{% endif %}
				{% endfor %}
			</div>
		{% endif %}

		{% if article is not instanceof("\\ArticleBundle\\Entity\\Article") or not article.isAdvHidden %}
			<div class="content-footer-ads">
				<small>Реклама</small>
				<div class="content-footer-ads-wrapper">
					{{
						sonata_block_render(
							{ 'type': 'page.block.site_variable' },
							{
								'placement': 'banner-content-roll'
							}
						)
					}}
					{{
						sonata_block_render(
							{ 'type': 'page.block.site_variable' },
							{
								'placement': 'banner-premium1-mobile'
							}
						)
					}}
				</div>
			</div>
		{% endif %}

		{% if article is not instanceof("\\ArticleBundle\\Entity\\Article") or not article.isCommentsDisabled %}
			<div class="content-comments">
				{% include 'AppBundle:Block:fb-comments.html.twig' %}
			</div>
		{% endif %}

	</div>
	<div class="col-lg-4 col-md-12 sidebar-ads-container">
		<!-- For long ads add class banner-block-3-long to block below -->
		{% if (false and article is not instanceof("\\ArticleBundle\\Entity\\Article") or not article.isAdvHidden) %}
			<div class="banner-block-3 banner-block-3-long sidebar-ads" style="display: none;">
				<small>Реклама</small>
				{{
					sonata_block_render(
						{ 'type': 'page.block.site_variable' },
						{
							'placement': 'banner-premium1'
						}
					)
				}}
			</div>
		{% else %}
			<div class="banner-block-3 banner-block-3-long sidebar-ads" style="background: none;">
				{{
					sonata_block_render(
						{ 'type': 'article.block.service.horoscopes' },
						{
							'show': true
						}
					)
				}}
			</div>
		{% endif %}
	</div>
</div>

<div class="bg-grey partners-news-additional">
	{{
		sonata_block_render(
			{ 'type': 'app.block.service.partners_informer' },
			{
                
				'items_count': 4,
				'url': 'https://servicer.lentainform.com/659720'
			}
		)
	}}
</div>

{{
	sonata_block_render(
		{ 'type': 'article.block.service.list' },
		{
			'items_count': 16,
			'skin': 'lifestyle',
            'category' : article.category,
			'popular' : true,
            'show_paginator': false,
			'list_type': constant('ArticleBundle\\Block\\ArticleBaseBlockService::POPULAR_LIST')
		}
	)
}}

<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5aabb7bb7365b63c"></script>