<ul class="author-filter">
    <li><a href="{{ path('order_board') }}"><i class="fa fa-circle-o" aria-hidden="true"></i> Все заказы</a></li>
    <li><a href="{{ path('order_board_status', { 'status': 'new' }) }}"><i class="fa fa-exclamation" aria-hidden="true"></i> Новый заказ</a></li>
    <li><a href="{{ path('order_board_status', { 'status': 'completed' }) }}"><i class="fa fa-check" aria-hidden="true"></i> Заказ выполнен</a></li>
    <li><a href="{{ path('order_board_status', { 'status': 'cancel' }) }}"><i class="fa fa-times" aria-hidden="true"></i> Отказ</a></li>
    <li><a href="{{ path('order_board_status', { 'status': 'top' }) }}"><i class="fa fa-bomb" aria-hidden="true"></i> В топе</a></li>
</ul>

{% set statuses = [
    ''
] %}

<table class="table">
    {% for order in orders %}
        <tr>
            <td style="width:32px;"><i class="{{ icon_order_status(order.status) }} td-icon" aria-hidden="true"></i></td>
            <td class="title">{{ order.bookTitle|raw }}</td>
            <td style="width:150px;">{{ order.user ? order.user.username : order.userName ?: 'анонимно' }}</td>
            <td style="width:130px;">{{ order.createdAt|date_time_humanize }}</td>
            <td style="width:36px"><span class="td-rating {{ order.vote > 0 ? 'green' : null }}" title="Поддержать">{{ order.vote }}</span></td>
        </tr>
    {% endfor %}
</table>

{% if orders.maxPerPage is defined and orders.count > orders.maxPerPage %}
    {{ pagerfanta(orders, { 'omitFirstPage': true}) }}
{% endif %}