{% macro item(article, author = null) %}
    {% set authorArticle = article.authors|length ? article.authors[0] : null %}
    {% set category = article.category is not empty ? article.category : article.secondaryCategories|length ? article.secondaryCategories[0] : null %}

    {% set link = article_path(article) %}

    <div class="block">
        <div class="b-authornews">
            <div class="b-authornews-img-wrap">
                <div class="b-authornews-img">
                    <a href="{{ link }}"><img src="{{ article.getImage() ? article.getImage().getPath()|get_actual_image('image_300x200', ['main']) : default_article_image|imagine_filter('image_300x200') }}"></a>
                </div>
            </div>
            {% if author is empty %}
                {% if authorArticle.photo %}
                    <a class="b-authornews-author-img" href="{{ path('articles_author', { 'id': authorArticle.id }) }}" style="background-image: url({{ authorArticle.photo|get_actual_image('author_50x50', ['main']) }});"></a>
                {% endif %}

                {% if authorArticle.name %}
                    <a class="b-authornews-author-name" href="{{ path('articles_author', { 'id': authorArticle.id }) }}">{{ authorArticle.name }}</a>
                {% endif %}
            {% endif %}

            <h4><a href="{{ link }}">{{ article.getTitle() }}</a></h4>
            <div class="b-authornews-meta">{{ category.getTitle() }}, {{ article.publishAt|date_time_humanize() }}</div>
            <a class="b-authornews-fb" title="Facebook" href="https://www.facebook.com/share.php?u={{ link }}" class="fb" target="_blank" rel="nofollow"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="15px" height="13px" viewBox="0 0 26 21" version="1.1"><path  d="M7.99320064,20.1923077 L7.98907471,9.71163236 L5.45001221,9.71163236 L5.45001221,6.48299279 L7.98907471,6.48184908 L7.98907467,4.56574895 C7.98907467,1.72715219 8.76336971,0 12.1269531,0 L15.1946169,0 L15.1946169,3.20947266 L13.1984773,3.20947266 C11.8886385,3.20947266 11.8043731,3.96628981 11.8043731,4.87391827 L11.79505,6.48184908 L15.1946169,6.48184908 L14.5718323,9.71048866 L11.7976685,9.71163236 L11.7992553,20.1923077 L7.99320064,20.1923077 Z"/></svg></a>
            <div class="b-authornews-views">{{ article.views }}</div>
        </div>
    </div>
{% endmacro %}