<div class="auto_cont">
	<fieldset class="auto_calc">
		<legend>{{ app.request.locale == 'ru' ? 'Стоимость растаможки авто' : 'Вартість розмитнення авто' }}:</legend>

		<div>{{ app.request.locale == 'ru' ? 'Тип автомобиля' : 'Тип автомобіля' }}:<br>
			<div><input type="radio" name="acalc_engine" value="1"> {{ app.request.locale == 'ru' ? 'ДВС' : 'ДВЗ' }}</div>
			<div><input type="radio" name="acalc_engine" value="2"> {{ app.request.locale == 'ru' ? 'Электро' : 'Електро' }}</div>
		</div>

		<div id="dvs_block" style="display: none;">
			<div>{{ app.request.locale == 'ru' ? 'Топливо' : 'Паливо' }}:<br>
				<div><input type="radio" name="acalc_fuel" value="1"> {{ app.request.locale == 'ru' ? 'Бензин' : 'Бензин' }}</div>
				<div><input type="radio" name="acalc_fuel" value="3"> Газ</div>
				<div><input type="radio" name="acalc_fuel" value="2"> {{ app.request.locale == 'ru' ? 'Дизель' : 'Дизель' }}</div>
			</div>

			<div>{{ app.request.locale == 'ru' ? 'Стоимость автомобиля' : 'Вартість автомобіля' }}:<br><input type="text" id="acalc_price" value=""> {{ app.request.locale == 'ru' ? 'евро' : 'євро' }}</div>

			<div>{{ app.request.locale == 'ru' ? 'Возраст автомобиля' : 'Вік автомобіля' }}:<br>
				<div><input type="radio" name="acalc_age" value="1"> {{ app.request.locale == 'ru' ? 'Новый' : 'Новий' }}</div>
				<div><input type="radio" name="acalc_age" value="2"> {{ app.request.locale == 'ru' ? 'Возраст, лет' : 'Вiк, рокiв' }} <input type="text" id="acalc_v2_age_number" value="" placeholder=""></div>
			</div>

			<div>{{ app.request.locale == 'ru' ? 'Объем двигателя' : 'Об`єм двигуна' }}:<br><input type="text" id="acalc_volume" value="" placeholder="{{ app.request.locale == 'ru' ? 'от' : 'вiд' }} 500"> куб. см</div>

			<div>{{ app.request.locale == 'ru' ? 'Автомобиль ввозится из' : 'Автомобіль ввозиться з' }}:<br>
				<div><input type="radio" name="acalc_from" value="1"> {{ app.request.locale == 'ru' ? 'ЕС' : 'ЄС' }}</div>
				<div><input type="radio" name="acalc_from" value="2"> {{ app.request.locale == 'ru' ? 'Другие страны' : 'Інші країни' }}</div>
			</div>

			<div>{{ app.request.locale == 'ru' ? 'Учесть льготный период 90 дней' : 'Врахувати пільговий період 90 днів' }}: <input type="checkbox" id="acalc_90days" value="1"></div>

			<div>{{ app.request.locale == 'ru' ? 'Посчитать по старым ставкам' : 'Порахувати за старими ставками' }}: <input type="checkbox" id="acalc_old" value="1"></div>

			<div>{{ app.request.locale == 'ru' ? 'Считать по льготным ставкам от 01.07.2016' : 'Рахувати за пільговими ставками від 01.07.2016' }}: <input type="checkbox" id="acalc_privileges" value="1"></div>
		</div>

		<div><input type="button" id="acalc_button" value="{{ app.request.locale == 'ru' ? 'Рассчитать' : 'Розрахувати' }}"></div>

		<div>{{ app.request.locale == 'ru' ? 'Результат' : 'Результат' }}: <span id="auto_calc_result">-</span></div>
	</fieldset>
</div>
<script>
    function auto_calc_init() {

        document.querySelectorAll('input[name=acalc_engine]').forEach(function (inp) {
            inp.addEventListener('click', function () {
                if(inp.value>1) {
                    document.getElementById('dvs_block').style.display = 'none';
                    document.getElementById('acalc_button').click();
                } else {
                    document.getElementById('dvs_block').style.display = 'block';
                }
            });
        });
        document.getElementById('acalc_button').addEventListener('click', function(){
            result = 0;

            a_engine = document.querySelector('input[name=acalc_engine]:checked') ? document.querySelector('input[name=acalc_engine]:checked').value : 0;
            if(!a_engine) return;

            a_fuel = document.querySelector('input[name=acalc_fuel]:checked') ? document.querySelector('input[name=acalc_fuel]:checked').value : 0;
            if(!a_fuel) return;

            a_price = document.getElementById('acalc_price').value;
            a_price = a_price.replace(",",".");
            a_price = a_price.replace("s ","");
            a_price = parseInt(a_price);
            if(!a_price) return;

            is_old = document.getElementById('acalc_old').checked;
            is_90days = document.getElementById('acalc_90days').checked;

            a_age = document.querySelector('input[name=acalc_age]:checked') ? document.querySelector('input[name=acalc_age]:checked').value : 0;
            if(a_age != 1) {
                a_age = parseInt(document.getElementById('acalc_v2_age_number').value);
                if(!a_age) return;
                if(!is_old && a_age > 15) {
                    a_age = 15;
                }
            }

            a_volume = document.getElementById('acalc_volume').value;
            a_volume = a_volume.replace(",",".");
            a_volume = a_volume.replace(" ","");
            a_volume = parseInt(a_volume);
            if(!a_volume) return;

            a_from = document.querySelector('input[name=acalc_from]:checked') ? document.querySelector('input[name=acalc_from]:checked').value : 0;
            if(!a_from) return;

            a_privileges = document.getElementById('acalc_privileges').checked;


            if(a_engine == 1) {
                if(a_fuel == 1 || a_fuel == 3) {
                    if(a_from == 1) {
                        if(a_volume <= 1000) {
                            a_vp = 6.3;
                        } else if(a_volume <= 1500) {
                            a_vp = 7.3;
                        } else {
                            a_vp = 5;
                        }
                    } else {
                        a_vp = 10;
                    }
                } else {
                    if(a_from == 1) {
                        if(a_volume <= 2500) {
                            a_vp = 7.3;
                        } else {
                            a_vp = 6.3;
                        }
                    } else {
                        a_vp = 10;
                    }
                }

                a_ak = 0;
                if(a_fuel == 1 && a_volume < 1000 && a_age == 1) {
                    a_ak = 0.102;
                } else if(a_fuel == 1 && a_volume < 1000 && a_age <= 5) {
                    a_ak = 1.094;
                } else if(a_fuel == 1 && a_volume < 1000 && a_age > 5) {
                    a_ak = a_privileges ? 0.102 : 1.438;

                } else if(a_fuel == 1 && a_volume < 1500 && a_age == 1) {
                    a_ak = 0.063;
                } else if(a_fuel == 1 && a_volume < 1500 && a_age <= 5) {
                    a_ak = 1.367;
                } else if(a_fuel == 1 && a_volume < 1500 && a_age > 5) {
                    a_ak = a_privileges ? 0.063 : 1.761;

                } else if(a_fuel == 1 && a_volume < 2200 && a_age == 1) {
                    a_ak = 0.267;
                } else if(a_fuel == 1 && a_volume < 2200 && a_age <= 5) {
                    a_ak = 1.643;
                } else if(a_fuel == 1 && a_volume < 2200 && a_age > 5) {
                    a_ak = a_privileges ? 0.267 : 2.441;

                } else if(a_fuel == 1 && a_volume < 3000 && a_age == 1) {
                    a_ak = 0.276;
                } else if(a_fuel == 1 && a_volume < 3000 && a_age <= 5) {
                    a_ak = 2.213;
                } else if(a_fuel == 1 && a_volume < 3000 && a_age == 3) {
                    a_ak = a_privileges ? 0.267 : 4.985;

                } else if(a_fuel == 1 && a_volume > 3000 && a_age == 1) {
                    a_ak = 2.209;
                } else if(a_fuel == 1 && a_volume > 3000 && a_age <= 5) {
                    a_ak = 3.329;
                } else if(a_fuel == 1 && a_volume > 3000 && a_age > 5) {
                    a_ak = a_privileges ? 2.209 : 4.985;


                } else if(a_fuel == 2 && a_volume < 1500 && a_age == 1) {
                    a_ak = 0.103;
                } else if(a_fuel == 2 && a_volume < 1500 && a_age <= 5) {
                    a_ak = a_privileges ? 0.103 : 1.367;
                } else if(a_fuel == 2 && a_volume < 1500 && a_age > 5) {
                    a_ak = a_privileges ? 0.103 : 1.761;

                } else if(a_fuel == 2 && a_volume < 2500 && a_age == 1) {
                    a_ak = 0.327;
                } else if(a_fuel == 2 && a_volume < 2500 && a_age <= 5) {
                    a_ak = a_privileges ? 0.327 : 1.923;
                } else if(a_fuel == 2 && a_volume < 2500 && a_age > 5) {
                    a_ak = a_privileges ? 0.327 : 2.441;

                } else if(a_fuel == 2 && a_volume > 2500 && a_age == 1) {
                    a_ak = 2.209;
                } else if(a_fuel == 2 && a_volume > 2500 && a_age <= 5) {
                    a_ak = a_privileges ? 2.209 : 2.779;
                } else if(a_fuel == 2 && a_volume > 2500 && a_age > 5) {
                    a_ak = a_privileges ? 2.209 : 4.715;

                }

                if(is_old) {
                    result = Math.round(
                        (a_price + a_price * (a_vp / 100) + a_volume * a_ak) * 0.2 + a_price * (a_vp / 100) + a_volume * a_ak
                    );
                } else {
                    if(a_fuel == 1 || a_fuel == 3) {
                        if(a_volume > 3000) {
                            k_base = 100;
                        } else {
                            k_base = 50;
                        }
                    } else {
                        if(a_volume > 3500) {
                            k_base = 150;
                        } else {
                            k_base = 75;
                        }
                    }

                    k_engine = a_volume / 1000;

                    result = (a_price + a_price * (a_vp / 100) + k_base * a_age * k_engine) * 0.2 + a_price * (a_vp / 100) + k_engine * k_base * a_age;

                    if(is_90days) {
                        result = result / 2;
                    }

                    result = Math.round(result);
                }
            }

            document.getElementById('auto_calc_result').innerHTML = result + ' {{ app.request.locale == 'ru' ? 'евро' : 'євро' }}';
        });
    }
    auto_calc_init();
</script>