<div class="house_calc_cont">
	<fieldset class="house_calc">
		<legend>{{ app.request.locale == 'ru' ? 'Я трачу много газа?' : 'Чи багато я витрачаю газу?' }}</legend>

		<div>
			<div><input type="radio" name="hcalc_g_heat" value="1"> {{ app.request.locale == 'ru' ? 'Отапливаю дом газом' : 'Опалюю будинок газом' }}</div>
			<div><input type="radio" name="hcalc_g_heat" value="2"> {{ app.request.locale == 'ru' ? 'У меня есть центральное отопление' : 'Користуюсь центральним опаленням' }}</div>
		</div>

		<div class="hcalc_g_flds hcalc_g_fld1" style="display: block;">{{ app.request.locale == 'ru' ? 'Какая площадь вашего жилья' : 'Яка площа вашого житла' }}:<br><input type="text" id="housecalc_g_S" value=""></div>
		<div class="hcalc_g_flds hcalc_g_fld2" style="display: none;">{{ app.request.locale == 'ru' ? 'Сколько человек пользуется коммуналкой' : 'Скільки людей користується комуналкою' }}:<br><input type="text" id="housecalc_g_N" value=""></div>
		<div class="hcalc_g_flds">{{ app.request.locale == 'ru' ? 'Сколько кубометров газа сжигаете' : 'Скільки кубометрів газу спалюєте' }} *:<br><input type="text" id="housecalc_g_V" value=""></div>

		<div><input type="button" id="housecalc_g_button" value="{{ app.request.locale == 'ru' ? 'Рассчитать' : 'Розрахувати' }}"></div>

		<div><strong>{{ app.request.locale == 'ru' ? 'Результат' : 'Результат' }}:</strong> <span id="housecalc_g_result"></span></div>

		<div class="house_calc_hint">* {{ app.request.locale == 'ru' ? 'Указать среднее потребление в отопительный сезон' : 'Вказати середнє споживання в опалювальний період' }}</div>

		<div class="house_calc_hint">* {{ app.request.locale == 'ru' ? 'Расчеты произведены по показателям усредненного потребления НКРЭКУ и нормативам КМУ' : 'Розрахунки зроблені згідно усереднених показників споживання НКРЕКП і нормативів КМУ' }}</div>
	</fieldset>
</div>
<script>
    function housecalc_g_init() {

        document.querySelectorAll('input[name=hcalc_g_heat]').forEach(function (inp) {
            inp.addEventListener('click', function () {
                if(inp.value == 1) {
                    document.querySelector('.hcalc_g_fld1').style.display = 'block';
                    document.querySelector('.hcalc_g_fld2').style.display = 'none';
                }
                if(inp.value == 2) {
                    document.querySelector('.hcalc_g_fld1').style.display = 'none';
                    document.querySelector('.hcalc_g_fld2').style.display = 'block';
                }

            });
        });

        document.getElementById('housecalc_g_button').addEventListener('click', function(){
            document.getElementById('housecalc_g_result').innerHTML = '-';

            heat = parseInt(document.querySelector('input[name=hcalc_g_heat]:checked').value);
            hcgS = parseInt(document.getElementById('housecalc_g_S').value);
            hcgN = parseInt(document.getElementById('housecalc_g_N').value);
            hcgV = parseInt(document.getElementById('housecalc_g_V').value);

            if(heat > 0 && hcgV > 0 && (heat == 1 && hcgS > 0 || heat == 2 && hcgN > 0)) {
                if(heat == 1) {
                    if(hcgV <= hcgS) {
                        document.getElementById('housecalc_g_result').innerHTML = '{{ app.request.locale == 'ru' ? 'Вы потребляете экономно. По нормативу могли бы тратить почти в пять раз больше! Скорее всего, вы живете в хорошо утепленном доме.' : 'Ви споживаєте економно. Згідно з нормативом могли б витрачати майже вп`ятеро більше! Очевидно, ви живете в добре утепленому будинку' }}';
                    } else if(hcgV <= hcgS * 2) {
                        document.getElementById('housecalc_g_result').innerHTML = '{{ app.request.locale == 'ru' ? 'Вы попали в «золотую середину». По нормативу можно было бы тратить и больше, но большинство украинцев сжигают примерно столько же газа, сколько и вы.' : 'Ви потрапили в «золоту середину». Більшість українців спалюють приблизно стільки ж газу, як і ви.' }}';
                    } else if(hcgV <= hcgS * 5) {
                        document.getElementById('housecalc_g_result').innerHTML = '{{ app.request.locale == 'ru' ? 'Вы потребляете «выше среднего». Но ничего критичного в этом нет. Стоит пригласить энергоаудитора и с помощью тепловизора исследовать, куда «теряется» тепло из вашего дома.' : 'Ви споживаєте «вище середнього». Але нічого критичного в цьому немає. Варто запросити енергоаудитора і за допомогою тепловізора дослідити, куди «губиться» тепло з вашого будинку' }}';
                    } else {
                        document.getElementById('housecalc_g_result').innerHTML = '{{ app.request.locale == 'ru' ? 'Пора собирать деньги на энергоаудит и утепление дома. Вы тратите больше, чем могли бы, а значит, часть тепла «теряется» через подвал, окна, крышу, стены.' : 'Час збирати гроші на енергоаудит та утеплення будинку. Ви витрачаєте більше, ніж могли б, тобто частина тепла «губиться» через підвал, вікна, дах, стіни.' }}';
                    }
                } else {
                    if(hcgV <= hcgN * 2) {
                        document.getElementById('housecalc_g_result').innerHTML = '{{ app.request.locale == 'ru' ? 'Вы экономите! По нормативу могли бы тратить почти в два раза больше.' : 'Ви економите! Згідно з нормативом, могли б витрачати майже вдвічі більше.' }}';
                    } else if(hcgV <= hcgN * 7) {
                        document.getElementById('housecalc_g_result').innerHTML = '{{ app.request.locale == 'ru' ? 'Большинство украинцев тратят столько же. Потенциал экономии есть, но пока беспокоиться не о чем.' : 'Більшість українців витрачають стільки ж. Потенціал економії є, але поки турбуватися нема про що.' }}';
                    } else {
                        document.getElementById('housecalc_g_result').innerHTML = '{{ app.request.locale == 'ru' ? 'Стоит задуматься об экономии. Возможно, у вас нет квартирного счетчика на газ и вы «платите за соседа».' : 'Варто задуматися про економію. Можливо, у вас немає квартирного лічильника на газ і ви «платите за сусіда».' }}';
                    }
                }
            }
        });
    }
    housecalc_g_init();
</script>