<div class="subsidy_cont">
	<fieldset class="subsidy_calc">
		<legend>{{ app.request.locale == 'ru' ? 'Сколько придется заплатить за коммуналку с субсидией' : 'Скільки доведеться заплатити за комуналку з субсидією' }}</legend>
		<div>{{ app.request.locale == 'ru' ? 'Сколько человек в вашей семье' : 'Скільки людей у вашій родині' }}:<br><input type="text" id="scalc_people" value=""></div>
		<div>{{ app.request.locale == 'ru' ? 'Какой общий доход на вашу семью (грн)' : 'Який загальний дохід на вашу сім`ю (грн)' }}:<br><input type="text" id="scalc_income" value=""></div>
		<div>
			{{ app.request.locale == 'ru' ? 'Как вы отапливаете дом' : 'Як ви опалюєте будинок' }}:<br>
			<div><input type="radio" name="scalc_heat" value="1"> {{ app.request.locale == 'ru' ? 'Есть центральное отопление' : 'Є центральне опалення' }}</div>
			<div><input type="radio" name="scalc_heat" value="2"> {{ app.request.locale == 'ru' ? 'Отапливаю газом' : 'Опалюю газом' }}</div>
		</div>
		<div>{{ app.request.locale == 'ru' ? 'Какая площадь вашего жилья (m2)' : 'Яка площа вашої оселі (m2)' }}:<br><input type="text" id="scalc_square" value=""></div>
		<div><input type="button" id="scalc_button" value="{{ app.request.locale == 'ru' ? 'Рассчитать' : 'Розрахувати' }}"></div>
		<div>
			<strong>{{ app.request.locale == 'ru' ? 'Сколько могу заплатить за коммуналку' : 'Скільки можу заплатити за комуналку' }}<sup>*</sup>:</strong> <span id="subsidy_result1"></span>
			<div class="subsidy_hint"><sup>*</sup> {{ app.request.locale == 'ru' ? 'Если указанной суммы достаточно для оплаты коммунальных услуг без субсидии, "скидка" не положена' : 'Якщо зазначеної суми достатньо для оплати комунальних послуг без субсидії, "знижка" не надається' }}</div>
		</div>
		<div><strong>{{ app.request.locale == 'ru' ? 'Что покрывает субсидия' : 'Що покриває субсидія' }}:</strong><div id="subsidy_result2"></div></div>
		<br>
		<div class="subsidy_hint">{{ app.request.locale == 'ru' ? 'Калькулятор показывает примерный расчет. Окончательное решение о назначении субсидии принимает местный орган соцзащиты, где также могут рассчитать точную сумму субсидии.' : 'Калькулятор показує приблизний розрахунок. Остаточне рішення про призначення субсидії приймає місцевий орган соцзахисту, де також можуть розрахувати точну суму субсидії.' }}</div>
	</fieldset>
</div>
<script>
    function subsidy_calc_init() {
        document.getElementById('scalc_button').addEventListener('click', function(){
            document.getElementById('subsidy_result1').innerHTML = '-';
            document.getElementById('subsidy_result2').innerHTML = '-';

            people = parseInt(document.getElementById('scalc_people').value);
            income = document.getElementById('scalc_income').value;
            heat = document.querySelector('input[name=scalc_heat]:checked').value;
            square = parseInt(document.getElementById('scalc_square').value);
            if(square > 35.22 + 13.65 * people) {
                square = 35.22 + 13.65 * people;
            }

            if(!square || square < 0 || !income || income < 0 || !heat || heat < 0 || !square || square < 0) {
                alert('{{ app.request.locale == 'ru' ? 'Ошибка! Заполните форму' : 'Помилка! Заповніть форму' }}');
                return false;
            }

            if(people < 1 || people > 10) {
                document.getElementById('subsidy_result1').innerHTML = '{{ app.request.locale == 'ru' ? 'Ошибка. Укажите количество людей' : 'Помилка. Вкажіть кількість людей' }}';
            } else {
                if(income / people > 6000) {
                    document.getElementById('subsidy_result1').innerHTML = '{{ app.request.locale == 'ru' ? 'Субсидия не положена' : 'Субсидія не надається' }}';
                } else {
                    income = income.replace(",","");
                    income = income.replace(".","");
                    income = income.replace(" ","");
                    income = parseInt(income);

                    subsidy_result1 = ((income / people) / 3248) * 0.15 * income;
                    document.getElementById('subsidy_result1').innerHTML = Math.round(subsidy_result1) + ' грн';
                }
            }

            subsidy_result2 = '';
            if(heat == 1) {
                subsidy_result2 += '<div>{{ app.request.locale == 'ru' ? 'Тепло' : 'Тепло' }} = ' + (Math.round(square * 0.0431 * 100) / 100) + ' Гкал</div>';
                subsidy_result2 += '<div>{{ app.request.locale == 'ru' ? 'Газа' : 'Газу' }} = ' + (Math.round(4.4 * people * 100) / 100) + ' кубометра</div>';
                subsidy_result2 += '<div>{{ app.request.locale == 'ru' ? 'Холодной воды' : 'Холодної води' }} = ' + (Math.round(2.4 * people * 100) / 100) + ' кубометра</div>';
                subsidy_result2 += '<div>{{ app.request.locale == 'ru' ? 'Горячей воды' : 'Гарячої води' }} = ' + (Math.round(1.6 * people * 100) / 100) + ' кубометра</div>';
                subsidy_result2 += '<div>{{ app.request.locale == 'ru' ? 'Электроэнергии' : 'Електроенергії' }} = ' + (90 + 30 * people) + ' кВт*{{ app.request.locale == 'ru' ? 'час' : '' }}</div>';
            } else {
                subsidy_result2 += '<div>{{ app.request.locale == 'ru' ? 'Газа' : 'Газу' }} = ' + (Math.round((square * 5 + 7.1 * people) * 100) / 100) + ' кубометра</div>';
                subsidy_result2 += '<div>{{ app.request.locale == 'ru' ? 'Холодной воды' : 'Холодної води' }} = ' + (Math.round(2.4 * people * 100) / 100) + ' кубометра</div>';
                subsidy_result2 += '<div>{{ app.request.locale == 'ru' ? 'Горячей воды' : 'Гарячої води' }} = ' + (90 + 30 * people) + ' кВт*{{ app.request.locale == 'ru' ? 'час' : '' }}</div>';
                subsidy_result2 += '<div class="subsidy_hint">{{ app.request.locale == 'ru' ? 'При условии отсутствия горячего водоснабжения' : 'За умови відсутності гарячого водопостачання' }}</div>';
            }
            document.getElementById('subsidy_result2').innerHTML = subsidy_result2;
        });
    }
    subsidy_calc_init();
</script>