<div class="house_calc_cont">
	<fieldset class="house_calc">
		<legend>{{ app.request.locale == 'ru' ? 'Я экономлю электричество?' : 'Я економлю електроенергію?' }}</legend>

		<div>{{ app.request.locale == 'ru' ? 'Сколько тратите кВт*час электроэнергии' : 'Скільки витрачаєте кВт*год електроенергії' }}:<br><input type="text" id="housecalc_e_S" value=""></div>
		<div>{{ app.request.locale == 'ru' ? 'Сколько человек пользуется коммуналкой' : 'Скільки людей користується комуналкою' }}:<br><input type="text" id="housecalc_e_N" value=""></div>

		<div><input type="button" id="housecalc_e_button" value="{{ app.request.locale == 'ru' ? 'Рассчитать' : 'Розрахувати' }}"></div>

		<div><strong>{{ app.request.locale == 'ru' ? 'Результат' : 'Результат' }}:</strong> <span id="housecalc_e_result">-</span></div>

		<div class="house_calc_hint">* {{ app.request.locale == 'ru' ? 'Расчеты произведены по показателям усредненного потребления НКРЭКУ и нормативам КМУ' : 'Розрахунки зроблені згідно усереднених показників споживання НКРЕКП і нормативів КМУ' }}</div>
	</fieldset>
</div>
<script>
    function housecalc_e_init() {
        document.getElementById('housecalc_e_button').addEventListener('click', function(){
            document.getElementById('housecalc_e_result').innerHTML = '-';

            hcgS = parseInt(document.getElementById('housecalc_e_S').value);
            hcgN = parseInt(document.getElementById('housecalc_e_N').value);

            if(hcgS > 0 && hcgN > 0) {
                if(hcgS < 125) {
                    document.getElementById('housecalc_e_result').innerHTML = '{{ app.request.locale == 'ru' ? 'Вы потребляете экономно. Всего 22,4% семей тратят примерно столько же, а остальные – больше.' : 'Ви споживаєте економно. Всього 22,4% родин витрачають приблизно стільки ж, а інші - більше.' }}<br><br>Ваш норматив: ' + (90 + 30 * hcgN) + ' кВт*{{ app.request.locale == 'ru' ? 'час' : 'год' }}';
                } else if(hcgS < 200) {
                    document.getElementById('housecalc_e_result').innerHTML = '{{ app.request.locale == 'ru' ? 'Вы тратите не так уж и много, но стоит задуматься об энергоэффективных лампочках. 24% украинцев тратят примерно столько же электроэнергии, как и вы. 22,4% - тратят меньше.' : 'Ви витрачаєте не так вже й багато, але варто задуматися про енергоефективні лампочки. 24% українців витрачають приблизно стільки ж електроенергії, як і ви. 22,4% - витрачають менше.' }}<br><br>Ваш норматив: ' + (90 + 30 * hcgN) + ' кВт*{{ app.request.locale == 'ru' ? 'час' : 'год' }}';
                } else if(hcgS < 300) {
                    document.getElementById('housecalc_e_result').innerHTML = '{{ app.request.locale == 'ru' ? 'Не все так плохо, 23,3% украинцев тратят примерно столько же электроэнергии, как и вы. В большинстве случаев потребление можно сократить на 20-30%, если поменять лампочки, выключать за собой свет и установить технику с высоким классом энергоэффективности.' : 'Не все так погано, 23,3% українців витрачають приблизно стільки ж електроенергії, як і ви. У більшості випадків споживання можна скоротити на 20-30%, якщо поміняти лампочки, вимикати за собою світло і встановити техніку з високим класом енергоефективності.' }}<br><br>Ваш норматив: ' + (90 + 30 * hcgN) + ' кВт*{{ app.request.locale == 'ru' ? 'час' : 'год' }}';
                } else {
                    document.getElementById('housecalc_e_result').innerHTML = '{{ app.request.locale == 'ru' ? 'У вас большой потенциал экономии. 70% украинцев тратят электроэнергии меньше, чем вы. Самое время вспомнить об энергоэффективности и забыть «лампочки Ильича».' : 'У вас великий потенціал економії. 70% українців витрачають електроенергії менше, ніж ви. Саме час згадати про енергоефективність і забути про «лампочки Ілліча».' }}<br><br>Ваш норматив: ' + (90 + 30 * hcgN) + ' кВт*{{ app.request.locale == 'ru' ? 'час' : 'год' }}';
                }
            }
        });
    }
    housecalc_e_init();
</script>