<div class="salary_cont">
	<fieldset class="salary_calc">
		<legend>{{ ('app.frontend.calcs.salary.title')|trans({}, 'AppBundle') }}:</legend>
		<div>{{ ('app.frontend.calcs.salary.salary')|trans({}, 'AppBundle') }}: <input type="text" id="salary_calc_salary" value=""></div>

		<div style="margin-top: 10px;">{{ ('app.frontend.calcs.salary.industry')|trans({}, 'AppBundle') }}:<br><span id="salary_calc_area_cont"></span></div>

		<div style="margin-top: 10px;">{{ ('app.frontend.calcs.salary.region')|trans({}, 'AppBundle') }}: <span id="salary_calc_region_cont"></span></div>

		<div style="margin-top: 10px;"><input type="button" id="salary_calc_button" value="{{ ('app.frontend.calcs.salary.do')|trans({}, 'AppBundle') }}" style="cursor: pointer;"></div>

		<div id="salarycalc_result" style="margin-top: 10px;"></div>
	</fieldset>
</div>
<script>
    var salary_calc_regions = [
        { '{{ ('app.frontend.calcs.salary.region1')|trans({}, 'AppBundle') }}': 7428 },
        { '{{ ('app.frontend.calcs.salary.region2')|trans({}, 'AppBundle') }}': 6760 },
        { '{{ ('app.frontend.calcs.salary.region3')|trans({}, 'AppBundle') }}': 8478 },
        { '{{ ('app.frontend.calcs.salary.region4')|trans({}, 'AppBundle') }}': 9982 },
        { '{{ ('app.frontend.calcs.salary.region5')|trans({}, 'AppBundle') }}': 6899 },
        { '{{ ('app.frontend.calcs.salary.region6')|trans({}, 'AppBundle') }}': 7344 },
        { '{{ ('app.frontend.calcs.salary.region7')|trans({}, 'AppBundle') }}': 8478 },
        { '{{ ('app.frontend.calcs.salary.region8')|trans({}, 'AppBundle') }}': 7170 },
        { '{{ ('app.frontend.calcs.salary.region9')|trans({}, 'AppBundle') }}': 13150 },
        { '{{ ('app.frontend.calcs.salary.region10')|trans({}, 'AppBundle') }}': 8559 },
        { '{{ ('app.frontend.calcs.salary.region11')|trans({}, 'AppBundle') }}': 6834 },
        { '{{ ('app.frontend.calcs.salary.region12')|trans({}, 'AppBundle') }}': 6915 },
        { '{{ ('app.frontend.calcs.salary.region13')|trans({}, 'AppBundle') }}': 7540 },
        { '{{ ('app.frontend.calcs.salary.region14')|trans({}, 'AppBundle') }}': 7575 },
        { '{{ ('app.frontend.calcs.salary.region15')|trans({}, 'AppBundle') }}': 7560 },
        { '{{ ('app.frontend.calcs.salary.region16')|trans({}, 'AppBundle') }}': 7983 },
        { '{{ ('app.frontend.calcs.salary.region17')|trans({}, 'AppBundle') }}': 6822 },
        { '{{ ('app.frontend.calcs.salary.region18')|trans({}, 'AppBundle') }}': 6985 },
        { '{{ ('app.frontend.calcs.salary.region19')|trans({}, 'AppBundle') }}': 6495 },
        { '{{ ('app.frontend.calcs.salary.region20')|trans({}, 'AppBundle') }}': 7284 },
        { '{{ ('app.frontend.calcs.salary.region21')|trans({}, 'AppBundle') }}': 6613 },
        { '{{ ('app.frontend.calcs.salary.region22')|trans({}, 'AppBundle') }}': 6998 },
        { '{{ ('app.frontend.calcs.salary.region23')|trans({}, 'AppBundle') }}': 7134 },
        { '{{ ('app.frontend.calcs.salary.region24')|trans({}, 'AppBundle') }}': 6394 },
        { '{{ ('app.frontend.calcs.salary.region25')|trans({}, 'AppBundle') }}': 6672 }
    ];

    var salary_calc_areas = [
        { '{{ ('app.frontend.calcs.salary.area1')|trans({}, 'AppBundle') }}': 7649 },
        {
            '{{ ('app.frontend.calcs.salary.area2')|trans({}, 'AppBundle') }}': [
                { '{{ ('app.frontend.calcs.salary.area2_1')|trans({}, 'AppBundle') }}': 12704 },
                { '{{ ('app.frontend.calcs.salary.area2_2')|trans({}, 'AppBundle') }}': 8804 },
                { '{{ ('app.frontend.calcs.salary.area2_3')|trans({}, 'AppBundle') }}': 8042 },
                { '{{ ('app.frontend.calcs.salary.area2_4')|trans({}, 'AppBundle') }}': 6236 },
                { '{{ ('app.frontend.calcs.salary.area2_5')|trans({}, 'AppBundle') }}': 7834 },
                { '{{ ('app.frontend.calcs.salary.area2_6')|trans({}, 'AppBundle') }}': 12049 },
                { '{{ ('app.frontend.calcs.salary.area2_7')|trans({}, 'AppBundle') }}': 8753 },
                { '{{ ('app.frontend.calcs.salary.area2_8')|trans({}, 'AppBundle') }}': 17356 },
                { '{{ ('app.frontend.calcs.salary.area2_9')|trans({}, 'AppBundle') }}': 8253 },
                { '{{ ('app.frontend.calcs.salary.area2_10')|trans({}, 'AppBundle') }}': 10589 },
                { '{{ ('app.frontend.calcs.salary.area2_11')|trans({}, 'AppBundle') }}': [
                        { '{{ ('app.frontend.calcs.salary.area2_11_1')|trans({}, 'AppBundle') }}': 9614 },
                        { '{{ ('app.frontend.calcs.salary.area2_11_2')|trans({}, 'AppBundle') }}': 8109 },
                        { '{{ ('app.frontend.calcs.salary.area2_11_3')|trans({}, 'AppBundle') }}': 9246 },
                        { '{{ ('app.frontend.calcs.salary.area2_11_4')|trans({}, 'AppBundle') }}': 8164 },
                    ] },
                { '{{ ('app.frontend.calcs.salary.area2_12')|trans({}, 'AppBundle') }}': 7715 },
                { '{{ ('app.frontend.calcs.salary.area2_13')|trans({}, 'AppBundle') }}': 7715 },
                { '{{ ('app.frontend.calcs.salary.area2_14')|trans({}, 'AppBundle') }}': 9253 },
                { '{{ ('app.frontend.calcs.salary.area2_15')|trans({}, 'AppBundle') }}': 5772 },
            ],
        },
        { '{{ ('app.frontend.calcs.salary.area3')|trans({}, 'AppBundle') }}': 7497 },
        { '{{ ('app.frontend.calcs.salary.area4')|trans({}, 'AppBundle') }}': 9354 },
        { '{{ ('app.frontend.calcs.salary.area5')|trans({}, 'AppBundle') }}': 9496 },
        { '{{ ('app.frontend.calcs.salary.area6')|trans({}, 'AppBundle') }}': 9496 },
        { '{{ ('app.frontend.calcs.salary.area7')|trans({}, 'AppBundle') }}': 9496 },
        { '{{ ('app.frontend.calcs.salary.area8')|trans({}, 'AppBundle') }}': 5641 },
        { '{{ ('app.frontend.calcs.salary.area9')|trans({}, 'AppBundle') }}': 15713 },
        { '{{ ('app.frontend.calcs.salary.area10')|trans({}, 'AppBundle') }}': 15596 },
        { '{{ ('app.frontend.calcs.salary.area11')|trans({}, 'AppBundle') }}': 7029 },
        { '{{ ('app.frontend.calcs.salary.area12')|trans({}, 'AppBundle') }}': 11397 },
        { '{{ ('app.frontend.calcs.salary.area13')|trans({}, 'AppBundle') }}': 6812 },
        { '{{ ('app.frontend.calcs.salary.area14')|trans({}, 'AppBundle') }}': 11265 },
        { '{{ ('app.frontend.calcs.salary.area15')|trans({}, 'AppBundle') }}': 6557 },
        { '{{ ('app.frontend.calcs.salary.area16')|trans({}, 'AppBundle') }}': 5537 },
        { '{{ ('app.frontend.calcs.salary.area17')|trans({}, 'AppBundle') }}': 5537 },
        { '{{ ('app.frontend.calcs.salary.area18')|trans({}, 'AppBundle') }}': 7054 },
        { '{{ ('app.frontend.calcs.salary.area19')|trans({}, 'AppBundle') }}': 7998 },
    ];

    function salarycalc_init() {
        document.getElementById('salary_calc_button').addEventListener('click', function(){
            document.getElementById('salarycalc_result').innerHTML = '';

            if(document.getElementById('salary_calc_salary').value != '' && parseInt(document.getElementById('salary_calc_region').value) > 0 && parseInt(document.getElementById('salary_calc_area').value) > 0) {
                salary = document.getElementById('salary_calc_salary').value;
                salary = salary.replace(",","");
                salary = salary.replace(".","");
                salary = salary.replace(" ","");
                salary = parseInt(salary);

                s_region = parseInt(document.getElementById('salary_calc_region').value);
                s_area = parseInt(document.getElementById('salary_calc_area').value);

                var s_less = '{{ ('app.frontend.calcs.salary.less')|trans({}, 'AppBundle') }}';
                var s_greater = '{{ ('app.frontend.calcs.salary.more')|trans({}, 'AppBundle') }}';

                result = '';
                result += '{{ ('app.frontend.calcs.salary.your_salary')|trans({}, 'AppBundle') }} ' + Math.abs(salary - s_area) + ' грн, {{ ('app.frontend.calcs.salary.or')|trans({}, 'AppBundle') }} на ' + Math.round(Math.abs(salary  * 100 / s_area - 100)) + '% ' + (salary - s_area > 0 ? s_greater : s_less) + ', {{ ('app.frontend.calcs.salary.than1')|trans({}, 'AppBundle') }}';
                result += '<br><br>';
                result += '{{ ('app.frontend.calcs.salary.your_salary')|trans({}, 'AppBundle') }} ' + Math.abs(salary - s_region) + ' грн, {{ ('app.frontend.calcs.salary.or')|trans({}, 'AppBundle') }} на ' + Math.round(Math.abs(salary  * 100 / s_region - 100)) + '% ' + (salary - s_region > 0 ? s_greater : s_less) + ', {{ ('app.frontend.calcs.salary.than2')|trans({}, 'AppBundle') }}';

                document.getElementById('salarycalc_result').innerHTML = result;
            }
        });

        select_html = '<select id="salary_calc_region">';
        select_html += '<option value="">{{ ('app.frontend.calcs.salary.set_value')|trans({}, 'AppBundle') }}</option>';
        for(var i in salary_calc_regions) {
            select_html += '<option value="' + Object.values(salary_calc_regions[i])[0] + '">' + Object.keys(salary_calc_regions[i])[0] + '</option>';
        }
        select_html += '</select>';
        document.getElementById('salary_calc_region_cont').innerHTML = select_html;

        select_html = '<select id="salary_calc_area" style="width: 550px;">';
        select_html += '<option value="">{{ ('app.frontend.calcs.salary.set_value')|trans({}, 'AppBundle') }}</option>';
        for(var i in salary_calc_areas) {
            if(Object.values(salary_calc_areas[i])[0] instanceof Array) {
                select_html += '<optgroup label="' + Object.keys(salary_calc_areas[i])[0] + '">';
                for(var ii in Object.values(salary_calc_areas[i])[0]) {
                    if(Object.values(Object.values(salary_calc_areas[i])[0][ii])[0] instanceof Array) {
                        select_html += '<optgroup label="&nbsp;&nbsp;&nbsp;&nbsp;' + Object.keys(Object.values(salary_calc_areas[i])[0][ii])[0] + '" style="padding-left:15px">';
                        for(var iii in Object.values(Object.values(salary_calc_areas[i])[0][ii])[0]) {
                            select_html += '<option value="' + Object.values(Object.values(Object.values(salary_calc_areas[i])[0][ii])[0][iii])[0] + '">&nbsp;&nbsp;&nbsp;&nbsp;' + Object.keys(Object.values(Object.values(salary_calc_areas[i])[0][ii])[0][iii])[0] + '</option>';
                        }
                        select_html += '</optgroup>';
                    } else {
                        select_html += '<option value="' + Object.values(Object.values(salary_calc_areas[i])[0][ii])[0] + '">' + Object.keys(Object.values(salary_calc_areas[i])[0][ii])[0] + '</option>';
                    }
                }
                select_html += '</optgroup>';
            } else {
                select_html += '<option value="' + Object.values(salary_calc_areas[i])[0] + '">' + Object.keys(salary_calc_areas[i])[0] + '</option>';
            }
        }
        select_html += '</select>';
        document.getElementById('salary_calc_area_cont').innerHTML = select_html;

    }
    salarycalc_init();
</script>