<div class="taxes_cont">
	<fieldset class="taxes_calc">
		<legend>{{ ('app.frontend.calcs.taxes.title')|trans({}, 'AppBundle') }}:</legend>
		<div>{{ ('app.frontend.calcs.taxes.income')|trans({}, 'AppBundle') }}:<br><input type="text" id="tcalc_salary" value=""> {{ ('app.frontend.calcs.taxes.uah')|trans({}, 'AppBundle') }}</div>
		<div>{{ ('app.frontend.calcs.taxes.job')|trans({}, 'AppBundle') }}:<br>
			<div><input type="radio" name="tcalc_city" value="1"> {{ ('app.frontend.calcs.taxes.kiev')|trans({}, 'AppBundle') }}</div>
			<div><input type="radio" name="tcalc_city" value="2"> {{ ('app.frontend.calcs.taxes.other_city')|trans({}, 'AppBundle') }}</div>
		</div>
		<div><input type="button" id="tcalc_button" value="{{ ('app.frontend.calcs.taxes.do')|trans({}, 'AppBundle') }}"></div>
		<div>{{ ('app.frontend.calcs.taxes.result')|trans({}, 'AppBundle') }}: <span id="result">-</span></div>
		<div class="taxes_hint">* {{ ('app.frontend.calcs.taxes.hint')|trans({}, 'AppBundle') }}</div>
	</fieldset>
</div>
<script>
    function taxes_calc_init() {
        document.getElementById('tcalc_button').addEventListener('click', function(){
            salary = document.getElementById('tcalc_salary').value;
            salary = salary.replace(",",".");
            salary = salary.replace(" ","");
            salary = parseInt(salary);
            if(salary > 0) {
                city = document.querySelector('input[name=tcalc_city]:checked').value;

                tcY = Math.round(salary * 0.22 * 0.8252);
                tcZ = Math.round(tcY * 12 / 1312);
                tcK = Math.round(salary * 0.015);
                if(city == '1') {
                    tcL = Math.round(salary * 0.18 * 0.6);
                    tcM = Math.round(salary * 0.18 * 0.4);
                } else {
                    tcL = Math.round(salary * 0.18 * 0.4);
                    tcM = Math.round(salary * 0.18 * 0.6);
                }
                tcN = Math.round(salary * 1.415);

                result = '';
                result += '<div>{{ ('app.frontend.calcs.taxes.result1')|trans({}, 'AppBundle') }} ' + tcY + ' {{ ('app.frontend.calcs.taxes.uah')|trans({}, 'AppBundle') }}</div>';
                result += '<div>{{ ('app.frontend.calcs.taxes.result2')|trans({}, 'AppBundle') }} ' + tcZ + ' {{ ('app.frontend.calcs.taxes.result21')|trans({}, 'AppBundle') }}</div>';
                result += '<div>{{ ('app.frontend.calcs.taxes.result3')|trans({}, 'AppBundle') }} ' + tcK + ' {{ ('app.frontend.calcs.taxes.result31')|trans({}, 'AppBundle') }}</div>';
                result += '<div>{{ ('app.frontend.calcs.taxes.result4')|trans({}, 'AppBundle') }} ' + tcL + ' {{ ('app.frontend.calcs.taxes.result41')|trans({}, 'AppBundle') }} ' + tcM + ' {{ ('app.frontend.calcs.taxes.result42')|trans({}, 'AppBundle') }}</div>';
                result += '<div>{{ ('app.frontend.calcs.taxes.result5')|trans({}, 'AppBundle') }} ' + tcN + ' {{ ('app.frontend.calcs.taxes.uah')|trans({}, 'AppBundle') }}</div>';

                document.getElementById('result').innerHTML = result;
            } else {
                document.getElementById('result').innerHTML = '{{ ('app.frontend.calcs.taxes.error')|trans({}, 'AppBundle') }}';
            }
        });
    }
    taxes_calc_init();
</script>